openapi: 3.2.0
info:
  title: Deel Core Custom Fields API
  description: 'Core organizational, contract, and people APIs for Deel. Covers organizations,

    legal entities, departments, groups, managers, cost centers, contracts (IC, EOR,

    Global Payroll), invoice adjustments, lookups, magic links, tasks, and custom fields.


    Authentication uses bearer Organization or Personal API tokens generated from the

    Deel Developer Center. Production base URL is https://api.letsdeel.com/rest/v2 and

    the sandbox is https://api-sandbox.demo.deel.com/rest/v2.'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/
  termsOfService: https://www.deel.com/legal/terms-of-service/
  license:
    name: Deel Developer Terms
    url: https://www.deel.com/legal/
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Custom Fields
  description: Custom fields on contracts and people
paths:
  /custom-fields/contracts:
    get:
      operationId: getCustomFieldsContracts
      summary: List Contract Custom Fields
      tags:
      - Custom Fields
      responses:
        '200':
          description: Custom fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomField'
components:
  schemas:
    CustomField:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        label:
          type: string
        type:
          type: string
          enum:
          - text
          - number
          - date
          - select
          - boolean
        required:
          type: boolean
        options:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Deel Organization or Personal API token issued from the Developer Center.
