openapi: 3.2.0
info:
  title: Deel Core Magic Link API
  description: 'Core organizational, contract, and people APIs for Deel. Covers organizations,

    legal entities, departments, groups, managers, cost centers, contracts (IC, EOR,

    Global Payroll), invoice adjustments, lookups, magic links, tasks, and custom fields.


    Authentication uses bearer Organization or Personal API tokens generated from the

    Deel Developer Center. Production base URL is https://api.letsdeel.com/rest/v2 and

    the sandbox is https://api-sandbox.demo.deel.com/rest/v2.'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/
  termsOfService: https://www.deel.com/legal/terms-of-service/
  license:
    name: Deel Developer Terms
    url: https://www.deel.com/legal/
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Magic Link
  description: Generate single-use deep links into the Deel app
paths:
  /magic-link:
    post:
      operationId: createMagicLink
      summary: Create Magic Link
      description: Generate a single-use deep link into the Deel app for a worker or admin.
      tags:
      - Magic Link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - target
              properties:
                user_id:
                  type: string
                target:
                  type: string
                  description: Deel app target route
                expires_in_minutes:
                  type: integer
                  default: 60
      responses:
        '200':
          description: Magic link
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      expires_at:
                        type: string
                        format: date-time
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Deel Organization or Personal API token issued from the Developer Center.
