openapi: 3.2.0
info:
  title: Deel Employer of Record (EOR) EOR Benefits API
  description: 'APIs for compliantly hiring full-time employees in 100+ countries where the client

    lacks a local entity. The EOR API covers the three-party signature flow, cost

    calculation, country-specific benefits and hiring guides, amendments, terminations,

    offboarding, and worker self-service surfaces (banks, documents, payslips, mailboxes).'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/employer-of-record/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: EOR Benefits
  description: Country-specific benefit plans and worker enrollment
paths:
  /eor/benefits/{country_code}:
    get:
      operationId: getEorBenefitsByCountry
      summary: Retrieve Benefits By Country
      tags:
      - EOR Benefits
      parameters:
      - name: country_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Benefit plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenefitPlan'
components:
  schemas:
    BenefitPlan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
        category:
          type: string
          enum:
          - health
          - dental
          - vision
          - retirement
          - life
          - disability
          - wellness
          - other
        cost:
          type: number
        currency:
          type: string
        coverage:
          type: string
        eligibility:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
