# x-archived-from: deel-subpackage-eorworkerbanks-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Endpoints Subpackage Eor Worker Banks API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_eorWorkerBanks
paths:
  /eor/workers/banks-guide/country/{country}/currency/{currency}:
    get:
      operationId: get-eor-worker-bank-guide-by-country-and-currency
      summary: Retrieve bank account guide
      description: "Retrieve bank account form guide for an EOR employee. This data can be used to add a new bank account for an employee.\n **Token scopes**: `worker:read`"
      tags:
      - subpackage_eorWorkerBanks
      parameters:
      - name: country
        in: path
        description: Country
        required: true
        schema:
          type: string
      - name: currency
        in: path
        description: Currency
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-worker-banks_getEORWorkerBankGuideByCountryAndCurrency_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveBankAccountGuide-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /eor/workers/banks/guide:
    get:
      operationId: get-eor-worker-bank-guide
      summary: Retrieve bank account guide
      description: "Retrieve bank account form guide for an EOR employee. This data can be used to add a new bank account for an employee.\n **Token scopes**: `worker:read`"
      tags:
      - subpackage_eorWorkerBanks
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-worker-banks_getEORWorkerBankGuide_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItems:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsType'
        value:
          $ref: '#/components/schemas/EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsValue'
      title: EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItems
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        field:
          type: string
          description: Name of the field causing the error (for validation issues)
        message:
          type: string
          description: Human-readable explanation of the error
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaErrorsItems
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        key:
          type: string
          description: The key of the field.
        type:
          type: string
          description: Type of the field
        ui_guide:
          $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsUiGuide'
          description: UI guidance information for rendering this field in forms.
        is_required:
          type:
          - boolean
          - 'null'
          description: Whether the field is required or not.
        validations:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItems'
          description: Array of validation rules that apply to this field.
        values_allowed:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValuesAllowedItems'
          description: Array of allowed values for this field (used for dropdowns, select lists, etc.).
      required:
      - key
      - ui_guide
      - is_required
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItems
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsType:
      type: string
      enum:
      - MIN_LENGTH
      - MAX_LENGTH
      - REGEX
      description: The type of validation rule to apply.
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsType
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      description: The value to use for the validation rule (e.g., minimum length, regex pattern).
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsValue
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsUiGuide:
      type: object
      properties:
        label:
          type: string
          description: Label for this field.
        order:
          type: integer
          description: Order of the field in the form.
        helper_text:
          type:
          - string
          - 'null'
          description: Helper text to guide the user.
      description: UI guidance information for rendering this field in forms.
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsUiGuide
    eor-worker-banks_getEORWorkerBankGuideByCountryAndCurrency_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItems'
      required:
      - data
      title: eor-worker-banks_getEORWorkerBankGuideByCountryAndCurrency_Response_200
    EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        key:
          type: string
          description: The key of the field.
        type:
          type: string
          description: Type of the field
        label:
          type: string
          description: Label for this field.
        required:
          type: boolean
          description: Whether the field is required or not.
        validations:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItems'
        values_allowed:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValuesAllowedItems'
      required:
      - key
      - required
      title: EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItems
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValuesAllowedItems:
      type: object
      properties:
        label:
          type: string
          description: The name of the allowed value.
        value:
          type: string
          description: The value of the allowed value.
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValuesAllowedItems
    EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItems:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsType'
          description: The type of validation rule to apply.
        value:
          $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsValue'
          description: The value to use for the validation rule (e.g., minimum length, regex pattern).
        error_message:
          type: string
          description: Error message to be displayed if validation fails.
      title: EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaDataItemsValidationsItems
    eor-worker-banks_getEORWorkerBankGuide_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItems'
      required:
      - data
      title: eor-worker-banks_getEORWorkerBankGuide_Response_200
    RetrieveBankAccountGuide-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkersBanksGuideCountryCountryCurrencyCurrencyGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveBankAccountGuide-v2026-01-01RequestBadRequestError
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsType:
      type: string
      enum:
      - MIN_LENGTH
      - MAX_LENGTH
      - REGEX
      title: EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsType
    EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      title: EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValidationsItemsValue
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValuesAllowedItems:
      type: object
      properties:
        label:
          type: string
          description: The name of the allowed value.
        value:
          type: string
          description: The value of the allowed value.
      title: EorWorkersBanksGuideGetResponsesContentApplicationJsonSchemaDataItemsValuesAllowedItems
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
