# x-archived-from: deel-subpackage-workerrelations-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Endpoints Subpackage Worker Relations API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_workerRelations
paths:
  /hris/worker_relations/profile/{hrisProfileOid}/child:
    put:
      operationId: add-worker-relation-child
      summary: Add Worker Relation Child
      tags:
      - subpackage_workerRelations
      parameters:
      - name: hrisProfileOid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /hris/worker_relations/profile/external/{profileId}/parent:
    put:
      operationId: add-worker-relation-parent-by-external-id
      summary: Add Worker Relation Parent By External Id
      tags:
      - subpackage_workerRelations
      parameters:
      - name: profileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /hris/worker_relations/profile/{hrisProfileOid}/parent:
    put:
      operationId: add-worker-relation-parent
      summary: Create a parent worker relation
      description: "Create a parent worker relation.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: hrisProfileOid
        in: path
        description: HrisProfile ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_addWorkerRelationParent_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidParentPutRequestBodyContentApplicationJsonSchemaData'
  /hris/worker_relations/profile:
    post:
      operationId: create-worker-relation-profile
      summary: Create a worker relation
      description: "Create a hierarchical relation between a worker and its subordinates.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_createWorkerRelationProfile_Response_201'
        '400':
          description: Bad request - The request body is invalid, missing required fields, or a circular relationship was detected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAWorkerRelation-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not found - The parent profile, child profile, or relationship type was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAWorkerRelation-v2026-01-01RequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsProfilePostRequestBodyContentApplicationJsonSchemaData'
                  description: The request payload containing the relationship details.
  /hris/worker_relations/profile/external/{profileId}/child:
    put:
      operationId: add-worker-relation-child-by-external-id
      summary: Create child worker relation with external Id
      description: "Create child worker relation with external Id.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: profileId
        in: path
        description: HrisProfile external ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_addWorkerRelationChildByExternalId_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaData'
  /hris/worker_relations/types:
    post:
      operationId: create-worker-relation-type
      summary: Create worker relation type
      description: "Create worker relation type.\n **Token scopes**: `organizations:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_createWorkerRelationType_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsTypesPostRequestBodyContentApplicationJsonSchemaData'
    get:
      operationId: get-worker-relation-types
      summary: Retrieve all worker relation types
      description: "Retrieves all worker relationship types defined for the organization.\n **Token scopes**: `organizations:read`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_getWorkerRelationTypes_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAllWorkerRelationTypes-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAllWorkerRelationTypes-v2026-01-01RequestInternalServerError'
  /hris/worker_relations/profile/external:
    post:
      operationId: create-worker-relation-profile-by-external-id
      summary: Create worker relation with external Ids
      description: "Create a hierarchical relation between a worker and its subordinates using external IDs to identify them.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_createWorkerRelationProfileByExternalId_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalPostRequestBodyContentApplicationJsonSchemaData'
  /hris/worker_relations/profile/{hrisProfileOid}:
    delete:
      operationId: delete-worker-relation-profile
      summary: Delete a worker relation
      description: "Delete a worker relation.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: hrisProfileOid
        in: path
        description: Worker Relation ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_deleteWorkerRelationProfile_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
    get:
      operationId: get-worker-relation-profile
      summary: List of worker relations
      description: "List of worker relations.\n **Token scopes**: `profile:read`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: hrisProfileOid
        in: path
        description: HrisProfile ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_getWorkerRelationProfile_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /hris/worker_relations/profile/external/{profileId}:
    delete:
      operationId: delete-worker-relation-profile-by-external-id
      summary: Delete a worker relation by external id
      description: "Delete a worker relation by external id.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: profileId
        in: path
        description: Worker Relation external ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_deleteWorkerRelationProfileByExternalId_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
    get:
      operationId: get-worker-relation-profile-by-external-id
      summary: Get Worker Relation Profile By External Id
      tags:
      - subpackage_workerRelations
      parameters:
      - name: profileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /hris/worker_relations/types/external/{externalId}:
    delete:
      operationId: delete-worker-relation-type-by-external-id
      summary: Delete a worker relation type by external id
      description: "Delete a Worker Relation Type by the external ID.\n **Token scopes**: `organizations:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: externalId
        in: path
        description: Worker Relation Type external ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_deleteWorkerRelationTypeByExternalId_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
    patch:
      operationId: update-worker-relation-type-by-external-id
      summary: Update a worker relation type by external id
      description: "Update a worker relation type by external id.\n **Token scopes**: `organizations:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: externalId
        in: path
        description: Worker Relation Type external ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_updateWorkerRelationTypeByExternalId_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsTypesExternalExternalIdPatchRequestBodyContentApplicationJsonSchemaData'
  /hris/worker_relations/types/{typeId}:
    delete:
      operationId: delete-worker-relation-type
      summary: Delete Worker Relation Type
      tags:
      - subpackage_workerRelations
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
    patch:
      operationId: update-worker-relation-type
      summary: Update a worker relation type
      description: "Update a worker relation type.\n **Token scopes**: `organizations:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: typeId
        in: path
        description: Worker Relation Type id
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/worker-relations_updateWorkerRelationType_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsTypesTypeIdPatchRequestBodyContentApplicationJsonSchemaData'
  /hris/worker_relations/profile/external/{profile_id}/parent:
    put:
      operationId: create-a-parent-worker-relation-with-external-id-v-2026-01-01
      summary: Create a parent worker relation with external id
      description: "Sets or replaces the parent relationship for the specified HRIS profile, using external identifiers. Pass null as parent_profile_external_id to remove the existing parent relationship.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: profile_id
        in: path
        description: HrisProfile external ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker_Relations_createAParentWorkerRelationWithExternalId-v2026-01-01_Response_204'
        '400':
          description: Bad request - The request body is invalid or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAParentWorkerRelationWithExternalId-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not found - The HRIS profile, relationship type, or parent profile was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAParentWorkerRelationWithExternalId-v2026-01-01RequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdParentPutRequestBodyContentApplicationJsonSchemaData'
                  description: The request payload containing parent relationship details.
  /hris/worker_relations/profile/{hris_profile_oid}/child:
    put:
      operationId: create-child-worker-relation-v-2026-01-01
      summary: Create child worker relation
      description: "Replaces all child relationships of a given type for the specified HRIS profile. Any existing child relationships of that type not included in the request will be removed.\n **Token scopes**: `profile:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: hris_profile_oid
        in: path
        description: HrisProfile ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker_Relations_createChildWorkerRelation-v2026-01-01_Response_204'
        '400':
          description: Bad request - The request body is invalid or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChildWorkerRelation-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not found - The HRIS profile or relationship type was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChildWorkerRelation-v2026-01-01RequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidChildPutRequestBodyContentApplicationJsonSchemaData'
  /hris/worker_relations/types/{type_id}:
    delete:
      operationId: delete-a-worker-relation-type-v-2026-01-01
      summary: Delete a worker relation type
      description: "Deletes an existing worker relationship type.\n **Token scopes**: `organizations:write`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: type_id
        in: path
        description: Worker Relation Type ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker_Relations_deleteAWorkerRelationType-v2026-01-01_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAWorkerRelationType-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAWorkerRelationType-v2026-01-01RequestInternalServerError'
  /hris/worker_relations/profile/external/{profile_id}:
    get:
      operationId: fetch-worker-relations-of-a-given-hris-profile-by-external-id-v-2026-01-01
      summary: Fetch Worker Relations of a given HrisProfile by external id
      description: "Retrieves all worker relationships for a given HRIS profile identified by its external identifier, including parent and child relationships.\n **Token scopes**: `profile:read`"
      tags:
      - subpackage_workerRelations
      parameters:
      - name: profile_id
        in: path
        description: HrisProfile external ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker_Relations_fetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01_Response_200'
        '400':
          description: Bad request - The provided profileId parameter is invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not found - No HRIS profile exists for the provided externalId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01RequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    worker-relations_addWorkerRelationParent_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_addWorkerRelationParent_Response_204
    worker-relations_updateWorkerRelationTypeByExternalId_Response_204:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/HrisWorkerRelationsTypesExternalExternalIdPatchResponsesContentApplicationJsonSchemaData'
      title: worker-relations_updateWorkerRelationTypeByExternalId_Response_204
    worker-relations_createWorkerRelationProfileByExternalId_Response_201:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_createWorkerRelationProfileByExternalId_Response_201
    Worker_Relations_deleteAWorkerRelationType-v2026-01-01_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: Worker Relations_deleteAWorkerRelationType-v2026-01-01_Response_204
    worker-relations_deleteWorkerRelationProfile_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_deleteWorkerRelationProfile_Response_204
    HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItemsParentRelationship:
      type: object
      properties:
        last_name:
          type: string
          description: The last name of the parent profile
        first_name:
          type: string
          description: The first name of the parent profile
        profile_id:
          type: string
          format: uuid
          description: The ID of the parent profile
        relation_id:
          type: string
          format: uuid
          description: The ID of the relation between the profiles
        profile_external_id:
          type: string
          description: The external ID of the parent profile
        relation_external_id:
          type: string
          description: The external ID of the relation
      description: An object that has information about the parent profile in the relation.
      title: HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItemsParentRelationship
    RetrieveAllWorkerRelationTypes-v2026-01-01RequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveAllWorkerRelationTypes-v2026-01-01RequestInternalServerError
    CreateAWorkerRelation-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfilePostResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateAWorkerRelation-v2026-01-01RequestBadRequestError
    worker-relations_deleteWorkerRelationProfileByExternalId_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_deleteWorkerRelationProfileByExternalId_Response_204
    worker-relations_getWorkerRelationTypes_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaDataItems'
      title: worker-relations_getWorkerRelationTypes_Response_200
    FetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: FetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01RequestBadRequestError
    HrisWorkerRelationsProfilePostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        child_hris_profile_ids:
          type: array
          items:
            type: string
            format: uuid
          description: An array containing the secondary HrisProfiles IDs.
        parent_hris_profile_id:
          type: string
          format: uuid
          description: Primary HrisProfile ID
        hris_relationship_type_id:
          type: string
          format: uuid
          description: The ID of the Worker Relation Type.
      required:
      - child_hris_profile_ids
      - parent_hris_profile_id
      - hris_relationship_type_id
      description: The request payload containing the relationship details.
      title: HrisWorkerRelationsProfilePostRequestBodyContentApplicationJsonSchemaData
    HrisWorkerRelationsProfileExternalProfileIdParentPutRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        relation_external_id:
          type:
          - string
          - 'null'
          description: The external identifier for this specific relation record.
        parent_profile_external_id:
          type:
          - string
          - 'null'
          description: The external identifier of the parent HRIS Profile. Pass null to remove the existing parent relationship.
        hris_relationship_type_external_id:
          type: string
          description: The external identifier of the relationship type to apply.
      required:
      - parent_profile_external_id
      - hris_relationship_type_external_id
      description: The request payload containing parent relationship details.
      title: HrisWorkerRelationsProfileExternalProfileIdParentPutRequestBodyContentApplicationJsonSchemaData
    worker-relations_createWorkerRelationType_Response_201:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/HrisWorkerRelationsTypesPostResponsesContentApplicationJsonSchemaData'
      title: worker-relations_createWorkerRelationType_Response_201
    HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        field:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaErrorsItems
    DeleteAWorkerRelationType-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsTypesTypeIdDeleteResponsesContentApplicationJsonSchemaErrorsItems'
      title: DeleteAWorkerRelationType-v2026-01-01RequestBadRequestError
    Worker_Relations_fetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItems'
          description: An array containing the Worker Relations of the profile. It includes either the parent or child relations.
      title: Worker Relations_fetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01_Response_200
    HrisWorkerRelationsProfileHrisProfileOidChildPutRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          description: An array containing the IDs of the child profiles
        hris_relationship_type_id:
          type: string
          format: uuid
          description: The ID of the relationship type
      required:
      - ids
      - hris_relationship_type_id
      title: HrisWorkerRelationsProfileHrisProfileOidChildPutRequestBodyContentApplicationJsonSchemaData
    worker-relations_updateWorkerRelationType_Response_204:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/HrisWorkerRelationsTypesTypeIdPatchResponsesContentApplicationJsonSchemaData'
      title: worker-relations_updateWorkerRelationType_Response_204
    HrisWorkerRelationsProfileExternalProfileIdParentPutResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        field:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: HrisWorkerRelationsProfileExternalProfileIdParentPutResponsesContentApplicationJsonSchemaErrorsItems
    worker-relations_getWorkerRelationProfile_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItems'
          description: An array containing the Worker Relations of the profile. It includes either the parent or child relations.
      title: worker-relations_getWorkerRelationProfile_Response_200
    CreateAWorkerRelation-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfilePostResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateAWorkerRelation-v2026-01-01RequestNotFoundError
    RetrieveAllWorkerRelationTypes-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveAllWorkerRelationTypes-v2026-01-01RequestBadRequestError
    HrisWorkerRelationsProfilePostResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        field:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: HrisWorkerRelationsProfilePostResponsesContentApplicationJsonSchemaErrorsItems
    Worker_Relations_createAParentWorkerRelationWithExternalId-v2026-01-01_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: Worker Relations_createAParentWorkerRelationWithExternalId-v2026-01-01_Response_204
    HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItemsParentRelationship:
      type: object
      properties:
        last_name:
          type: string
          description: The last name of the parent profile
        first_name:
          type: string
          description: The first name of the parent profile
        profile_id:
          type: string
          format: uuid
          description: The ID of the parent profile
        relation_id:
          type: string
          format: uuid
          description: The ID of the relation between the profiles
      description: An object that has information about the parent profile in the relation.
      title: HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItemsParentRelationship
    HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the relation type
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        is_default:
          type: boolean
          description: Whether this relation is default or not
        external_id:
          type:
          - string
          - 'null'
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaDataItems
    worker-relations_addWorkerRelationChildByExternalId_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_addWorkerRelationChildByExternalId_Response_204
    HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        child_hris_profile_ids:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems'
        hris_relationship_type_external_id:
          type: string
          format: uuid
      required:
      - child_hris_profile_ids
      title: HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaData
    CreateChildWorkerRelation-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidChildPutResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateChildWorkerRelation-v2026-01-01RequestNotFoundError
    HrisWorkerRelationsTypesPostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        is_default:
          type: boolean
          default: false
          description: Whether this relation is default or not
        external_id:
          type: string
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesPostRequestBodyContentApplicationJsonSchemaData
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the relation type
        name:
          type: string
          description: The name of the relation type
        is_parent:
          type: boolean
          description: Whether this relation is the parent or not
        is_default:
          type: boolean
          description: Whether this relation is default or not
        child_relationships:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItemsChildRelationshipsItems'
          description: An array containing the information about the child profiles in the relation.
        parent_relationship:
          oneOf:
          - $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItemsParentRelationship'
          - type: 'null'
          description: An object that has information about the parent profile in the relation.
      title: HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItems
    CreateAParentWorkerRelationWithExternalId-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdParentPutResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateAParentWorkerRelationWithExternalId-v2026-01-01RequestBadRequestError
    HrisWorkerRelationsTypesExternalExternalIdPatchResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the relation type
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        is_default:
          type: boolean
          description: Whether this relation is default or not
        external_id:
          type: string
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesExternalExternalIdPatchResponsesContentApplicationJsonSchemaData
    HrisWorkerRelationsProfileExternalPostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        child_hris_profile_ids:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalPostRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems'
          description: An array containing the secondary HrisProfiles external IDs and the relation external ID.
        parent_external_hris_profile_id:
          type: string
          description: Primary HrisProfile external ID
        hris_relationship_type_external_id:
          type: string
          description: The external ID of the Worker Relation Type.
      required:
      - child_hris_profile_ids
      - parent_external_hris_profile_id
      - hris_relationship_type_external_id
      title: HrisWorkerRelationsProfileExternalPostRequestBodyContentApplicationJsonSchemaData
    HrisWorkerRelationsProfileHrisProfileOidChildPutResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        field:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: HrisWorkerRelationsProfileHrisProfileOidChildPutResponsesContentApplicationJsonSchemaErrorsItems
    DeleteAWorkerRelationType-v2026-01-01RequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsTypesTypeIdDeleteResponsesContentApplicationJsonSchemaErrorsItems'
      title: DeleteAWorkerRelationType-v2026-01-01RequestInternalServerError
    worker-relations_deleteWorkerRelationTypeByExternalId_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_deleteWorkerRelationTypeByExternalId_Response_204
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the relation type
        name:
          type: string
          description: The name of the relation type
        is_parent:
          type: boolean
          description: Whether this relation is the parent or not
        is_default:
          type: boolean
          description: Whether this relation is default or not
        child_relationships:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItemsChildRelationshipsItems'
          description: An array containing the information about the child profiles in the relation.
        parent_relationship:
          $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItemsParentRelationship'
          description: An object that has information about the parent profile in the relation.
      title: HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItems
    HrisWorkerRelationsProfileExternalPostRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems:
      type: object
      properties:
        relation_external_id:
          type: string
          description: A custom ID to set to the relation.
        external_hris_profile_id:
          type: string
          description: The external ID of the secondary HrisProfile.
      required:
      - relation_external_id
      - external_hris_profile_id
      title: HrisWorkerRelationsProfileExternalPostRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems
    HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems0:
      type: object
      properties:
        relation_external_id:
          type: string
        external_hris_profile_id:
          type: string
      required:
      - relation_external_id
      - external_hris_profile_id
      title: HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems0
    FetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: FetchWorkerRelationsOfAGivenHrisProfileByExternalId-v2026-01-01RequestNotFoundError
    HrisWorkerRelationsProfileHrisProfileOidParentPutRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the parent profile
        hris_relationship_type_id:
          type: string
          format: uuid
          description: The ID of the relationship type
      required:
      - id
      - hris_relationship_type_id
      title: HrisWorkerRelationsProfileHrisProfileOidParentPutRequestBodyContentApplicationJsonSchemaData
    HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable explanation of the error
      title: HrisWorkerRelationsTypesGetResponsesContentApplicationJsonSchemaErrorsItems
    worker-relations_createWorkerRelationProfile_Response_201:
      type: object
      properties: {}
      description: Empty response body
      title: worker-relations_createWorkerRelationProfile_Response_201
    HrisWorkerRelationsTypesTypeIdPatchResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: integer
          description: Worker Relation Type id
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        is_default:
          type: boolean
          description: Whether this relation is default or not
        external_id:
          type: string
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesTypeIdPatchResponsesContentApplicationJsonSchemaData
    HrisWorkerRelationsTypesPostResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the relation type
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        is_default:
          type: boolean
          description: Whether this relation is default or not
        external_id:
          type: string
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesPostResponsesContentApplicationJsonSchemaData
    HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItemsChildRelationshipsItems:
      type: object
      properties:
        last_name:
          type: string
          description: The last name of the child profile
        first_name:
          type: string
          description: The first name of the child profile
        profile_id:
          type: string
          format: uuid
          description: The ID of the child profile
        external_id:
          type: string
          description: The external ID of the child profile
        relation_id:
          type: string
          format: uuid
          description: The ID of the relation between the profiles
      title: HrisWorkerRelationsProfileExternalProfileIdGetResponsesContentApplicationJsonSchemaDataItemsChildRelationshipsItems
    Worker_Relations_createChildWorkerRelation-v2026-01-01_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: Worker Relations_createChildWorkerRelation-v2026-01-01_Response_204
    HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems:
      oneOf:
      - $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems0'
      title: HrisWorkerRelationsProfileExternalProfileIdChildPutRequestBodyContentApplicationJsonSchemaDataChildHrisProfileIdsItems
    CreateChildWorkerRelation-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileHrisProfileOidChildPutResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateChildWorkerRelation-v2026-01-01RequestBadRequestError
    CreateAParentWorkerRelationWithExternalId-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/HrisWorkerRelationsProfileExternalProfileIdParentPutResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateAParentWorkerRelationWithExternalId-v2026-01-01RequestNotFoundError
    HrisWorkerRelationsTypesTypeIdPatchRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        external_id:
          type: string
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesTypeIdPatchRequestBodyContentApplicationJsonSchemaData
    HrisWorkerRelationsTypesExternalExternalIdPatchRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        child_name:
          type: string
          description: The name of the secondary party in the relationship
        external_id:
          type: string
          description: A custom ID for the relation type
        parent_name:
          type: string
          description: The name of the primary party in the relationship
      title: HrisWorkerRelationsTypesExternalExternalIdPatchRequestBodyContentApplicationJsonSchemaData
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    HrisWorkerRelationsTypesTypeIdDeleteResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable explanation of the error
      title: HrisWorkerRelationsTypesTypeIdDeleteResponsesContentApplicationJsonSchemaErrorsItems
    HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItemsChildRelationshipsItems:
      type: object
      properties:
        last_name:
          type: string
          description: The last name of the child profile
        first_name:
          type: string
          description: The first name of the child profile
        profile_id:
          type: string
          format: uuid
          description: The ID of the child profile
        relation_id:
          type: string
          format: uuid
          description: The ID of the relation between the profiles
      title: HrisWorkerRelationsProfileHrisProfileOidGetResponsesContentApplicationJsonSchemaDataItemsChildRelationshipsItems
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
