openapi: 3.2.0
info:
  title: Deel Webhooks Webhook Events API
  description: 'Webhook management API and event catalog for real-time notifications across contracts,

    invoices, payroll, time off, EOR onboarding, ATS, and worker lifecycle events. Webhook

    payloads are HMAC-SHA256 signed and can be simulated from the Developer Center without

    affecting production data.'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/webhooks/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Webhook Events
  description: Discover available webhook event types
paths:
  /webhooks/events:
    get:
      operationId: getWebhookEvents
      summary: List Of Webhook Event Types
      tags:
      - Webhook Events
      responses:
        '200':
          description: Event types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                          enum:
                          - contract
                          - invoice
                          - payroll
                          - time_off
                          - eor
                          - ats
                          - worker
                          - document
                          - immigration
                          - screening
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
