openapi: 3.2.0
info:
  title: Endpoints Subpackage Employees API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_employees
paths:
  /benefits/legal-entities/{id}/employees/{employee_id}:
    get:
      operationId: get-employee-from-organization-integrated-with-external-benefits-vendor-v-2026-01-01
      summary: Get employee from organization integrated with external benefits vendor
      description: 'Returns profile and contract data for a single employee within a legal entity integrated with an external benefits vendor. When `active_contracts` is `true`, only active contracts are included in the response.


        **Related endpoints**

        - use `contract_id` from contracts in response with `GET /benefits/legal-entities/{legal_entity_id}/contracts/{contract_id}/plans/{plan_id}`

        - use `contract_id` from contracts in response with `DELETE /benefits/legal-entities/{id}/contracts/{contract_id}/plans/{plan_id}`

        **Token scopes**: `people:read`'
      tags:
      - subpackage_employees
      parameters:
      - name: id
        in: path
        description: Id from the legal entity to fetch data
        required: true
        schema:
          type: string
      - name: employee_id
        in: path
        description: Employee id from the legal entity to fetch data
        required: true
        schema:
          type: string
      - name: active_contracts
        in: query
        description: Fetch only active contracts for employees
        required: false
        schema:
          type: boolean
          default: true
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees_getEmployeeFromOrganizationIntegratedWithExternalBenefitsVendor-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItemsType:
      type: string
      enum:
      - MAIN
      - VARIABLE
      description: The type of compensation, either MAIN or VARIABLE.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItemsType
    Employees_getEmployeeFromOrganizationIntegratedWithExternalBenefitsVendor-v2026-01-01_Response_200:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the employee.
        phones:
          type: array
          items:
            $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaPhonesItems'
          description: List of phone numbers associated with the employee.
        status:
          type: string
          description: The employee status given his contracts.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaAddressesItems'
          description: List of addresses associated with the employee.
        contracts:
          type: array
          items:
            $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItems'
          description: List of contracts associated with the employee.
        hire_date:
          type:
          - string
          - 'null'
          description: Employee date of first contract.
        work_email:
          type:
          - string
          - 'null'
          description: Employee work email address.
        date_of_birth:
          type:
          - string
          - 'null'
          description: Employee date of birth.
        marital_status:
          $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaMaritalStatus'
          description: The marital status of the employee.
        personal_email:
          type:
          - string
          - 'null'
          description: Employee personal email address.
        document_number:
          type: string
          description: Document number of employee identification document.
        legal_last_name:
          type: string
          description: Employee legal last name.
        legal_first_name:
          type: string
          description: Employee legal first name.
        legal_middle_name:
          type:
          - string
          - 'null'
          description: Employee legal middle name.
        takes_owners_draw:
          type: boolean
          description: Indicates if the employee takes an owner draw.
        ownership_percentage:
          type: number
          format: double
          description: The percentage of business ownership by the employee.
      title: Employees_getEmployeeFromOrganizationIntegratedWithExternalBenefitsVendor-v2026-01-01_Response_200
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItems:
      type: object
      properties:
        rate:
          type: number
          format: double
          description: The rate of compensation.
        type:
          $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItemsType'
          description: The type of compensation, either MAIN or VARIABLE.
        scale:
          type:
          - string
          - 'null'
          description: The scale of the compensation.
        currency:
          type: string
          description: The currency of the compensation.
        cycle_scale:
          type:
          - string
          - 'null'
          description: The cycle scale of the compensation.
        variable_compensation_type:
          oneOf:
          - $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItemsVariableCompensationType'
          - type: 'null'
          description: The type of variable compensation, either FIXED or PERCENTAGE.
      description: Details about the compensations.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItems
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaPhonesItems:
      type: object
      properties:
        type:
          type: string
          description: The type of phone number, e.g., mobile, home.
        dial_code:
          type: string
          description: The international dial code.
        phone_number:
          type: string
          description: The phone number.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaPhonesItems
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaMaritalStatus:
      type: string
      enum:
      - Common Law
      - Divorced
      - Married
      - Registered Partnership
      - Separated
      - Single
      - Widowed
      description: The marital status of the employee.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaMaritalStatus
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsEmploymentType:
      type: string
      enum:
      - full_time
      - part_time
      description: The employment type, e.g., full-time or part-time.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsEmploymentType
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItems:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the contract.
        flsa:
          type: boolean
          description: Indicates if the contract is compliant with the Fair Labor Standards Act.
        status:
          type: string
          description: The contract status.
        end_date:
          type: string
          description: The end date of the contract, if applicable.
        job_title:
          type: string
          description: Job title or name of the contract.
        start_date:
          type: string
          description: The start date of the contract.
        compensations:
          type: array
          items:
            $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItems'
          description: List of compensations associated with the contract.
        contract_type:
          $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsContractType'
          description: The type of contract.
        employment_type:
          $ref: '#/components/schemas/BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsEmploymentType'
          description: The employment type, e.g., full-time or part-time.
        estimated_week_working_hours:
          type: number
          format: double
          description: Estimated number of working hours per week.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItems
    ? BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItemsVariableCompensationType
    : type: string
      enum:
      - FIXED
      - PERCENTAGE
      description: The type of variable compensation, either FIXED or PERCENTAGE.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsCompensationsItemsVariableCompensationType
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaAddressesItems:
      type: object
      properties:
        zip:
          type:
          - string
          - 'null'
          description: The ZIP or postal code part of the address.
        city:
          type:
          - string
          - 'null'
          description: The city part of the address.
        type:
          type: string
          description: The type of address, e.g., home, work.
        state:
          type:
          - string
          - 'null'
          description: The state part of the address.
        street:
          type:
          - string
          - 'null'
          description: The street part of the address.
        country:
          type: string
          description: The country part of the address.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaAddressesItems
    BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsContractType:
      type: string
      enum:
      - direct_employee
      - contractor
      description: The type of contract.
      title: BenefitsLegalEntitiesIdEmployeesEmployeeIdGetResponsesContentApplicationJsonSchemaContractsItemsContractType
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
