openapi: 3.2.0
info:
  title: Deel Employer of Record (EOR) EOR Amendments API
  description: 'APIs for compliantly hiring full-time employees in 100+ countries where the client

    lacks a local entity. The EOR API covers the three-party signature flow, cost

    calculation, country-specific benefits and hiring guides, amendments, terminations,

    offboarding, and worker self-service surfaces (banks, documents, payslips, mailboxes).'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/employer-of-record/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: EOR Amendments
  description: Amend active EOR contracts with structured approval flow
paths:
  /eor/contracts/{contract_id}/amendments:
    post:
      operationId: createEorAmendment
      summary: Create EOR Amendment
      description: Submit a contract amendment for review and three-party approval.
      tags:
      - EOR Amendments
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EorAmendmentCreate'
      responses:
        '201':
          description: Amendment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EorAmendment'
components:
  schemas:
    EorAmendment:
      type: object
      properties:
        id:
          type: string
        contract_id:
          type: string
        type:
          type: string
        status:
          type: string
          enum:
          - pending
          - approved
          - declined
          - applied
        effective_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
    EorAmendmentCreate:
      type: object
      required:
      - type
      - effective_date
      properties:
        type:
          type: string
          enum:
          - salary_change
          - role_change
          - working_hours_change
          - benefits_change
          - address_change
        effective_date:
          type: string
          format: date
        new_salary:
          type: number
        new_currency:
          type: string
        new_job_title:
          type: string
        notes:
          type: string
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
