openapi: 3.1.0
info:
  title: Deel ATS Adjustments Magic Link API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Magic Link
  description: Generate single-use deep links into the Deel app
paths:
  /magic-link:
    post:
      operationId: createMagicLink
      summary: Create Magic Link
      description: Generate a single-use deep link into the Deel app for a worker or admin.
      tags:
      - Magic Link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - target
              properties:
                user_id:
                  type: string
                target:
                  type: string
                  description: Deel app target route
                expires_in_minutes:
                  type: integer
                  default: 60
      responses:
        '200':
          description: Magic link
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      expires_at:
                        type: string
                        format: date-time
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
