openapi: 3.2.0
info:
  title: Endpoints Subpackage Eor Worker Mailboxes API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_eorWorkerMailboxes
paths:
  /eor/mailboxes/change-password:
    post:
      operationId: change-password
      summary: Change EOR Mailbox Password
      description: 'Use this endpoint to change an EOR mailbox password for a worker

        **Token scopes**: `worker:write`'
      tags:
      - subpackage_eorWorkerMailboxes
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-worker-mailboxes_changePassword_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEorMailboxPasswordRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEorMailboxPasswordRequestInternalServerError'
      requestBody:
        description: The new password to be set
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EorMailboxesChangePasswordPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
components:
  schemas:
    EorMailboxesChangePasswordPostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        password:
          type: string
          description: The new password.
      title: EorMailboxesChangePasswordPostRequestBodyContentApplicationJsonSchemaData
    eor-worker-mailboxes_changePassword_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: eor-worker-mailboxes_changePassword_Response_204
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ChangeEorMailboxPasswordRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorMailboxesChangePasswordPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: ChangeEorMailboxPasswordRequestBadRequestError
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    ChangeEorMailboxPasswordRequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorMailboxesChangePasswordPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: ChangeEorMailboxPasswordRequestInternalServerError
    EorMailboxesChangePasswordPostResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable explanation of the error
      title: EorMailboxesChangePasswordPostResponsesContentApplicationJsonSchemaErrorsItems
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
