openapi: 3.2.0
info:
  title: Endpoints Subpackage Time Off API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_timeOff
paths:
  /time_offs/review:
    post:
      operationId: review-time-off-request
      summary: Approve/Reject time-off requests
      description: 'Approve/Reject time-off requests in batch. The request body should contain a list of time-off IDs and the desired status (either APPROVED or REJECTED). The response will indicate which requests were successfully processed and which ones encountered errors.

        **Token scopes**: `time-off:write`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Review process completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_reviewTimeOffRequest_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveRejectTimeOffRequests-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/TimeOffsReviewPostRequestBodyContentApplicationJsonSchemaDataItems'
                  description: Array of time-offs to be reviewed
              required:
              - data
  /time_offs/{time_off_id}:
    delete:
      operationId: delete-time-off-request
      summary: Cancel time-off request
      description: 'Cancels a time-off request regardless of its current status. This endpoint provides a simplified approach to time-off management by always setting the request status to CANCELED.

        **Token scopes**: `time-off:write`, `worker:write`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: time_off_id
        in: path
        description: Time off request id
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: time off deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_deleteTimeOffRequest_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
    patch:
      operationId: update-time-off-request
      summary: Update time-off request
      description: 'Update time-off request

        **Token scopes**: `time-off:write`, `worker:write`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: time_off_id
        in: path
        description: Time off request id
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Time off updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_updateTimeOffRequest_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTimeOffRequestRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        description: Time off update request data
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaData'
                  description: Time off update request data
  /time_offs:
    post:
      operationId: create-time-off-request
      summary: Create time-off request
      description: 'Create time-off request

        **Token scopes**: `time-off:write`, `worker:write`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Time off creation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_createTimeOffRequest_Response_201'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTimeOffRequest-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTimeOffRequest-v2026-01-01RequestForbiddenError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTimeOffRequest-v2026-01-01RequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        description: The time off request data
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TimeOffsPostRequestBodyContentApplicationJsonSchemaData'
                  description: The time off request data
    get:
      operationId: list-time-off-requests-for-organization
      summary: List time-off requests for Organization
      description: 'List time-off requests for Organization

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: status
        in: query
        description: Time off status
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsGetParametersStatusSchemaItems'
      - name: time_off_ids
        in: query
        description: Time off ids
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: start_date
        in: query
        description: Start date of time off
        required: false
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: End date of time off
        required: false
        schema:
          type: string
          format: date-time
      - name: approval_start_date
        in: query
        description: Approval start date
        required: false
        schema:
          type: string
          format: date-time
      - name: approval_end_date
        in: query
        description: Approval end date
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_start_date
        in: query
        description: Updated start date
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_end_date
        in: query
        description: Updated end date
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Page size
        required: false
        schema:
          type: integer
      - name: policy_types
        in: query
        description: Policy types
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: next
        in: query
        description: Next page
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation time offs returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Time_Off_listTimeOffRequestsForOrganization_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/global-payroll/sync:
    post:
      operationId: sync-time-off-global-payroll
      summary: External HR Time Off Synchronization
      description: 'Synchronize time off requests from an external HRIS to Deel. Only Global Payroll contracts are allowed for this operation. This endpoint can perform 2 different operations with the provided time off list: i) upsert - time off requests identified by an external ID will be either inserted or updated at Deel. ii) delete - existing time off requests identified by an external ID with the parameter ''deleted: true'' will be deleted. Deel will identify the impacts of each operation on each payroll cycle.

        **Token scopes**: `time-off:write`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation time offs returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_syncTimeOffGlobalPayroll_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalHrTimeOffSynchronizationRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TimeOffsGlobalPayrollSyncPostRequestBodyContentApplicationJsonSchemaData'
  /time_offs/profile/{hris_profile_id}/entitlements:
    get:
      operationId: get-time-off-entitlements
      summary: Get Profile Entitlements
      description: 'List time-off entitlements.

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: hris_profile_id
        in: path
        description: HRIS profile ID
        required: true
        schema:
          type: string
          format: uuid
      - name: policy_type_name
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetParametersPolicyTypeName'
      - name: tracking_period_date
        in: query
        description: Tracking period date
        required: false
        schema:
          type: string
          format: date
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_getTimeOffEntitlements_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/time-off-events:
    get:
      operationId: get-time-off-events
      summary: Get Time Off Events for Profile
      description: 'List time off events for profile

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: hris_profile_id
        in: query
        description: Worker hris profile id
        required: true
        schema:
          type: string
          format: uuid
      - name: time_off_type_id
        in: query
        description: Time off type id
        required: false
        schema:
          type: string
          format: uuid
      - name: policy_id
        in: query
        description: Policy id
        required: false
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of time off events for the profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_getTimeOffEvents_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTimeOffEventsForProfileRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/dailies:
    get:
      operationId: get-time-off-dailies
      summary: Get Work Schedule and Holidays
      description: 'Given a date range (start date, end date) gets the holidays, work schedule and time off dailies for a list of hrisProfileIds or countries.

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: start_date
        in: query
        description: Start date of non working days date range
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date of non working days date range
        required: false
        schema:
          type: string
          format: date
      - name: hris_profile_ids
        in: query
        description: HRIS profile ids
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: countries
        in: query
        description: List of countries to be fetched
        required: false
        schema:
          type: array
          items:
            type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_getTimeOffDailies_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkScheduleAndHolidaysRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/profile/{hris_profile_id}/policies:
    get:
      operationId: get-time-off-policies
      summary: List policies
      description: 'List policies for profile

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: hris_profile_id
        in: path
        description: hrisProfileId id.
        required: true
        schema:
          type: string
          format: uuid
      - name: policy_type_name
        in: query
        description: Policy type name.
        required: false
        schema:
          $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdPoliciesGetParametersPolicyTypeName'
      - name: policy_type_id
        in: query
        description: policy type id
        required: false
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_getTimeOffPolicies_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not Found - Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPoliciesRequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/profile/{hris_profile_id}:
    get:
      operationId: get-time-off-profile
      summary: List time-off requests
      description: 'List time-off requests

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: hris_profile_id
        in: path
        description: HRIS profile id
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: Time off status
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdGetParametersStatusSchemaItems'
      - name: time_off_ids
        in: query
        description: Time off ids
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: start_date
        in: query
        description: Start date of time off
        required: false
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: End date of time off
        required: false
        schema:
          type: string
          format: date-time
      - name: approval_start_date
        in: query
        description: Approval start date
        required: false
        schema:
          type: string
          format: date-time
      - name: approval_end_date
        in: query
        description: Approval end date
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_start_date
        in: query
        description: Updated start date
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_end_date
        in: query
        description: Updated end date
        required: false
        schema:
          type: string
          format: date-time
      - name: page_size
        in: query
        description: Page size
        required: false
        schema:
          type: integer
      - name: policy_types
        in: query
        description: Policy types
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: next
        in: query
        description: Next page
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation time offs returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_getTimeOffProfile_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/policy-validation-templates:
    get:
      operationId: get-time-off-policy-validation-templates
      summary: Retrieve policy validation templates
      description: 'Retrieves policy validation templates and policy types based on the provided countries. Policy types are unique.

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: countries
        in: query
        description: List of countries (ISO 3166-1 alpha-2 codes) to fetch policy templates and types for.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_getTimeOffPolicyValidationTemplates_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePolicyValidationTemplatesRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /time_offs/validate:
    post:
      operationId: validate-time-off
      summary: Validate time-off request
      description: 'Validate time-off requests and updates

        **Token scopes**: `time-off:read`'
      tags:
      - subpackage_timeOff
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Time off request validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time-off_validateTimeOff_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateTimeOffRequest-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        description: Time off request data
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TimeOffsValidatePostRequestBodyContentApplicationJsonSchemaData'
                  description: Time off request data
components:
  schemas:
    TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffTimeOffDailiesItemsType:
      type: string
      enum:
      - WORKING_DAY
      - NON_WORKING_DAY
      - HOLIDAY
      description: Type of the time off daily. Can be WORKING_DAY, NON_WORKING_DAY or HOLIDAY.
      title: TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffTimeOffDailiesItemsType
    TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsFutureEventsItemsType:
      type: string
      enum:
      - ACCRUAL
      - ACCRUAL_DEDUCTION
      - ACCRUAL_PRORATE
      - ACCRUAL_TERMINATION
      - MANUAL_ADJUSTMENT
      - NO_ROLLOVER
      - ROLLOVER_ADJUSTMENT
      - ROLLOVER_CARRY_OVER
      - ROLLOVER_EXPIRATION
      - ROLLOVER_PAYOUT
      - ROLLOVER_PROJECTED
      - TIME_OFF
      description: Event type
      title: TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsFutureEventsItemsType
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsEntitlementUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit in which the entitlement is measured.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsEntitlementUnit
    TimeOffsPostRequestBodyContentApplicationJsonSchemaDataDatesItemsDate:
      oneOf:
      - type: string
        format: date
      - type: string
        format: date-time
      description: An specific date in the time-off request
      title: TimeOffsPostRequestBodyContentApplicationJsonSchemaDataDatesItemsDate
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsTimeOffTypeValidationsItems
    : type: object
      properties: {}
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsTimeOffTypeValidationsItems
    TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsTimeOffEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The time off event id. This is used to link the time off request to an event.
        type:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsTimeOffEventType'
          description: The type of the time off event.
        policy_id:
          type: string
          format: uuid
          description: The policy id associated with the time off event. Same as the policy_id in the time off type.
        created_at:
          type: string
          format: date-time
          description: The date when the time off event was created in the database.
        updated_at:
          type: string
          format: date-time
          description: The date when the time off event was last updated in the database.
        event_details:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsTimeOffEventEventDetails'
          description: Details of the event associated with the time off request. Required for event based policies such as parental leave.
        hris_profile_id:
          type: string
          format: uuid
          description: The HRIS profile id of the worker associated with the time off event. Same as the hris_profile_id in the recipient_profile.
        time_off_type_id:
          type: string
          format: uuid
          description: The time off type id associated with the time off event. Same as the time_off_type_id in the time off request.
      title: TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsTimeOffEvent
    time-off_validateTimeOff_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TimeOffsValidatePostResponsesContentApplicationJsonSchemaData'
          description: Time off request validation result
      required:
      - data
      description: Time off request validation result
      title: time-off_validateTimeOff_Response_200
    TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsStatus:
      type: string
      enum:
      - REQUESTED
      - APPROVED
      - REJECTED
      - USED
      - CANCELED
      description: Status of the time off request. Can be REQUESTED, APPROVED, REJECTED, USED or CANCELED.
      title: TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsStatus
    TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        dates:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataDatesItems'
          description: The dates breakdown for the time off request.
        reason:
          type:
          - string
          - 'null'
          description: Reason for taking time off. This is complementary information for the time-off description. Useful to provide sub categories for the same policy.
        is_paid:
          type: boolean
          description: Whether the time off is paid or unpaid. By default it follows the policy configuration.
        end_date:
          $ref: '#/components/schemas/TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataEndDate'
          description: End date of the time off request. This is the date when the time off ends. For example, if you take 2 days off, this will be the end date of the second day.
        policy_id:
          type: string
          format: uuid
          description: The time off policy id. Can be used in place of time_off_type_id
        start_date:
          $ref: '#/components/schemas/TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataStartDate'
          description: Start date of the time off request. This is the date when the time off starts. For example, if you take 2 days off, this will be the start date of the first day.
        description:
          type:
          - string
          - 'null'
          description: Description of the time off request. Some policies require that a description is provided.
        contract_oid:
          type:
          - string
          - 'null'
          description: Contract id. This is the id of the contract associated with the time off request.
        event_details:
          $ref: '#/components/schemas/TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataEventDetails'
          description: Details of the event associated with the time off request. Required for event based policies such as parental leave.
        deduction_amount:
          type:
          - number
          - 'null'
          format: double
          description: Deduction amount. Available for independent contractor's policies
        time_off_type_id:
          type: string
          format: uuid
          description: The time off type id. Required when policy_id is not provided
        time_off_event_id:
          type: string
          format: uuid
          description: The time off event id. This is used to link the time off request to an event.
        time_off_percentage:
          type:
          - number
          - 'null'
          format: double
          description: This is the percentage of time off taken. This is used when the time off request is a percentage.
        recipient_profile_id:
          type: string
          format: uuid
          description: The hris profile id of the recipient
        other_type_description:
          type:
          - string
          - 'null'
          description: Description of the time off type. This is used when the policy is OTHER.
      required:
      - end_date
      - start_date
      - recipient_profile_id
      description: Time off update request data
      title: TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaData
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsRequestStartUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for the waiting period if request_start_type is FIXED_PERIOD.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsRequestStartUnit
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAccrualUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for accrual if type is TIMEFRAME.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAccrualUnit
    TimeOffsValidatePostRequestBodyContentApplicationJsonSchemaDataDatesItems:
      type: object
      properties:
        date:
          type: string
          format: date
          description: An specific date in the time-off request
        hours:
          type: number
          format: double
          description: The amount taken in hours during this specific date. It can not exceed the maximum allowed hours for the date.
        amount:
          type: number
          format: double
          description: The amount of time off requested for the date. It must be in the same time unit as in the total amount for the time off request.
        day_type:
          $ref: '#/components/schemas/TimeOffsValidatePostRequestBodyContentApplicationJsonSchemaDataDatesItemsDayType'
          description: The type of day for the time off request. All dates must follow the same type.
      required:
      - date
      description: The dates breakdown for the time off request.
      title: TimeOffsValidatePostRequestBodyContentApplicationJsonSchemaDataDatesItems
    TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItems:
      type: object
      properties:
        id:
          type: string
          description: Entitlement ID
        used:
          type: string
          description: Used time off
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsEventsItems'
        policy:
          $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsPolicy'
        accrued:
          type:
          - string
          - 'null'
          description: Accrued time off
        expired:
          type: string
          description: Expired time off
        approved:
          type: string
          description: Approved time off
        allowance:
          type:
          - string
          - 'null'
          description: Time off allowance
        available:
          type:
          - string
          - 'null'
          description: Available time off. Will be null if is_allowance_unlimited is true
        requested:
          type: string
          description: Requested time off
        rollovers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsRolloversItems'
        accrual_unit:
          $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsAccrualUnit'
          description: Accrual unit
        future_events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsFutureEventsItems'
        accrual_amount:
          type: string
          description: Accrual amount
        tracking_period:
          type: string
          description: Tracking period
        balance_adjusted:
          type:
          - string
          - 'null'
          description: Balance adjusted
        time_off_event_id:
          type: string
          description: Time off event ID
        upcoming_accruals:
          type: string
          description: Upcoming accruals
        total_entitlements:
          type: string
          description: Total entitlements
        past_tracking_periods:
          type: array
          items:
            type: string
        is_allowance_unlimited:
          type: boolean
          description: True when the allowance is unlimited
        tracking_period_end_date:
          type: string
          description: Tracking period end date
      required:
      - available
      - tracking_period
      - total_entitlements
      - is_allowance_unlimited
      - tracking_period_end_date
      title: TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItems
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsUploadAttachmentCondition
    : type: string
      enum:
      - REQUIRED
      - NOT_REQUIRED
      - CONDITIONALLY_REQUIRED
      - REQUIRED_WITH_CONDITION
      - ALWAYS_REQUIRED
      description: Condition under which an attachment is needed for a request.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsUploadAttachmentCondition
    TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataEventDetails:
      type: object
      properties:
        birth_date:
          type: string
          format: date
          description: The birth date of the child. This is used for parental leave requests.
        adoption_date:
          type: string
          format: date
          description: The date of adoption. This is used for parental leave requests.
        is_confirmation:
          type: boolean
          description: Whether the event date are a confirmed or not. This is used for parental leave requests when either the birth date or adoption date are not estimated anymore but actually confirmed.
        was_premature_birth:
          type: boolean
          description: Whether the birth was premature or not. This is used for parental leave requests.
        had_multiple_children:
          type: boolean
          description: Whether the birth was multiple or not. This is used for parental leave requests.
      required:
      - birth_date
      - was_premature_birth
      - had_multiple_children
      description: Details of the event associated with the time off request. Required for event based policies such as parental leave.
      title: TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataEventDetails
    ? TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsPolicyAllowancesItemsRolloverExpirationUnit
    : type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: Unit used for rollover expiration
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsPolicyAllowancesItemsRolloverExpirationUnit
    TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffEntitlementUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: The unit in which the time off usage and entitlement are calculated.
      title: TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffEntitlementUnit
    TimeOffsReviewPostRequestBodyContentApplicationJsonSchemaDataItemsStatus:
      type: string
      enum:
      - APPROVED
      - REJECTED
      description: Decision on whether the time off request was approved or rejected
      title: TimeOffsReviewPostRequestBodyContentApplicationJsonSchemaDataItemsStatus
    TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsHolidaysItems:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Date of the holiday
        name:
          type: string
          description: Name of the holiday
        type:
          $ref: '#/components/schemas/TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsHolidaysItemsType'
          description: Type of the holiday
        source:
          oneOf:
          - $ref: '#/components/schemas/TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsHolidaysItemsSource'
          - type: 'null'
          description: Source of creation of the holiday
        states:
          type: array
          items:
            type: string
          description: List of states where the holiday is celebrated, if empty it is a country holiday
        country:
          type: string
          description: The ISO 3166-1 alpha-2 country code.
        description:
          type:
          - string
          - 'null'
          description: Description of the holiday
        parsed_date:
          type: string
          format: date-time
          description: Parsed date time of the holiday
        is_mandatory:
          type: boolean
          description: Describes if the holiday is mandatory
        is_every_year:
          type: boolean
          description: Sets if the holiday is a recurring event
        formatted_date:
          type: string
          format: date
          description: Formated 'YYYY-MM-DD' date of the holiday
        name_variations:
          type: array
          items:
            type: string
          description: Alternative names or labels used to refer to this holiday
        created_by_profile_id:
          type:
          - number
          - 'null'
          format: double
          description: HRIS profile id of the creator of the holiday
      required:
      - date
      - name
      - type
      - source
      - description
      - is_mandatory
      - is_every_year
      - formatted_date
      title: TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsHolidaysItems
    TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsRequestStartUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: Unit used for request start configuration
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsRequestStartUnit
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAdditionalAllowanceRulesItems
    : type: object
      properties: {}
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAdditionalAllowanceRulesItems
    TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataEventDetailsFieldsHadMultipleChildrenType:
      type: string
      enum:
      - boolean
      description: The type of the field, indicating it is a boolean field
      title: TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataEventDetailsFieldsHadMultipleChildrenType
    CreateTimeOffRequest-v2026-01-01RequestForbiddenError:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaErrors'
          description: Error details
        request:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaRequest'
          description: Request metadata
      title: CreateTimeOffRequest-v2026-01-01RequestForbiddenError
    TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataReviewedItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Time off id
        status:
          $ref: '#/components/schemas/TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataReviewedItemsStatus'
          description: Time off status after review
      required:
      - id
      - status
      title: TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataReviewedItems
    TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsTimeOffRequestType:
      type: string
      enum:
      - HALF_DAY
      - HOURLY
      - FULL_DAY
      - PERCENTAGE
      - PARTIAL_HOURS
      description: Type of time off requests allowed
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsTimeOffRequestType
    TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsIsAttachmentRequired:
      type: string
      enum:
      - NOT_REQUIRED
      - REQUIRED
      - CONDITIONALLY_REQUIRED
      description: Whether an attachment is required for time off requests
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsIsAttachmentRequired
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProrationPartTimeWorkerTreatmentType
    : type: string
      enum:
      - SAME_AS_FTE
      - SPECIFIC_AMOUNT
      - PRO_RATA
      - PERCENTAGE_OF_FTE
      - BASED_ON_WORK_HOURS
      - BASED_ON_WORK_DAYS
      - CUSTOM_ENTITLEMENT
      description: How part-time workers are treated regarding entitlement.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProrationPartTimeWorkerTreatmentType
    ? TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsPolicyAllowancesItemsBalanceTrackingType
    : type: string
      enum:
      - INFLEXIBLE
      - FLEXIBLE_NO_LIMIT
      - FLEXIBLE_CUSTOM_AMOUNT
      - FLEXIBLE_UP_TO_YEARLY_ALLOWANCE
      description: Type of balance tracking. Determines how workers can request their time off.
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsPolicyAllowancesItemsBalanceTrackingType
    TimeOffsValidatePostResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        path:
          type: string
          description: The JSON path where input validation failed
        message:
          type: string
          description: A description of the returned error
      title: TimeOffsValidatePostResponsesContentApplicationJsonSchemaErrorsItems
    TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsEntitlementUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: The unit in which the time off usage and entitlement are calculated.
      title: TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsEntitlementUnit
    TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsEventsItemsType:
      type: string
      enum:
      - ACCRUAL
      - ACCRUAL_DEDUCTION
      - ACCRUAL_PRORATE
      - ACCRUAL_TERMINATION
      - MANUAL_ADJUSTMENT
      - NO_ROLLOVER
      - ROLLOVER_ADJUSTMENT
      - ROLLOVER_CARRY_OVER
      - ROLLOVER_EXPIRATION
      - ROLLOVER_PAYOUT
      - ROLLOVER_PROJECTED
      - TIME_OFF
      description: Event type
      title: TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsEventsItemsType
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAccrualType
    : type: string
      enum:
      - TIMEFRAME
      - EVENT_BASED
      - EVENT
      - TIME_OFF_IN_LIEU
      - HOURLY
      - LUMPSUM
      description: How entitlement accrues (over time or based on events).
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAccrualType
    TimeOffsGlobalPayrollSyncPostRequestBodyContentApplicationJsonSchemaDataTimeOffsItemsOneOf0PolicyType:
      type: string
      enum:
      - Adoption leave
      - Advanced vacation
      - Bereavement leave
      - Blood donation leave
      - Breastfeeding leave
      - Childbirth leave
      - Childcare leave
      - Civic/public duty leave
      - Disability leave
      - Doctor's appointment leave
      - Family & domestic violence leave
      - Floating Holiday Allowance
      - Hajj leave
      - Marriage/wedding leave
      - Maternity leave
      - Military leave
      - Moving leave
      - Other leave
      - Paid leave
      - Parental leave
      - Paternity leave
      - Personal leave
      - Pregnancy leave
      - Regional holiday
      - RTT
      - Sick leave
      - Study leave
      - Supplementary Leave
      - Unpaid leave
      - Vacation
      - Volunteer leave
      - Work accident leave
      description: The Deel policy type of the policy the time off is being requested for.
      title: TimeOffsGlobalPayrollSyncPostRequestBodyContentApplicationJsonSchemaDataTimeOffsItemsOneOf0PolicyType
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsAttachmentConditionUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for the attachment condition amount.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsAttachmentConditionUnit
    TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffTimeOffType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Time off type id.
        name:
          type: string
          description: Time off type name. Basically the reason or category of time-off taken. For SICK leave, it can be doctor appointment, surgery etc.
        policy:
          $ref: '#/components/schemas/TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffTimeOffTypePolicy'
          description: The policy associated with the time off type.
      required:
      - id
      - name
      description: The type of time off taken.
      title: TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffTimeOffType
    TimeOffsValidatePostRequestBodyContentApplicationJsonSchemaDataDatesItemsDayType:
      type: string
      enum:
      - HALF_DAY
      - FULL_DAY
      - PERCENTAGE
      - HOURLY
      description: The type of day for the time off request. All dates must follow the same type.
      title: TimeOffsValidatePostRequestBodyContentApplicationJsonSchemaDataDatesItemsDayType
    TimeOffsValidatePostResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: The relative URL of the failed request
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        method:
          type: string
          description: The HTTP method of the failed request
        source:
          type: string
          description: The source handler which produced the returned error
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
      title: TimeOffsValidatePostResponsesContentApplicationJsonSchemaRequest
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProration
    : type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the proration settings.
        has_partial_prorate:
          type: boolean
          description: Indicates if partial proration rules are applied.
        hire_proration_rule:
          $ref: '#/components/schemas/TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProrationHireProrationRule'
          description: Rule for prorating entitlement upon hiring.
        is_accrual_prorate_policy:
          type: boolean
          description: Indicates if accrual is prorated based on policy rules.
        termination_proration_rule:
          $ref: '#/components/schemas/TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProrationTerminationProrationRule'
          description: Rule for prorating entitlement upon termination.
        hire_proration_cut_off_date:
          type:
          - integer
          - 'null'
          description: Day of the month used as cut-off for hire proration.
        part_time_worker_treatment_type:
          $ref: '#/components/schemas/TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProrationPartTimeWorkerTreatmentType'
          description: How part-time workers are treated regarding entitlement.
        termination_proration_cut_off_date:
          type:
          - integer
          - 'null'
          description: Day of the month used as cut-off for termination proration.
        part_time_worker_treatment_specific_amount:
          type:
          - number
          - 'null'
          format: double
          description: Specific amount if treatment type is SPECIFIC_AMOUNT.
        max_part_time_worker_treatment_specific_amount:
          type:
          - number
          - 'null'
          format: double
          description: Maximum specific amount for part-time treatment.
        min_part_time_worker_treatment_specific_amount:
          type:
          - number
          - 'null'
          format: double
          description: Minimum specific amount for part-time treatment.
      description: Proration rules applied to the policy allowances.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowanceProration
    TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsTrackingUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: Unit used for tracking policy periods
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsTrackingUnit
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsAttachmentCondition
    : type: string
      enum:
      - GREATER_THAN
      - LESS_THAN
      - GREATER_THAN_OR_EQUAL
      - LESS_THAN_OR_EQUAL
      description: Comparison operator if attachment is conditionally required.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsAttachmentCondition
    TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsEntitlementUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: The unit in which the time off usage and entitlement are calculated.
      title: TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsEntitlementUnit
    TimeOffsPostRequestBodyContentApplicationJsonSchemaDataStartDate:
      oneOf:
      - type: string
        format: date
      - type: string
        format: date-time
      description: Start date of the time off request. This is the date when the time off starts. For example, if you take 2 days off, this will be the start date of the first day.
      title: TimeOffsPostRequestBodyContentApplicationJsonSchemaDataStartDate
    TimeOffsPostResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: Request URL path
        docs:
          type: string
          description: Documentation reference
        method:
          type: string
          description: HTTP method
        source:
          type: string
          description: Request source
        status:
          type: integer
          description: HTTP status code
        api_req_id:
          type: string
          description: Unique API request identifier
      description: Request metadata
      title: TimeOffsPostResponsesContentApplicationJsonSchemaRequest
    TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsTrackingUnit:
      type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: The unit used for tracking the policy cycle (e.g., yearly).
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsTrackingUnit
    TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: The relative URL of the failed request
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        method:
          type: string
          description: The HTTP method of the failed request
        source:
          type: string
          description: The source handler which produced the returned error
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
      title: TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaRequest
    TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        path:
          type: string
          description: The JSON path where input validation failed
        message:
          type: string
          description: A description of the returned error
      title: TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaErrorsItems
    TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsPolicyTimeOffTypesItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Time off type ID
        name:
          type: string
          description: Time off type name
      required:
      - id
      - name
      title: TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsPolicyTimeOffTypesItems
    time-off_deleteTimeOffRequest_Response_204:
      type: object
      properties: {}
      title: time-off_deleteTimeOffRequest_Response_204
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyValidationTemplateRemindersItems
    : type: object
      properties: {}
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyValidationTemplateRemindersItems
    TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsAccrualUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: Accrual unit
      title: TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsAccrualUnit
    TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaErrors:
      type: object
      properties:
        message:
          type: string
          description: Error message describing what went wrong
      description: Error details
      title: TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaErrors
    TimeOffsProfileHrisProfileIdEntitlementsGetParametersPolicyTypeName:
      type: string
      enum:
      - Moving leave
      - Adoption leave
      - Personal leave
      - Parental leave
      - Military leave
      - Childbirth leave
      - Study leave
      - Sick leave
      - Bereavement leave
      - Family & domestic violence leave
      - Marriage/wedding leave
      - Blood donation leave
      - Volunteer leave
      - Vacation
      - Doctor's appointment leave
      - Maternity leave
      - Hajj leave
      - Paternity leave
      - Civic/public duty leave
      - Childcare leave
      - Unpaid leave
      - Paid leave
      - Other leave
      - Disability leave
      - Pregnancy leave
      - RTT
      - Regional holiday
      - Breastfeeding leave
      - Advanced vacation
      description: Policy type name
      title: TimeOffsProfileHrisProfileIdEntitlementsGetParametersPolicyTypeName
    TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataReviewedItemsStatus:
      type: string
      enum:
      - APPROVED
      - USED
      - REJECTED
      description: Time off status after review
      title: TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataReviewedItemsStatus
    time-off_getTimeOffEntitlements_Response_200:
      type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItems'
        hris_profile_id:
          type: string
          description: HRIS profile ID
      required:
      - entitlements
      - hris_profile_id
      title: time-off_getTimeOffEntitlements_Response_200
    TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the policy type.
        name:
          type: string
          description: Name of the policy type.
        description:
          type:
          - string
          - 'null'
          description: Description of the policy type.
      description: Details of the associated policy type.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyType
    TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsWorkSchedule:
      type: object
      properties:
        work_week:
          $ref: '#/components/schemas/TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsWorkScheduleWorkWeek'
          description: The work week schedule for the HRIS profile
        hours_per_day:
          type: number
          format: double
          description: Working hours per day
        hris_profile_id:
          type: string
          format: uuid
          description: HRIS profile id
      description: Detail of working hours by week day for an HRIS profile
      title: TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsWorkSchedule
    time-off_syncTimeOffGlobalPayroll_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TimeOffsGlobalPayrollSyncPostResponsesContentApplicationJsonSchemaData'
      description: List of time offs persisted at Deel
      title: time-off_syncTimeOffGlobalPayroll_Response_200
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsEntitlementStartUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for the start period if type is FIXED_PERIOD.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsEntitlementStartUnit
    TimeOffsProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataItemsTimeOffDailiesItemsType:
      type: string
      enum:
      - WORKING_DAY
      - NON_WORKING_DAY
      - HOLIDAY
      description: Time off daily type
      title: TimeOffsProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataItemsTimeOffDailiesItemsType
    TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsTimeOffDailiesItems:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date of the daily
        time_off_daily_type:
          $ref: '#/components/schemas/TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsTimeOffDailiesItemsTimeOffDailyType'
          description: Type of work status or holiday
      required:
      - date
      - time_off_daily_type
      description: Date with holiday or work status by day
      title: TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItemsTimeOffDailiesItems
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsRolloverExpirationUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for the expiration period of rolled-over balance.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsRolloverExpirationUnit
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsEntitlementStartType
    : type: string
      enum:
      - IMMEDIATELY
      - FIXED_PERIOD
      - FIXED_DATE
      description: When the entitlement starts.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsEntitlementStartType
    TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsPolicyTrackingUnit:
      type: string
      enum:
      - HOUR
      - BUSINESS_DAY
      - CALENDAR_DAY
      - WEEK
      - MONTH
      - YEAR
      description: Tracking unit
      title: TimeOffsProfileHrisProfileIdEntitlementsGetResponsesContentApplicationJsonSchemaEntitlementsItemsPolicyTrackingUnit
    TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsItems:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsItemsData'
        is_valid:
          type: boolean
          description: Indicates if this specific validation passed
        description:
          type: string
          description: A human-readable description of the validation result
        validation_type:
          type: string
          description: The type of validation rule being applied
      required:
      - validation_type
      description: Result of a specific country validation rule
      title: TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsItems
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsAutoApprovalInactivityTimeUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for the auto-approval inactivity period.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsAutoApprovalInactivityTimeUnit
    TimeOffsGlobalPayrollSyncPostResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: The relative URL of the failed request
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        method:
          type: string
          description: The HTTP method of the failed request
        source:
          type: string
          description: The source handler which produced the returned error
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
      title: TimeOffsGlobalPayrollSyncPostResponsesContentApplicationJsonSchemaRequest
    time-off_getTimeOffPolicyValidationTemplates_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaData'
      title: time-off_getTimeOffPolicyValidationTemplates_Response_200
    TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsPaymentType:
      type: string
      enum:
      - PAID
      - UNPAID
      description: Payment type for the time off policy
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsPaymentType
    TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataEndDate:
      oneOf:
      - type: string
        format: date
      - type: string
        format: date-time
      description: End date of the time off request. This is the date when the time off ends. For example, if you take 2 days off, this will be the end date of the second day.
      title: TimeOffsTimeOffIdPatchRequestBodyContentApplicationJsonSchemaDataEndDate
    ? TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsNextTrackingPeriodItemsDataRangesItems
    : type: object
      properties:
        end_day:
          type: number
          format: double
          description: The end day in the range
        start_day:
          type: number
          format: double
          description: The start day in the range
      required:
      - start_day
      title: TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsNextTrackingPeriodItemsDataRangesItems
    TimeOffsProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataItemsRequesterProfile:
      type: object
      properties:
        hris_profile_id:
          type: string
          format: uuid
          description: Request hris profile id
        organization_id:
          type: string
          format: uuid
          description: Request organization id
        client_profile_id:
          type: string
          format: uuid
          description: Request client profile id
      title: TimeOffsProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataItemsRequesterProfile
    TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataNotReviewedItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Time off id
        error:
          type: string
          description: The error or reason why a time-off could not be reviewed
      required:
      - id
      - error
      title: TimeOffsReviewPostResponsesContentApplicationJsonSchemaDataNotReviewedItems
    TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffRecipientProfile:
      type: object
      properties:
        hris_profile_id:
          type: string
          format: uuid
          description: The worker HRIS profile id in the given organization.
        organization_id:
          type: string
          format: uuid
          description: Id of the organization the profile belongs to.
      required:
      - hris_profile_id
      - organization_id
      description: The time off profile of the recipient of the time off request. Must be a worker profile.
      title: TimeOffsTimeOffIdPatchResponsesContentApplicationJsonSchemaTimeOffRecipientProfile
    ListPoliciesRequestNotFoundError:
      type: object
      properties:
        message:
          type: string
      title: ListPoliciesRequestNotFoundError
    TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsTimeOffTypePolicy:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Policy id
        name:
          type: string
          description: The custom name given to policy during policy creation.
        policy_type:
          $ref: '#/components/schemas/TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsTimeOffTypePolicyPolicyType'
      required:
      - id
      - name
      - policy_type
      title: TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsTimeOffTypePolicy
    TimeOffsDailiesGetResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: The relative URL of the failed request
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        method:
          type: string
          description: The HTTP method of the failed request
        source:
          type: string
          description: The source handler which produced the returned error
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
      title: TimeOffsDailiesGetResponsesContentApplicationJsonSchemaRequest
    TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyTypesItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the policy type.
        name:
          type: string
          description: Name of the policy type.
        description:
          type:
          - string
          - 'null'
          description: Description of the policy type.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyTypesItems
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsRequestStartType
    : type: string
      enum:
      - IMMEDIATELY
      - FIXED_PERIOD
      description: When a worker can start requesting time off after becoming eligible.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsRequestStartType
    ApproveRejectTimeOffRequests-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsReviewPostResponsesContentApplicationJsonSchemaErrorsItems'
        request:
          $ref: '#/components/schemas/TimeOffsReviewPostResponsesContentApplicationJsonSchemaRequest'
      title: ApproveRejectTimeOffRequests-v2026-01-01RequestBadRequestError
    TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaDataItemsEventDetails:
      type: object
      properties:
        birth_date:
          type: string
          format: date
          description: Start date of the time off
        adoption_date:
          type: string
          format: date
          description: End date of the time off
        was_premature_birth:
          type: boolean
          description: Was the child born prematurely?
        estimated_birth_date:
          type: string
          format: date
          description: The estimated date of the child birth
        had_multiple_children:
          type: boolean
          description: Was it the birth of multiple children?
        estimated_adoption_date:
          type: string
          format: date
          description: The estimated date of the child adoption
      description: Details of the time off event
      title: TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaDataItemsEventDetails
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAccrualProrateTypesItems
    : type: string
      enum:
      - PRORATE_UNPAID_LEAVE
      - PRORATE_PAID_LEAVE
      - NO_PRORATE
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsPolicyAllowancesItemsAccrualProrateTypesItems
    time-off_getTimeOffDailies_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsDailiesGetResponsesContentApplicationJsonSchemaDataItems'
          description: List of holiday and work schedule information grouped by HRIS profile, including holidays within the date range, work schedule details, and daily work status
      title: time-off_getTimeOffDailies_Response_200
    CreateTimeOffRequest-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaErrors'
          description: Error details
        request:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaRequest'
          description: Request metadata
      title: CreateTimeOffRequest-v2026-01-01RequestNotFoundError
    TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsRecipientProfile:
      type: object
      properties:
        hris_profile_id:
          type: string
          format: uuid
          description: Recipient hris profile id
        organization_id:
          type: string
          format: uuid
          description: Recipient organization id
        client_profile_id:
          type: string
          format: uuid
          description: Recipient client profile id
      title: TimeOffsGetResponsesContentApplicationJsonSchemaDataItemsRecipientProfile
    time-off_getTimeOffProfile_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataItems'
        next:
          type: string
        page_size:
          type: integer
          description: Page size
        has_next_page:
          type: boolean
          description: Has next page
      required:
      - data
      - page_size
      - has_next_page
      description: Time offs associated to the query
      title: time-off_getTimeOffProfile_Response_200
    TimeOffsProfileHrisProfileIdGetParametersStatusSchemaItems:
      type: string
      enum:
      - REQUESTED
      - APPROVED
      - REJECTED
      - USED
      - CANCELED
      title: TimeOffsProfileHrisProfileIdGetParametersStatusSchemaItems
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsNoticePeriodUnit
    : type: string
      enum:
      - YEAR
      - MONTH
      - WEEK
      - DAY
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: Unit for the required notice period.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsNoticePeriodUnit
    TimeOffsValidatePostResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        dates:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataDatesItems'
          description: The dates breakdown for the time off request.
        amount:
          type: number
          format: double
          description: The amount of time off requested.
        is_valid:
          type: boolean
          description: Indicates if the time off request is valid or not. When false, the response will contain an error message.
        new_end_date:
          type: string
          format: date
          description: The new end date for the time off request. It could be different from the original end date depending on the policy configuration. For example, for forfait-jour policies
        is_event_based:
          type: boolean
          description: Indicates if the time off request is event-based, such as parental leave
        new_start_date:
          type: string
          format: date
          description: The new start date for the time off request. It could be different from the original start date depending on the policy configuration. For example, for forfait-jour policies
        remaining_balance:
          type: number
          format: double
          description: The remaining policy balance for the tracking period
        require_attachment:
          type: boolean
          description: Indicates if an attachment is required for the time off request
        require_description:
          type: boolean
          description: Indicates if a description is required for the time off request
        event_details_fields:
          $ref: '#/components/schemas/TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataEventDetailsFields'
          description: Fields required for specific time off requests, such as parental leave.
        max_time_off_percentage:
          type: number
          format: double
          description: The maximum time off percentage allowed for the request
        validation_error_message:
          type: string
          description: Error message when the time off request is invalid
        amount_next_tracking_period:
          type: number
          format: double
          description: The amount of time off requested to be applicable in the next tracking period.
        country_specific_validation_results:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsItems'
          description: Results of country-specific validation rules
        remaining_balance_next_tracking_period:
          type: number
          format: double
          description: The remaining policy balance for the next tracking period
        country_specific_validation_results_next_tracking_period:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsValidatePostResponsesContentApplicationJsonSchemaDataCountrySpecificValidationResultsNextTrackingPeriodItems'
          description: Results of country-specific validation rules
      required:
      - is_valid
      description: Time off request validation result
      title: TimeOffsValidatePostResponsesContentApplicationJsonSchemaData
    RetrievePolicyValidationTemplatesRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaErrorsItems'
        request:
          $ref: '#/components/schemas/TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaRequest'
      title: RetrievePolicyValidationTemplatesRequestBadRequestError
    TimeOffsPostResponsesContentApplicationJsonSchemaErrors:
      type: object
      properties:
        message:
          type: string
          description: Error message describing what went wrong
      description: Error details
      title: TimeOffsPostResponsesContentApplicationJsonSchemaErrors
    TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsTrackingCadence:
      type: string
      enum:
      - FIXED_DAY
      - ANNIVERSARY
      description: Cadence for tracking policy periods
      title: TimeOffsProfileHrisProfileIdPoliciesGetResponsesContentApplicationJsonSchemaPoliciesItemsTrackingCadence
    ? TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsOverlapRequestType
    : type: string
      enum:
      - ALLOWED
      - NOT_ALLOWED
      - ALLOWED_WITH_APPROVAL
      description: Rule for requesting time off that overlaps with existing requests.
      title: TimeOffsPolicyValidationTemplatesGetResponsesContentApplicationJsonSchemaDataPolicyValidationTemplatesItemsOverlapRequestType
    time-off_getTimeOffEvents_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TimeOffsTimeOffEventsGetResponsesContentApplicationJsonSchemaDataItems'
          description: List of time off events for the profile
      required:
      - data
      description: List of time off events for the profile
      title: time-off_getTimeOffEvents_Response_200
    TimeOffsPostRequestBodyContentApplicationJsonSchemaDataDatesItemsDayType:
      type: string
      enum:
      - HALF_DAY
      - FULL_DAY
      - PERCENTAGE
      - HOURLY
      description: The type of day for the time off request. All dates must follow the same type.
      title: TimeOffsPostRequestBodyContentApplicationJsonSchemaDataDatesItemsDayType
    TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItems:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Amount of time off taken. This is the total amount of time off taken. For example, if you take 2 days off, this will be 2. If you take 1 day off, this will be 1.
        reason:
          type: string
          description: Reason for taking time off. This is complementary information for the time-off description. Useful to provide sub categories for the same policy.
        status:
          $ref: '#/components/schemas/TimeOffsPostResponsesContentApplicationJsonSchemaTimeOffsItemsStatus'
          description: Status of the time off request. Can be REQUESTED, APPROVED, REJECTED, USED or CANCELED.
        is_paid:
          type: boolean
          description: Whether the time off is paid or unpaid.
        end_date:
          type: string
          format: date
          description: End date of the time off request. This is the date when the time off ends. For example, if you take 2 days off, this will be the end date of the second day.
        created_at:
          type: string
          format: date-time
[...]
