openapi: 3.1.0
info:
  title: Deel ATS Adjustments Offers API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Offers
  description: Offer creation and acceptance
paths:
  /ats/offers:
    post:
      operationId: createAtsOffer
      summary: Create ATS Offer
      tags:
      - Offers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsOfferCreate'
      responses:
        '201':
          description: Offer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsOffer'
  /ats/offers/{offer_id}:
    get:
      operationId: getAtsOffer
      summary: Retrieve Offer
      tags:
      - Offers
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsOffer'
components:
  schemas:
    AtsOfferCreate:
      type: object
      required:
      - application_id
      - salary
      - currency
      - start_date
      properties:
        application_id:
          type: string
        salary:
          type: number
        currency:
          type: string
        bonus:
          type: number
        equity:
          type: string
        start_date:
          type: string
          format: date
        expires_at:
          type: string
          format: date
        notes:
          type: string
    AtsOffer:
      type: object
      properties:
        id:
          type: string
        application_id:
          type: string
        status:
          type: string
          enum:
          - draft
          - sent
          - accepted
          - declined
          - expired
          - withdrawn
        salary:
          type: number
        currency:
          type: string
        start_date:
          type: string
          format: date
        sent_at:
          type: string
          format: date-time
        accepted_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
