openapi: 3.2.0
info:
  title: Endpoints Subpackage Custom Fields People API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_customFieldsPeople
paths:
  /people/{worker_id}/custom_fields/{id}:
    delete:
      operationId: delete-person-custom-field
      summary: Delete the custom field value from Worker by Id
      description: 'Delete the custom field value from Worker by Id.

        **Token scopes**: `people:write`'
      tags:
      - subpackage_customFieldsPeople
      parameters:
      - name: id
        in: path
        description: Custom field id.
        required: true
        schema:
          type: string
          format: uuid
      - name: worker_id
        in: path
        description: Worker id.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fields-people_deletePersonCustomField_Response_204'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /people/custom_fields/{id}:
    get:
      operationId: get-person-custom-field
      summary: Get custom field from people by id
      description: 'Get custom field from people by id.

        **Token scopes**: `people:read`'
      tags:
      - subpackage_customFieldsPeople
      parameters:
      - name: id
        in: path
        description: Custom field id.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fields-people_getPersonCustomField_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /people/custom_fields:
    get:
      operationId: get-custom-fields
      summary: List all people custom fields
      description: 'Fetch all custom fields associated with People records, offering additional personalized information.

        **Token scopes**: `people:read`'
      tags:
      - subpackage_customFieldsPeople
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fields-people_getCustomFields_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllPeopleCustomFieldsRequestInternalServerError'
  /people/{worker_id}/custom_fields:
    get:
      operationId: get-person-custom-fields
      summary: Retrieve custom fields for a worker
      description: 'Retrieve custom fields for a worker

        **Token scopes**: `people:read`'
      tags:
      - subpackage_customFieldsPeople
      parameters:
      - name: worker_id
        in: path
        description: Worker id.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fields-people_getPersonCustomFields_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
    put:
      operationId: put-person-custom-field
      summary: Update custom field value
      description: 'Update custom field value.

        **Token scopes**: `people:write`'
      tags:
      - subpackage_customFieldsPeople
      parameters:
      - name: worker_id
        in: path
        description: Worker id.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fields-people_putPersonCustomField_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
components:
  schemas:
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData5:
      type: object
      properties:
        option:
          type: string
          description: Option type
      description: List type
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData5
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType2:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf2Name'
          description: List types
        options:
          type: array
          items:
            type: string
          description: List of options for the custom field
      required:
      - name
      - options
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType2
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType2:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf2Name'
          description: List types
        options:
          type: array
          items:
            type: string
          description: List of options for the custom field
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType2
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType:
      type: string
      enum:
      - text
      - number
      - currency
      - date
      - percentage
      - list
      - multiselect
      description: Type of the custom field
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsAccess:
      type: object
      properties:
        provided_by:
          type: array
          items:
            $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsAccessProvidedByItems'
          description: Entities providing access to the custom field
        is_sensitive:
          type: boolean
          description: Whether the custom field is sensitive
      description: Access settings for the custom field
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsAccess
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData4:
      type: object
      properties:
        amount:
          type: number
          format: double
        currency:
          type: string
          description: 'Important: When currency type is fixed, the currency field is ignored. '
      description: Currency type
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData4
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData0:
      type: object
      properties:
        value:
          type: string
          description: Text type
      description: Text type
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData0
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType0:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf0Name'
          description: Simple types
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType0
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData:
      oneOf:
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData0'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData1'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData2'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData3'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData4'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData5'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData6'
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf1Name:
      type: string
      enum:
      - currency
      description: Currency type
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf1Name
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    custom-fields-people_getPersonCustomField_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaData'
      required:
      - data
      title: custom-fields-people_getPersonCustomField_Response_200
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsWorkerTypesItems:
      type: string
      enum:
      - eor
      - contractor
      - hris_direct_employee
      - direct_employee
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsWorkerTypesItems
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType1:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf1Name'
          description: Currency type
        currency:
          type:
          - string
          - 'null'
          description: Currency code
        is_fixed:
          type: boolean
          description: When currency is fixed, only the amount can be edited by the users
      required:
      - name
      - is_fixed
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType1
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType1:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf1Name'
          description: Currency type
        currency:
          type: string
          description: Currency code
        is_fixed:
          type: boolean
          description: When currency is fixed, only the amount can be edited by the users
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType1
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID for the custom field value
        data:
          $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData'
        name:
          type: string
          description: Name of the custom field
        type:
          $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType'
          description: Type of the custom field
      required:
      - id
      - data
      - name
      - type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItems
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf1Name:
      type: string
      enum:
      - currency
      description: Currency type
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf1Name
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData1:
      type: object
      properties:
        value:
          type: number
          format: double
      description: Number type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData1
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType:
      oneOf:
      - $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType0'
      - $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType1'
      - $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType2'
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsAccess:
      type: object
      properties:
        provided_by:
          oneOf:
          - $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsAccessProvidedBy'
          - type: 'null'
          description: Entity providing access to the custom field
        is_sensitive:
          type: boolean
          description: Whether the custom field is sensitive
        group_permission_set:
          type:
          - string
          - 'null'
          description: Permission set identifier for the custom field
      required:
      - is_sensitive
      description: Access settings for the custom field
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsAccess
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsPlacement:
      type: string
      enum:
      - profile
      - contract
      description: Valid placements for custom field
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsPlacement
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf2Name:
      type: string
      enum:
      - list
      - multiselect
      description: List types
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf2Name
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettings:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsAccess'
          description: Access settings for the custom field
        required:
          type: boolean
          description: Whether the custom field is required
        countries:
          type: array
          items:
            type: string
          description: Countries for which the custom field is applicable.
        is_enabled:
          type: boolean
          description: Whether the custom field is enabled
        worker_types:
          type: array
          items:
            $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsWorkerTypesItems'
          description: Worker types for which the custom field is applicable
      required:
      - access
      - required
      - is_enabled
      description: Settings for the custom field
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettings
    custom-fields-people_getPersonCustomFields_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItems'
      required:
      - data
      title: custom-fields-people_getPersonCustomFields_Response_200
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData6:
      type: object
      properties:
        options:
          type: array
          items:
            type: string
      description: Multiselect type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData6
    custom-fields-people_putPersonCustomField_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: custom-fields-people_putPersonCustomField_Response_200
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf2Name:
      type: string
      enum:
      - list
      - multiselect
      description: List types
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf2Name
    custom-fields-people_getCustomFields_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItems'
      required:
      - data
      title: custom-fields-people_getCustomFields_Response_200
    custom-fields-people_deletePersonCustomField_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: custom-fields-people_deletePersonCustomField_Response_204
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsWorkerTypesItems:
      type: string
      enum:
      - eor
      - contractor
      - hris_direct_employee
      - direct_employee
      - contractor_outside_deel
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsWorkerTypesItems
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataPlacement:
      type: string
      enum:
      - profile
      - contract
      description: Valid placements for custom field
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataPlacement
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID for the custom field value
        data:
          $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData'
      required:
      - id
      - data
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaData
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType:
      oneOf:
      - $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType0'
      - $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType1'
      - $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType2'
      description: Type of the custom field
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData2:
      type: object
      properties:
        value:
          type: string
          format: date
          description: 'Date type: YYYY-MM-DD'
      description: 'Date type: YYYY-MM-DD'
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData2
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData4:
      type: object
      properties:
        amount:
          type: number
          format: double
        currency:
          type: string
          description: The currency code in ISO 4217 format
      description: Currency type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData4
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData:
      oneOf:
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData0'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData1'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData2'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData3'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData4'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData5'
      - $ref: '#/components/schemas/PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData6'
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf0Name:
      type: string
      enum:
      - text
      - number
      - date
      - percentage
      description: Simple types
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf0Name
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData2:
      type: object
      properties:
        value:
          type: string
          format: date
      description: 'Date type: YYYY-MM-DD'
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData2
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData1:
      type: object
      properties:
        value:
          type: number
          format: double
          description: Number type
      description: Number type
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData1
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the custom field
        name:
          type: string
          description: Name of the custom field
        type:
          $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType'
          description: Type of the custom field
        settings:
          $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettings'
          description: Settings for the custom field
        placement:
          oneOf:
          - $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsPlacement'
          - type: 'null'
          description: Valid placements for custom field
        created_at:
          type: string
          format: date-time
          description: Creation date of the custom field
        description:
          type:
          - string
          - 'null'
          description: Description of the custom field
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItems
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData3:
      type: object
      properties:
        value:
          type: number
          format: double
          description: Percentage type
      description: Percentage type
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData3
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Custom field id
        name:
          type: string
          description: Name of the custom field
        type:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataType'
        settings:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettings'
        placement:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataPlacement'
          description: Valid placements for custom field
        created_at:
          type: string
          format: date
          description: Creation date of the custom field
        description:
          type: string
          description: Description of the custom field
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaData
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData5:
      type: object
      properties:
        option:
          type: string
      description: List type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData5
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData0:
      type: object
      properties:
        value:
          type: string
      description: Text type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData0
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettings:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsAccess'
          description: Access settings for the custom field
        required:
          type: boolean
          description: Whether the custom field is required
        countries:
          type: array
          items:
            type: string
          description: Countries for which the custom field is applicable.
        is_enabled:
          type: boolean
          description: Whether the custom field is enabled
        worker_types:
          type: array
          items:
            $ref: '#/components/schemas/PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsWorkerTypesItems'
          description: Worker types for which the custom field is applicable
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettings
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsAccessProvidedBy:
      type: string
      enum:
      - organization
      - worker
      description: Entity providing access to the custom field
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsSettingsAccessProvidedBy
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf0Name:
      type: string
      enum:
      - text
      - number
      - date
      - percentage
      description: Simple types
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataTypeOneOf0Name
    PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsAccessProvidedByItems:
      type: string
      enum:
      - organization
      - worker
      title: PeopleCustomFieldsIdGetResponsesContentApplicationJsonSchemaDataSettingsAccessProvidedByItems
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData6:
      type: object
      properties:
        options:
          type: array
          items:
            type: string
      description: Multiselect type
      title: PeopleWorkerIdCustomFieldsPutRequestBodyContentApplicationJsonSchemaDataData6
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ListAllPeopleCustomFieldsRequestInternalServerError:
      type: object
      properties:
        message:
          type: string
          description: Error message
      title: ListAllPeopleCustomFieldsRequestInternalServerError
    PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType0:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsTypeOneOf0Name'
          description: Simple types
      required:
      - name
      title: PeopleCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsType0
    PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData3:
      type: object
      properties:
        text:
          type: string
        value:
          type: number
          format: double
      description: Percentage type
      title: PeopleWorkerIdCustomFieldsGetResponsesContentApplicationJsonSchemaDataItemsData3
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
