openapi: 3.2.0
info:
  title: Endpoints Subpackage Integrations API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_integrations
paths:
  /integrations/consent:
    get:
      operationId: get-integration-consent
      summary: Get integration consent
      description: Retrieve the consent for the authenticated user or organization.
      tags:
      - subpackage_integrations
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations_getIntegrationConsent_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    Integrations_getIntegrationConsent_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/IntegrationsConsentGetResponsesContentApplicationJsonSchemaData'
      title: Integrations_getIntegrationConsent_Response_200
    IntegrationsConsentGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the consent.
        scope:
          type: string
          description: Scope of the consent.
        state:
          type: string
          description: State of the consent.
        status:
          type: string
          description: Status of the consent.
        user_id:
          type:
          - string
          - 'null'
          description: User ID associated with the consent.
        client_id:
          type: string
          description: Client ID associated with the consent.
        user_name:
          type:
          - string
          - 'null'
          description: User name associated with the consent.
        created_at:
          type: string
          description: Creation date for the consent.
        expires_at:
          type: string
          description: Expiration date for the consent.
        profile_id:
          type:
          - string
          - 'null'
          description: Profile ID associated with the consent.
        updated_at:
          type: string
          description: Update date for the consent.
        user_email:
          type:
          - string
          - 'null'
          description: User email associated with the consent.
        redirect_uri:
          type: string
          description: Redirect URI for the consent.
        organization_id:
          type:
          - string
          - 'null'
          description: Organization ID associated with the consent.
      title: IntegrationsConsentGetResponsesContentApplicationJsonSchemaData
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
