openapi: 3.1.0
info:
  title: Deel ATS Adjustments EOR Worker Information API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: EOR Worker Information
  description: Worker-side accounts, banks, documents, payslips, compliance
paths:
  /eor/workers/{worker_id}:
    get:
      operationId: getEorWorker
      summary: Retrieve EOR Worker Information
      tags:
      - EOR Worker Information
      parameters:
      - name: worker_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Worker detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EorWorker'
  /eor/workers/{worker_id}/payslips:
    get:
      operationId: getEorWorkerPayslips
      summary: Retrieve EOR Worker Payslips
      tags:
      - EOR Worker Information
      parameters:
      - name: worker_id
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Payslip list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payslip'
components:
  schemas:
    Payslip:
      type: object
      properties:
        id:
          type: string
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        gross:
          type: number
        net:
          type: number
        currency:
          type: string
        download_url:
          type: string
          format: uri
    EorWorker:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        country:
          type: string
        nationality:
          type: string
        date_of_birth:
          type: string
          format: date
        job_title:
          type: string
        start_date:
          type: string
          format: date
        external_id:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
