openapi: 3.2.0
info:
  title: Endpoints Subpackage Eor Worker Benefits API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_eorWorkerBenefits
paths:
  /eor/worker/benefits:
    get:
      operationId: get-eor-worker-benefits
      summary: Retrieve Benefits for Employee
      description: 'Retrieves list of benefits for employee. This endpoint requires the employee’s auth token, as the employee ID is inferred from the token.

        **Token scopes**: `benefits:read`'
      tags:
      - subpackage_eorWorkerBenefits
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-worker-benefits_getEORWorkerBenefits_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveBenefitsForEmployeeRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    RetrieveBenefitsForEmployeeRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaErrorsItems'
        request:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaRequest'
      title: RetrieveBenefitsForEmployeeRequestBadRequestError
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the benefit.
        name:
          type: string
          description: Name of the benefit
        type:
          type:
          - string
          - 'null'
          description: Benefit type.
        status:
          type: string
          description: Status of the benefit
        description:
          type: string
          description: Description of the benefit
        enrollment_details:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetails'
        organization_selection:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelection'
      required:
      - name
      - type
      - status
      - description
      - enrollment_details
      - organization_selection
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItems
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        path:
          type: string
          description: The JSON path where input validation failed
        message:
          type: string
          description: A description of the returned error
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaErrorsItems
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItems'
        currency:
          type: string
          description: Currency of the contract
        contract_id:
          type: string
          description: Unique id of the contract
      required:
      - benefits
      - currency
      - contract_id
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItems
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetails:
      type: object
      properties:
        selected_plan:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedPlan'
        selected_provider:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedProvider'
        current_cycle_plan_cost:
          type: number
          format: double
          description: Cost of the plan for the current cycle
        current_cycle_employer_contribution:
          type: number
          format: double
          description: Employer contribution for the current cycle
      required:
      - selected_plan
      - selected_provider
      - current_cycle_plan_cost
      - current_cycle_employer_contribution
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetails
    ? EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedProviderAttachmentsItems
    : type: object
      properties:
        id:
          type: string
          description: Unique id of the attachment
        url:
          type: string
          description: URL of the attachment
        label:
          type: string
          description: Label of the attachment
      required:
      - id
      - url
      - label
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedProviderAttachmentsItems
    ? EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedPlanAttachmentsItems
    : type: object
      properties:
        id:
          type: string
          description: Unique id of the attachment
        url:
          type: string
          description: URL of the attachment
        label:
          type: string
          description: Label of the attachment
      required:
      - id
      - url
      - label
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedPlanAttachmentsItems
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedProvider:
      type: object
      properties:
        id:
          type: string
          description: Unique id of the provider
        name:
          type: string
          description: Name of the provider
        is_unisure:
          type: boolean
          description: Indicates if Unisure.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedProviderAttachmentsItems'
        home_page_url:
          type: string
          description: Home page URL of the provider
      required:
      - id
      - name
      - attachments
      - home_page_url
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedProvider
    ? EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedProviderAttachmentsItems
    : type: object
      properties:
        id:
          type: string
          description: Unique id of the attachment
        url:
          type: string
          description: URL of the attachment
        label:
          type: string
          description: Label of the attachment
      required:
      - id
      - url
      - label
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedProviderAttachmentsItems
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelection:
      type: object
      properties:
        selected_plan:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedPlan'
        selected_provider:
          $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedProvider'
      required:
      - selected_plan
      - selected_provider
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelection
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedProvider:
      type: object
      properties:
        id:
          type: string
          description: Unique id of the provider
        name:
          type: string
          description: Name of the provider
        is_unisure:
          type: boolean
          description: Indicates if Unisure.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedProviderAttachmentsItems'
        home_page_url:
          type: string
          description: Home page URL of the provider
      required:
      - id
      - name
      - attachments
      - home_page_url
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedProvider
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedPlan:
      type: object
      properties:
        id:
          type: string
          description: Unique id of the plan
        name:
          type: string
          description: Name of the plan
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedPlanAttachmentsItems'
      required:
      - id
      - name
      - attachments
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedPlan
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedPlan:
      type: object
      properties:
        id:
          type: string
          description: Unique id of the plan
        name:
          type: string
          description: Name of the plan
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedPlanAttachmentsItems'
      required:
      - id
      - name
      - attachments
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsOrganizationSelectionSelectedPlan
    EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: The relative URL of the failed request
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        method:
          type: string
          description: The HTTP method of the failed request
        source:
          type: string
          description: The source handler which produced the returned error
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaRequest
    ? EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedPlanAttachmentsItems
    : type: object
      properties:
        id:
          type: string
          description: Unique id of the attachment
        url:
          type: string
          description: URL of the attachment
        label:
          type: string
          description: Label of the attachment
      required:
      - id
      - url
      - label
      title: EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItemsBenefitsItemsEnrollmentDetailsSelectedPlanAttachmentsItems
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    eor-worker-benefits_getEORWorkerBenefits_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EorWorkerBenefitsGetResponsesContentApplicationJsonSchemaDataItems'
      required:
      - data
      title: eor-worker-benefits_getEORWorkerBenefits_Response_200
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
