openapi: 3.1.0
info:
  title: Deel ATS Adjustments Paystubs API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Paystubs
  description: US paystubs
paths:
  /paystubs:
    get:
      operationId: getPaystubs
      summary: List Paystubs
      description: US-specific paystubs with state and federal tax breakdowns.
      tags:
      - Paystubs
      parameters:
      - name: worker_id
        in: query
        schema:
          type: string
      - name: year
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Paystubs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Paystub'
components:
  schemas:
    Paystub:
      type: object
      properties:
        id:
          type: string
        worker_id:
          type: string
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        gross:
          type: number
        net:
          type: number
        federal_tax:
          type: number
        state_tax:
          type: number
        fica:
          type: number
        currency:
          type: string
          default: USD
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
