openapi: 3.1.0
info:
  title: Deel ATS Adjustments Milestones API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Milestones
  description: Milestone-based contract deliverables
paths:
  /contracts/{contract_id}/milestones:
    get:
      operationId: getMilestones
      summary: List Milestones
      tags:
      - Milestones
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Milestones
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Milestone'
    post:
      operationId: createMilestone
      summary: Create Milestone
      tags:
      - Milestones
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneCreate'
      responses:
        '201':
          description: Milestone created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
components:
  schemas:
    Milestone:
      type: object
      properties:
        id:
          type: string
        contract_id:
          type: string
        title:
          type: string
        description:
          type: string
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum:
          - pending
          - in_progress
          - submitted
          - approved
          - paid
        due_date:
          type: string
          format: date
    MilestoneCreate:
      type: object
      required:
      - title
      - amount
      - currency
      properties:
        title:
          type: string
        description:
          type: string
        amount:
          type: number
        currency:
          type: string
        due_date:
          type: string
          format: date
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
