openapi: 3.2.0
info:
  title: Endpoints API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: ''
paths:
  /profiles:
    patch:
      operationId: profiles
      summary: Profiles
      description: 'Edit Profie

        **Token scopes**: `profile:write`, `profile:read`'
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully updated profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profiles_Response_200'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        description: Update profile information for the authenticated user
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ProfilesPatchRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
components:
  schemas:
    ProfilesPatchResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        phone:
          type: string
          description: The contact number for the profile.
        currency:
          type: string
          description: The preferred currency for the profile.
        timezone:
          type: string
          description: The timezone of the profile.
        last_name:
          type: string
          description: The last name of the profile.
        first_name:
          type: string
          description: The first name of the profile.
        preferred_name:
          type: string
          description: The preferred name of the profile.
      title: ProfilesPatchResponsesContentApplicationJsonSchemaData
    ProfilesPatchRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        phone:
          type: string
          description: The contact number for the profile.
        currency:
          type: string
          description: The preferred currency for the profile.
        timezone:
          type: string
          description: The timezone of the profile.
        last_name:
          type: string
          description: The last name of the profile.
        first_name:
          type: string
          description: The first name of the profile.
        preferred_name:
          type: string
          description: The preferred name of the profile.
      title: ProfilesPatchRequestBodyContentApplicationJsonSchemaData
    ProfilesRequestBadRequestError:
      type: object
      properties:
        message:
          type: string
          description: Error message explaining what went wrong.
      title: ProfilesRequestBadRequestError
    profiles_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProfilesPatchResponsesContentApplicationJsonSchemaData'
      title: profiles_Response_200
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
