openapi: 3.1.0
info:
  title: Deel ATS Adjustments Reference Data API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Reference Data
  description: Departments, locations, employment types, sources, tags, reasons
paths:
  /ats/departments:
    get:
      operationId: getAtsDepartments
      summary: List ATS Departments
      tags:
      - Reference Data
      responses:
        '200':
          description: Departments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
  /ats/employment-types:
    get:
      operationId: getAtsEmploymentTypes
      summary: List ATS Employment Types
      tags:
      - Reference Data
      responses:
        '200':
          description: Employment types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                          enum:
                          - full_time
                          - part_time
                          - contract
                          - internship
                          - temporary
  /ats/locations:
    get:
      operationId: getAtsLocations
      summary: List ATS Locations
      tags:
      - Reference Data
      responses:
        '200':
          description: Locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        country:
                          type: string
                        city:
                          type: string
                        remote:
                          type: boolean
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
