openapi: 3.2.0
info:
  title: Deel Global Payroll Payslips API
  description: 'Global Payroll APIs for direct employees on the client''s own legal entities across

    120+ countries. Covers payroll events/cycles, gross-to-net adjustments (bonuses,

    deductions, one-time payments, expense reimbursements), time-tracking shifts,

    payslips/paystubs, and Global Payroll hiring.'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/global-payroll/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Payslips
  description: Employee payslips
paths:
  /payslips:
    get:
      operationId: getPayslips
      summary: List Payslips
      tags:
      - Payslips
      parameters:
      - name: worker_id
        in: query
        schema:
          type: string
      - name: year
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Payslips
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payslip'
components:
  schemas:
    Payslip:
      type: object
      properties:
        id:
          type: string
        worker_id:
          type: string
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        gross:
          type: number
        net:
          type: number
        currency:
          type: string
        download_url:
          type: string
          format: uri
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
