openapi: 3.2.0
info:
  title: Endpoints Subpackage Onboarding API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_onboarding
paths:
  /onboarding/tracker/hris_profile/{hris_profile_id}:
    get:
      operationId: get-onboarding-details-by-employee-hris-profile-id-v-2026-01-01
      summary: Get onboarding details by employee HRIS profile ID
      description: 'Use this endpoint to retrieve a comprehensive overview of a worker''s onboarding status, including their profile details, contract status, and checklist progress.

        **Token scopes**: `contracts:read`, `people:read`'
      tags:
      - subpackage_onboarding
      parameters:
      - name: hris_profile_id
        in: path
        description: The unique identifier of the employee HRIS profile.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Onboarding overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Onboarding_getOnboardingDetailsByEmployeeHrisProfileId-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /onboarding/tracker/{tracker_id}:
    get:
      operationId: get-onboarding-details-by-onboarding-tracker-id-v-2026-01-01
      summary: Get onboarding details by onboarding tracker ID
      description: 'Use this endpoint to retrieve a comprehensive overview of a worker''s onboarding status, including their profile details, contract status, and checklist progress.

        **Token scopes**: `contracts:read`, `people:read`'
      tags:
      - subpackage_onboarding
      parameters:
      - name: tracker_id
        in: path
        description: The unique identifier of the onboarding tracker.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Onboarding overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Onboarding_getOnboardingDetailsByOnboardingTrackerId-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /onboarding/tracker:
    get:
      operationId: list-onboarding-employees-v-2026-01-01
      summary: List onboarding employees
      description: 'Returns a list of all workers currently going through the onboarding process, including contract details, HRIS profile information, current onboarding status, and onboarding due dates. Use this endpoint to monitor onboarding progress, track pending actions, and ensure deadlines are met.

        **Token scopes**: `contracts:read`, `people:read`'
      tags:
      - subpackage_onboarding
      parameters:
      - name: search
        in: query
        description: Search term to filter contracts by name or other attributes
        required: false
        schema:
          type: string
      - name: contractOid
        in: query
        description: Search attribute to filter onboarding list by contract id
        required: false
        schema:
          type: array
          items:
            type: string
      - name: hiringTypes
        in: query
        description: Search attribute to filter onboarding list by hiring type
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerGetParametersHiringTypesSchemaItems'
      - name: progressStatuses
        in: query
        description: Search attribute to filter onboarding list by progress status
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerGetParametersProgressStatusesSchemaItems'
      - name: countries
        in: query
        description: Search attribute to filter onboarding list by country
        required: false
        schema:
          type: array
          items:
            type: string
      - name: teams
        in: query
        description: Search attribute to filter onboarding list by team
        required: false
        schema:
          type: array
          items:
            type: string
      - name: legalEntities
        in: query
        description: Search attribute to filter onboarding list by legal entity
        required: false
        schema:
          type: array
          items:
            type: string
      - name: hrisDirectManagers
        in: query
        description: Search attribute to filter onboarding list by HRIS direct manager
        required: false
        schema:
          type: array
          items:
            type: string
      - name: fromDate
        in: query
        description: Start date for filtering contracts
        required: false
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: End date for filtering contracts
        required: false
        schema:
          type: string
          format: date-time
      - name: actions
        in: query
        description: Onboarding actions
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerGetParametersActionsSchemaItems'
      - name: limit
        in: query
        description: Number of results to return per page
        required: false
        schema:
          type: integer
          default: 20
      - name: sort_by
        in: query
        description: Field to sort by
        required: false
        schema:
          $ref: '#/components/schemas/OnboardingTrackerGetParametersSortBy'
      - name: sort_order
        in: query
        description: Sorting order
        required: false
        schema:
          $ref: '#/components/schemas/OnboardingTrackerGetParametersSortOrder'
      - name: cursor
        in: query
        description: Cursor for pagination
        required: false
        schema:
          type: string
      - name: include_overview
        in: query
        description: Include an overview of the contract
        required: false
        schema:
          type: boolean
          default: false
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of onboarding and their details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Onboarding_listOnboardingEmployees-v2026-01-01_Response_200'
        '400':
          description: Bad Request - Validation error or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOnboardingEmployees-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsData:
      type: object
      properties:
        emails:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItems'
          description: List of emails sent during the stepper process
        next_reminder_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Next reminder date, if applicable
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsData
    Onboarding_getOnboardingDetailsByOnboardingTrackerId-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaData'
      title: Onboarding_getOnboardingDetailsByOnboardingTrackerId-v2026-01-01_Response_200
    ListOnboardingEmployees-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaErrorsItems'
          description: Error messages
        request:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaRequest'
          description: Error request details
      required:
      - errors
      title: ListOnboardingEmployees-v2026-01-01RequestBadRequestError
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItems:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsData'
        type:
          type: string
          description: Type of the stepper action
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Completion timestamp of the stepper action
      description: Stepper action information
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItems
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataHrisProfile:
      type: object
      properties:
        oid:
          type: string
          description: HRIS Profile OID
        name:
          type: string
          description: HRIS Profile name
        email:
          type: string
          format: email
          description: Email of the HRIS profile
        work_email:
          type:
          - string
          - 'null'
          format: email
          description: Work email of the HRIS profile
      description: Employeee HRIS profile information
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataHrisProfile
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaPage:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination
        total_rows:
          type: integer
          description: Total number of onboarding
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaPage
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoiceStatus:
      type: string
      enum:
      - OPEN
      - PENDING
      - SKIPPED
      - PREPROCESSING
      - PROCESSING
      - CREDITED
      - PROCESSED
      - PAID
      - FAILED
      - CANCELLED
      - REFUNDED
      - UNPAYABLE
      - AWAITING_PAYMENT
      description: Status of the invoice
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoiceStatus
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataProfile:
      type: object
      properties:
        name:
          type: string
          description: Name associated with the profile
        email:
          type: string
          format: email
          description: Email of the profile
        country:
          type: string
          description: Country code
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
        previously_onboarded:
          type: boolean
          description: Indicates if the contractor has previously onboarded
      description: Employee profile information
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataProfile
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItems:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsData'
        type:
          type: string
          description: Type of the stepper action
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Completion timestamp of the stepper action
      description: Stepper action information
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItems
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItemsMeta:
      type: object
      properties:
        type:
          type: string
          description: Type of email
        email:
          type: string
          format: email
          description: Email address
        sent_at:
          type: string
          format: date-time
          description: Timestamp when the email was sent
      description: Email metadata
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItemsMeta
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsAppExperience:
      type: object
      properties:
        is_minimal_requirements:
          type: boolean
          description: Indicates if the employee meets minimal requirements
      description: The app experience of the employee
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsAppExperience
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsHrisProfile:
      type: object
      properties:
        oid:
          type: string
          description: The unique identifier for the HRIS profile
        work_email:
          type:
          - string
          - 'null'
          description: The work email of the employee
      description: The profile associated with the onboarding
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsHrisProfile
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContract:
      type: object
      properties:
        id:
          type: string
          description: Unique contract ID
        oid:
          type: string
          description: Contract OID
        name:
          type: string
          description: Contract name
        status:
          type: string
          description: Contract status (e.g., in_progress)
        created_at:
          type: string
          format: date-time
          description: Contract creation timestamp
        first_sign:
          type: string
          description: The first sign (either 'client' or 'contractor')
        completion_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The completion date of the contract, if applicable
        client_signed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the client signed the contract
        employee_agreement:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractEmployeeAgreement'
          description: Information about the Employment Agreement
        first_early_invoice:
          oneOf:
          - $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoice'
          - type: 'null'
          description: Only applicable for EOR contracts. First early invoice (EOR funding statement) for the contract, if any
        contractor_signed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the contractor signed the contract
        invited_contractor_email:
          type:
          - string
          - 'null'
          format: email
          description: Email of the invited contractor
      description: Information about the contract
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContract
    OnboardingTrackerGetParametersSortBy:
      type: string
      enum:
      - progressStatusWeight
      default: progressStatusWeight
      title: OnboardingTrackerGetParametersSortBy
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoice:
      type: object
      properties:
        id:
          type: string
          description: Unique invoice ID
        amount:
          type: string
          description: Invoice amount
        status:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoiceStatus'
          description: Status of the invoice
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the invoice was paid, if applicable
        currency:
          type: string
          description: Currency code for the invoice amount
        due_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Due date for the invoice
        description:
          type: string
          description: Invoice description
      description: Only applicable for EOR contracts. First early invoice (EOR funding statement) for the contract, if any
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoice
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        name:
          type: string
          description: The name associated with the onboarding
        contract:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsContract'
          description: The contract associated with the onboarding
        progress:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsProgress'
          description: The progress state of the onboarding
        unique_id:
          type: string
          description: A unique identifier for the tracker
        hiring_type:
          type: string
          description: The type of hiring (e.g., contractor)
        hris_profile:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsHrisProfile'
          description: The profile associated with the onboarding
        app_experience:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsAppExperience'
          description: The app experience of the employee
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItems
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItems:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsData'
          description: Additional data about the summary item
        name:
          type: string
          description: Name of the summary item
        type:
          type: string
          description: Type of the summary item
        value:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsValue'
          description: Value of the summary item
      description: Summary item information
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItems
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        profile:
          oneOf:
          - $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataProfile'
          - type: 'null'
          description: Employee profile information
        stepper:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItems'
          description: List of stepper actions taken during the onboarding process
        summary:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItems'
          description: Summary of the onboarding process
        contract:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContract'
          description: Information about the contract
        progress:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataProgress'
          description: Progress of the onboarding process
        checklist:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataChecklist'
          description: List of checklist steps
        hiring_type:
          type: string
          description: Hiring type (e.g., contractor)
        hris_profile:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataHrisProfile'
          description: Employeee HRIS profile information
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaData
    Onboarding_getOnboardingDetailsByEmployeeHrisProfileId-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaData'
      title: Onboarding_getOnboardingDetailsByEmployeeHrisProfileId-v2026-01-01_Response_200
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataProfile:
      type: object
      properties:
        name:
          type: string
          description: Name associated with the profile
        email:
          type: string
          format: email
          description: Email of the profile
        country:
          type:
          - string
          - 'null'
          description: Country code
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
        previously_onboarded:
          type: boolean
          description: Indicates if the contractor has previously onboarded
      description: Employee profile information
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataProfile
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItems:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsData'
          description: Additional data about the summary item
        name:
          type: string
          description: Name of the summary item
        type:
          type: string
          description: Type of the summary item
        value:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsValue'
          description: Value of the summary item
      description: Summary item information
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItems
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsData:
      type: object
      properties:
        country:
          type: string
          description: Country code for location-related summaries
        timezone:
          type: string
          description: Timezone information
        has_withdraw_methods:
          type: boolean
          description: Indicates if withdrawal methods exist
      description: Additional data about the summary item
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsData
    Onboarding_listOnboardingEmployees-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItems'
        page:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaPage'
      title: Onboarding_listOnboardingEmployees-v2026-01-01_Response_200
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      - type: string
        format: date-time
      - type: object
        additionalProperties:
          description: Any type
      description: Value of the summary item
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsValue
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataHrisProfile:
      type: object
      properties:
        oid:
          type: string
          description: HRIS Profile OID
        name:
          type: string
          description: HRIS Profile name
        email:
          type: string
          format: email
          description: Email of the HRIS profile
        work_email:
          type:
          - string
          - 'null'
          format: email
          description: Work email of the HRIS profile
      description: Employeee HRIS profile information
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataHrisProfile
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContract:
      type: object
      properties:
        id:
          type: string
          description: Unique contract ID
        oid:
          type: string
          description: Contract OID
        name:
          type: string
          description: Contract name
        status:
          type: string
          description: Contract status (e.g., in_progress)
        created_at:
          type: string
          format: date-time
          description: Contract creation timestamp
        first_sign:
          type: string
          description: The first sign (either 'client' or 'contractor')
        completion_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The completion date of the contract, if applicable
        client_signed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the client signed the contract
        employee_agreement:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractEmployeeAgreement'
          description: Information about the Employment Agreement
        first_early_invoice:
          oneOf:
          - $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoice'
          - type: 'null'
          description: Applicable only for EOR contracts. First early invoice (EOR funding statement) for the contract, if any
        contractor_signed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the contractor signed the contract
        invited_contractor_email:
          type:
          - string
          - 'null'
          format: email
          description: Email of the invited contractor
      description: Information about the contract
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContract
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsData:
      type: object
      properties:
        emails:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItems'
          description: List of emails sent during the stepper process
        next_reminder_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Next reminder date, if applicable
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsData
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoice:
      type: object
      properties:
        id:
          type: string
          description: Unique invoice ID
        amount:
          type: string
          description: Invoice amount
        status:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoiceStatus'
          description: Status of the invoice
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp when the invoice was paid, if applicable
        currency:
          type: string
          description: Currency code for the invoice amount
        due_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Due date for the invoice
        description:
          type: string
          description: Invoice description
      description: Applicable only for EOR contracts. First early invoice (EOR funding statement) for the contract, if any
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoice
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItemsMeta:
      type: object
      properties:
        type:
          type: string
          description: Type of email
        email:
          type: string
          format: email
          description: Email address
        sent_at:
          type: string
          format: date-time
          description: Timestamp when the email was sent
      description: Email metadata
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItemsMeta
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        profile:
          oneOf:
          - $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataProfile'
          - type: 'null'
          description: Employee profile information
        stepper:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItems'
          description: List of stepper actions taken during the onboarding process
        summary:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItems'
          description: Summary of the onboarding process
        contract:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContract'
          description: Information about the contract
        progress:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataProgress'
          description: Progress of the onboarding process
        checklist:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataChecklist'
          description: List of checklist steps
        hiring_type:
          type: string
          description: Hiring type (e.g., contractor)
        hris_profile:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataHrisProfile'
          description: Employeee HRIS profile information
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaData
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        method:
          type: string
          description: Method of the API
        status:
          type: number
          format: double
          description: Status of API response
      description: Error request details
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaRequest
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItems:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItemsMeta'
          description: Email metadata
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItems
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsProgressReferenceDate:
      oneOf:
      - type: string
        format: date
      - type: string
        format: date-time
      description: The reference date determining the onboarding status
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsProgressReferenceDate
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataChecklistStepsItems:
      type: object
      properties:
        type:
          type: string
          description: The type of checklist step
        label:
          type: string
          description: The label for the checklist step
        status:
          type: string
          description: Status of the checklist step
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Completion timestamp of the checklist step
        reject_reason:
          type: string
          description: Reason for rejecting the checklist step (It may contain HTML elements)
      description: Checklist step information
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataChecklistStepsItems
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsContract:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the contract
        effective_date:
          type: string
          format: date
          description: The effective date of the contract
      description: The contract associated with the onboarding
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsContract
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsData:
      type: object
      properties:
        country:
          type: string
          description: Country code for location-related summaries
        timezone:
          type: string
          description: Timezone information
        has_withdraw_methods:
          type: boolean
          description: Indicates if withdrawal methods exist
      description: Additional data about the summary item
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsData
    OnboardingTrackerGetParametersActionsSchemaItems:
      type: string
      enum:
      - ONBOARD
      - COMPLETE
      - PAUSE
      title: OnboardingTrackerGetParametersActionsSchemaItems
    OnboardingTrackerGetParametersSortOrder:
      type: string
      enum:
      - ASC
      - DESC
      default: ASC
      title: OnboardingTrackerGetParametersSortOrder
    OnboardingTrackerGetParametersHiringTypesSchemaItems:
      type: string
      enum:
      - contractor
      - employee
      description: Hiring type (e.g., contractor, employee)
      title: OnboardingTrackerGetParametersHiringTypesSchemaItems
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractEmployeeAgreement:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
          description: Status of the Employment Agreement. Can be null if the EA has not yet been generated
        version_hash:
          type:
          - string
          - 'null'
          description: Version of the Employment Agreement. Can be null if the EA has not yet been generated
      description: Information about the Employment Agreement
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataContractEmployeeAgreement
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      - type: string
        format: date-time
      - type: object
        additionalProperties:
          description: Any type
      description: Value of the summary item
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataSummaryItemsValue
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoiceStatus:
      type: string
      enum:
      - OPEN
      - PENDING
      - SKIPPED
      - PREPROCESSING
      - PROCESSING
      - CREDITED
      - PROCESSED
      - PAID
      - FAILED
      - CANCELLED
      - REFUNDED
      - UNPAYABLE
      - AWAITING_PAYMENT
      description: Status of the invoice
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractFirstEarlyInvoiceStatus
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataProgress:
      type: object
      properties:
        status:
          type: string
          description: Current status of the onboarding process (e.g., ACTIVE)
        reference_date:
          type: string
          format: date-time
          description: Reference date for the progress
        subject_to_overdue:
          type: boolean
          description: Indicates if the onboarding is subject to overdue
        reference_date_timezone:
          type: string
          description: Timezone of the reference date
        is_action_required_from_client:
          type: boolean
          description: Indicates if action is required from the client
      description: Progress of the onboarding process
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataProgress
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractEmployeeAgreement:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
          description: Status of the Employment Agreement. Can be null if the EA has not yet been generated
        version_hash:
          type:
          - string
          - 'null'
          description: Version of the Employment Agreement. Can be null if the EA has not yet been generated
      description: Information about the Employment Agreement
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataContractEmployeeAgreement
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataProgress:
      type: object
      properties:
        status:
          type: string
          description: Current status of the onboarding process (e.g., ACTIVE)
        reference_date:
          type: string
          format: date-time
          description: Reference date for the progress
        subject_to_overdue:
          type: boolean
          description: Indicates if the onboarding is subject to overdue
        reference_date_timezone:
          type: string
          description: Timezone of the reference date
        is_action_required_from_client:
          type: boolean
          description: Indicates if action is required from the client
      description: Progress of the onboarding process
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataProgress
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataChecklist:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataChecklistStepsItems'
          description: List of checklist steps
      description: List of checklist steps
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataChecklist
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsProgress:
      type: object
      properties:
        status:
          type: string
          description: Current status of the onboarding
        reference_date:
          $ref: '#/components/schemas/OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsProgressReferenceDate'
          description: The reference date determining the onboarding status
        people_list_status:
          type: string
          description: Status of the people list
        subject_to_overdue:
          type: boolean
          description: Whether the onboarding is subject to overdue
        onboarding_due_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Due date for onboarding
        reference_date_type:
          type: string
          description: Type of the reference date (e.g., EFFECTIVE_DATE)
        reference_date_timezone:
          type: string
          description: Timezone of the reference date
        is_action_required_from_client:
          type: boolean
          description: Whether action is required from the client
      description: The progress state of the onboarding
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaDataItemsProgress
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataChecklistStepsItems:
      type: object
      properties:
        type:
          type: string
          description: The type of checklist step
        label:
          type: string
          description: The label for the checklist step
        status:
          type: string
          description: Status of the checklist step
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Completion timestamp of the checklist step
        reject_reason:
          type: string
          description: Reason for rejecting the checklist step (It may contain HTML elements)
      description: Checklist step information
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataChecklistStepsItems
    OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItems:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItemsMeta'
          description: Email metadata
      title: OnboardingTrackerHrisProfileHrisProfileIdGetResponsesContentApplicationJsonSchemaDataStepperItemsDataEmailsItems
    OnboardingTrackerGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        message:
          type: string
          description: Error response
      required:
      - message
      title: OnboardingTrackerGetResponsesContentApplicationJsonSchemaErrorsItems
    OnboardingTrackerGetParametersProgressStatusesSchemaItems:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - ONBOARDING
      description: Progress status of the contract
      title: OnboardingTrackerGetParametersProgressStatusesSchemaItems
    OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataChecklist:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataChecklistStepsItems'
          description: List of checklist steps
      description: List of checklist steps
      title: OnboardingTrackerTrackerIdGetResponsesContentApplicationJsonSchemaDataChecklist
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
