openapi: 3.2.0
info:
  title: Deel Core Invoice Adjustments API
  description: 'Core organizational, contract, and people APIs for Deel. Covers organizations,

    legal entities, departments, groups, managers, cost centers, contracts (IC, EOR,

    Global Payroll), invoice adjustments, lookups, magic links, tasks, and custom fields.


    Authentication uses bearer Organization or Personal API tokens generated from the

    Deel Developer Center. Production base URL is https://api.letsdeel.com/rest/v2 and

    the sandbox is https://api-sandbox.demo.deel.com/rest/v2.'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/
  termsOfService: https://www.deel.com/legal/terms-of-service/
  license:
    name: Deel Developer Terms
    url: https://www.deel.com/legal/
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Invoice Adjustments
  description: Add, update, delete, and review invoice line items
paths:
  /invoice-adjustments:
    get:
      operationId: getInvoiceAdjustments
      summary: List Invoice Adjustments
      description: Returns invoice line items across the organization for the current pay cycle window.
      tags:
      - Invoice Adjustments
      parameters:
      - name: contract_id
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - approved
          - declined
          - paid
      responses:
        '200':
          description: Invoice adjustments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceAdjustmentList'
    post:
      operationId: createInvoiceAdjustment
      summary: Create An Invoice Adjustment
      description: Add a bonus, deduction, commission, expense, or other line item to a contractor invoice.
      tags:
      - Invoice Adjustments
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceAdjustmentCreate'
      responses:
        '201':
          description: Invoice adjustment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceAdjustment'
components:
  schemas:
    InvoiceAdjustmentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceAdjustment'
    InvoiceAdjustment:
      type: object
      properties:
        id:
          type: string
        contract_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        type:
          type: string
          enum:
          - bonus
          - commission
          - deduction
          - expense
          - vat
          - other
          - overtime
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - approved
          - declined
          - paid
        cycle:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
    InvoiceAdjustmentCreate:
      type: object
      required:
      - contract_id
      - amount
      - currency
      - type
      properties:
        contract_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        type:
          type: string
          enum:
          - bonus
          - commission
          - deduction
          - expense
          - vat
          - other
          - overtime
        description:
          type: string
        cycle:
          type: string
          format: date
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: UUID v4 idempotency key for safe retry. Responses are cached for 24 hours.
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Deel Organization or Personal API token issued from the Developer Center.
