openapi: 3.1.0
info:
  title: Deel ATS Adjustments Custom Fields API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Custom Fields
  description: Custom fields on contracts and people
paths:
  /custom-fields/contracts:
    get:
      operationId: getCustomFieldsContracts
      summary: List Contract Custom Fields
      tags:
      - Custom Fields
      responses:
        '200':
          description: Custom fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomField'
components:
  schemas:
    CustomField:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        label:
          type: string
        type:
          type: string
          enum:
          - text
          - number
          - date
          - select
          - boolean
        required:
          type: boolean
        options:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
