openapi: 3.2.0
info:
  title: Endpoints Subpackage Eor Contract Documents API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_eorContractDocuments
paths:
  /eor/contracts/{contract_id}/documents:
    get:
      operationId: get-eor-contract-documents
      summary: Fetch EOR contract documents
      description: 'Lists all documents for a given EOR contract

        **Token scopes**: `contracts:read`'
      tags:
      - subpackage_eorContractDocuments
      parameters:
      - name: contract_id
        in: path
        description: EOR contract ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The documents for the given EOR contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-contract-documents_getEORContractDocuments_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchEorContractDocumentsRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
components:
  schemas:
    EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        path:
          type: string
          description: The JSON path where input validation failed
        message:
          type: string
          description: A description of the returned error
      title: EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaErrorsItems
    EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaDataItemsDocumentType:
      type: string
      enum:
      - FRAMEWORK_AGREEMENT
      description: The type of document. Currently only FRAMEWORK_AGREEMENT is supported.
      title: EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaDataItemsDocumentType
    eor-contract-documents_getEORContractDocuments_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaDataItems'
      required:
      - data
      title: eor-contract-documents_getEORContractDocuments_Response_200
    EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        signature:
          type:
          - string
          - 'null'
          description: The signature of the client if the document is signed.
        signed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time the client signed the document if it is signed.
        document_type:
          $ref: '#/components/schemas/EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaDataItemsDocumentType'
          description: The type of document. Currently only FRAMEWORK_AGREEMENT is supported.
        eor_signature:
          type:
          - string
          - 'null'
          description: The signature of the EOR if the document is signed.
        eor_signed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time the EOR signed the document if it is signed.
        client_job_title:
          type:
          - string
          - 'null'
          description: The job title of the client if the document is signed.
      required:
      - document_type
      title: EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaDataItems
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    FetchEorContractDocumentsRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaErrorsItems'
        request:
          $ref: '#/components/schemas/EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaRequest'
      title: FetchEorContractDocumentsRequestBadRequestError
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        url:
          type: string
          description: The relative URL of the failed request
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        method:
          type: string
          description: The HTTP method of the failed request
        source:
          type: string
          description: The source handler which produced the returned error
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
      title: EorContractsContractIdDocumentsGetResponsesContentApplicationJsonSchemaRequest
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
