openapi: 3.1.0
info:
  title: Deel ATS Adjustments Managers API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Managers
  description: Manager directory for the organization
paths:
  /managers:
    get:
      operationId: getManagers
      summary: Retrieve List Of Managers
      tags:
      - Managers
      responses:
        '200':
          description: Manager list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Manager'
    post:
      operationId: createManager
      summary: Create A Manager
      tags:
      - Managers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagerCreate'
      responses:
        '201':
          description: Manager created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manager'
components:
  schemas:
    Manager:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
    ManagerCreate:
      type: object
      required:
      - email
      - first_name
      - last_name
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum:
          - admin
          - manager
          - viewer
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
