openapi: 3.1.0
info:
  title: Deel ATS Adjustments Global Payroll API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Global Payroll
  description: Payroll cycles and events for Global Payroll legal entities
paths:
  /gp/payroll-events:
    get:
      operationId: getPayrollEvents
      summary: List Payroll Events
      description: Returns the open and historical payroll cycles for the organization's Global Payroll entities.
      tags:
      - Global Payroll
      parameters:
      - name: legal_entity_id
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - open
          - locked
          - processed
          - paid
          - closed
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Payroll events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayrollEvent'
  /gp/payroll-events/{event_id}:
    get:
      operationId: getPayrollEvent
      summary: Retrieve A Payroll Event
      tags:
      - Global Payroll
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payroll event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollEvent'
components:
  schemas:
    PayrollEvent:
      type: object
      properties:
        id:
          type: string
        legal_entity_id:
          type: string
        country:
          type: string
        currency:
          type: string
        cycle_start:
          type: string
          format: date
        cycle_end:
          type: string
          format: date
        cutoff_date:
          type: string
          format: date
        pay_date:
          type: string
          format: date
        status:
          type: string
          enum:
          - draft
          - open
          - locked
          - processed
          - paid
          - closed
        total_gross:
          type: number
        total_net:
          type: number
        worker_count:
          type: integer
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
