openapi: 3.1.0
info:
  title: Deel ATS Adjustments Webhook Events API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Webhook Events
  description: Discover available webhook event types
paths:
  /webhooks/events:
    get:
      operationId: getWebhookEvents
      summary: List Of Webhook Event Types
      tags:
      - Webhook Events
      responses:
        '200':
          description: Event types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                          enum:
                          - contract
                          - invoice
                          - payroll
                          - time_off
                          - eor
                          - ats
                          - worker
                          - document
                          - immigration
                          - screening
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
