openapi: 3.1.0
info:
  title: Deel ATS Adjustments Contractor Amendments API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Contractor Amendments
  description: Amend active contractor contracts
paths:
  /contracts/{contract_id}/amendments:
    post:
      operationId: createContractorAmendment
      summary: Create Contractor Amendment
      tags:
      - Contractor Amendments
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorAmendmentCreate'
      responses:
        '201':
          description: Amendment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorAmendment'
  /contracts/{contract_id}/amendments/bulk-sign:
    post:
      operationId: bulkSignAmendments
      summary: Bulk Sign Contracts And Amendments
      description: Sign multiple contract amendments programmatically.
      tags:
      - Contractor Amendments
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amendment_ids
              properties:
                amendment_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Amendments signed
          content:
            application/json:
              schema:
                type: object
                properties:
                  signed_count:
                    type: integer
components:
  schemas:
    ContractorAmendment:
      type: object
      properties:
        id:
          type: string
        contract_id:
          type: string
        type:
          type: string
        status:
          type: string
          enum:
          - pending
          - approved
          - declined
          - signed
          - applied
        effective_date:
          type: string
          format: date
    ContractorAmendmentCreate:
      type: object
      required:
      - type
      - effective_date
      properties:
        type:
          type: string
          enum:
          - rate_change
          - scope_change
          - currency_change
          - term_extension
          - role_change
        effective_date:
          type: string
          format: date
        new_rate:
          type: number
        new_currency:
          type: string
        notes:
          type: string
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
