openapi: 3.2.0
info:
  title: Deel Global Payroll Adjustments API
  description: 'Global Payroll APIs for direct employees on the client''s own legal entities across

    120+ countries. Covers payroll events/cycles, gross-to-net adjustments (bonuses,

    deductions, one-time payments, expense reimbursements), time-tracking shifts,

    payslips/paystubs, and Global Payroll hiring.'
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/global-payroll/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Adjustments
  description: Gross-to-net payroll adjustments — bonuses, deductions, one-time payments
paths:
  /gp/adjustments:
    get:
      operationId: getAdjustments
      summary: List Payroll Adjustments
      tags:
      - Adjustments
      parameters:
      - name: payroll_event_id
        in: query
        schema:
          type: string
      - name: worker_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Adjustments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayrollAdjustment'
    post:
      operationId: createAdjustment
      summary: Create Payroll Adjustment
      description: Add a gross-to-net adjustment to a worker's pay for the current cycle.
      tags:
      - Adjustments
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayrollAdjustmentCreate'
      responses:
        '201':
          description: Adjustment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollAdjustment'
components:
  schemas:
    PayrollAdjustmentCreate:
      type: object
      required:
      - worker_id
      - type
      - amount
      - currency
      properties:
        worker_id:
          type: string
        payroll_event_id:
          type: string
        type:
          type: string
          enum:
          - bonus
          - deduction
          - commission
          - reimbursement
          - allowance
          - garnishment
          - one_time
          - recurring
        amount:
          type: number
        currency:
          type: string
        taxable:
          type: boolean
          default: true
        description:
          type: string
    PayrollAdjustment:
      type: object
      properties:
        id:
          type: string
        worker_id:
          type: string
        payroll_event_id:
          type: string
        type:
          type: string
          enum:
          - bonus
          - deduction
          - commission
          - reimbursement
          - allowance
          - garnishment
          - one_time
          - recurring
        amount:
          type: number
        currency:
          type: string
        taxable:
          type: boolean
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - approved
          - applied
          - declined
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
