openapi: 3.2.0
info:
  title: Endpoints Subpackage Eor Terminations API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_eorTerminations
paths:
  /eor/{oid}/terminations/{terminationId}:
    get:
      operationId: get-termination
      summary: Get termination
      description: 'This API allows clients and employees with viewer permissions to retrieve termination data. It ensures that only authorized users can access sensitive information related to terminations.

        **Token scopes**: `contracts:read`'
      tags:
      - subpackage_eorTerminations
      parameters:
      - name: oid
        in: path
        description: Public contract oid
        required: true
        schema:
          type: string
      - name: terminationId
        in: path
        description: Termination id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-terminations_getTermination_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Unauthorized response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaItems'
        '403':
          description: Forbidden response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaItems'
        '404':
          description: Not Found response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaItems'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /eor/contracts/{contract_id}/offboarding/termination:
    post:
      operationId: create-offboarding-termination
      summary: Initiate EOR contract termination request
      description: 'Enables clients to initiate a request for the termination of an Employee of Record (EOR) contract for members of their team.

        **Token scopes**: `contracts:write`'
      tags:
      - subpackage_eorTerminations
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of the employee contract.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Ok response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-terminations_createOffboardingTermination_Response_201'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateEorContractTerminationRequestRequestBadRequestError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateEorContractTerminationRequestRequestUnauthorizedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateEorContractTerminationRequestRequestForbiddenError'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateEorContractTerminationRequestRequestInternalServerError'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaData'
              required:
              - data
  /eor/{oid}/terminations/resignation:
    post:
      operationId: create-resignation
      summary: Request EOR Contract Resignation
      description: 'Enable clients with group admin and people manager permissions to initiate a resignation request for an Employee of Record (EOR) contract within their team.

        **Token scopes**: `contracts:read`, `contracts:write`'
      tags:
      - subpackage_eorTerminations
      parameters:
      - name: oid
        in: path
        description: Public contract oid
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-terminations_createResignation_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Unauthorized response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaItems'
        '403':
          description: Forbidden response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaItems'
        '404':
          description: Not Found response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaItems'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
  /eor/{oid}/terminations/regular:
    post:
      operationId: create-regular-termination
      summary: Termination Request
      description: 'This API enables clients with group admin and people manager permissions to initiate a request for the termination of an Employee of Record (EOR) contract for members of their team.

        **Token scopes**: `contracts:read`, `contracts:write`'
      tags:
      - subpackage_eorTerminations
      parameters:
      - name: oid
        in: path
        description: Public contract id
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-terminations_createRegularTermination_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Unauthorized response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaItems'
        '403':
          description: Forbidden response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaItems'
        '404':
          description: Not Found response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaItems'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
components:
  schemas:
    EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestDataEligibleForRehire
    EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaItems:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaItems
    EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaItems:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaItems
    EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: number
          format: double
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        contract_id:
          type: string
          description: Public contract oid
        request_data:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestData'
          - type: 'null'
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
      title: EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaData
    eor-terminations_createResignation_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaData'
      required:
      - data
      title: eor-terminations_createResignation_Response_200
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsStatus:
      type: string
      enum:
      - AWAITING_REVIEW
      - AWAITING_FEEDBACK
      - FEEDBACK_PROVIDED
      - APPROVED
      - CHANGES_REQUESTED_BY_CLIENT
      - CHANGES_REQUESTED_BY_EMPLOYEE
      - WAIVED_REVIEW
      - NOT_RESPONDED
      - CANCELLED
      description: The current status of the document review
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsStatus
    ? EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffAdditionalDetails
    : type: object
      properties:
        notes:
          type:
          - string
          - 'null'
          description: Additional notes or comments about the time-off data
        updated_by:
          type:
          - string
          - 'null'
          description: The person or system that last updated the time-off data
        last_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time when the time-off data was last updated
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffAdditionalDetails
    ? EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOff
    : type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOffEntitlementsItems'
          description: Array of time off entitlements for different tracking periods
        total_scheduled:
          type: number
          format: double
          description: Total amount of time off scheduled until the end date
        entitlement_unit:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOffEntitlementUnit'
          description: Unit of measurement for the time off entitlements
      required:
      - entitlements
      - total_scheduled
      - entitlement_unit
      description: Required when tracking_type is OFF_PLATFORM, null otherwise
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOff
    InitiateEorContractTerminationRequestRequestUnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: InitiateEorContractTerminationRequestRequestUnauthorizedError
    eor-terminations_getTermination_Response_200:
      type: object
      properties:
        id:
          type: number
          format: double
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        contract_id:
          type: string
          description: Public contract oid
        request_data:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestData'
          - type: 'null'
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
      title: eor-terminations_getTermination_Response_200
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataRequiredInformationItems:
      type: object
      properties:
        answer:
          type:
          - boolean
          - 'null'
          description: The answer to the question
        question:
          type: string
          description: The question to be answered
      required:
      - answer
      - question
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataRequiredInformationItems
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataEligibleForRehire
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItems:
      type: object
      properties:
        unit:
          $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsUnit'
          description: Time off unit
        policy_type:
          $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsPolicyType'
          description: Time off policy type
        tracking_periods:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems'
        scheduled_until_end_date:
          type: number
          format: double
          description: Time off escheduled until contract end date
      required:
      - unit
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItems
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsUnit:
      type: string
      enum:
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      - WEEK
      - MONTH
      - YEAR
      description: Time off unit
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsUnit
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOff:
      type: object
      properties:
        time_offs:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItems'
        additional_details:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffAdditionalDetails'
          - type: 'null'
        is_deel_pto_confirmed:
          type: boolean
          description: Indicates whether the PTO allocation has been confirmed by Deel's system
      required:
      - time_offs
      - is_deel_pto_confirmed
      description: Time-off usage data including policy information and tracking periods
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOff
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsPolicyType:
      type: string
      enum:
      - Vacation
      - Sick leave
      - Maternity leave
      - Paternity leave
      - Parental leave
      - Bereavement leave
      - Childcare leave
      - Civic/public duty leave
      - Personal leave
      - Adoption leave
      - Blood donation leave
      - Childbirth leave
      - Disability leave
      - Doctor's appointment leave
      - Family & domestic violence leave
      - Hajj leave
      - Marriage/wedding leave
      - Military leave
      - Moving leave
      - Pregnancy leave
      - Study leave
      - Volunteer leave
      - Unpaid leave
      - Paid leave
      - Other leave
      - RTT
      - Regional holiday
      - Breastfeeding leave
      - Advanced vacation
      - Supplementary Leave
      - Floating Holiday Allowance
      description: Time off policy type
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsPolicyType
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems:
      type: object
      properties:
        used:
          type: number
          format: double
          description: Time off used in the period
        end_date:
          type: string
          format: date-time
          description: Time off start period
        start_date:
          type: string
          format: date-time
          description: Time off end period
      required:
      - used
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsSupportingItems:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the file
        name:
          type: string
          description: The name of the file
        type:
          type: string
          description: The type/extension of the file
        created_at:
          type: string
          format: date-time
          description: The date and time the file was created
        updated_at:
          type: string
          format: date-time
          description: The date and time the file was updated
        is_additional_supporting_document:
          type: boolean
          description: Indicates if this is an additional supporting document added after the initial submission
      required:
      - id
      - name
      - type
      - created_at
      - updated_at
      - is_additional_supporting_document
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsSupportingItems
    ? EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItems
    : type: object
      properties:
        unit:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItemsUnit'
          description: The unit of measurement for time off tracking
        policy_type:
          type: string
          description: The type of time-off policy
        tracking_periods:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems'
        scheduled_until_end_date:
          type: number
          format: double
          description: The amount of time off scheduled until the end date of the current tracking period
      required:
      - unit
      - policy_type
      - tracking_periods
      - scheduled_until_end_date
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItems
    ? EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItemsUnit
    : type: string
      enum:
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      description: The unit of measurement for time off tracking
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItemsUnit
    EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestData:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        reason_detail:
          type:
          - string
          - 'null'
          description: Optional field to describe the reason behind the resignation request
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
        termination_impact:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestDataTerminationImpact'
          - type: 'null'
          description: Custom termination impact data if there is some configured on HR module
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        eligible_for_rehire_reason:
          type:
          - string
          - 'null'
          description: Describe if the option DONT_KNOW was selected on eligibleForRehire
        custom_termination_reason_id:
          type:
          - number
          - 'null'
          format: double
          description: Custom termination reason ID. A custom termination reason can be added on Client HR module
      title: EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestData
    EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaItems:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaItems
    EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestDataEligibleForRehire
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the document set shared with the employee.
        files:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsFilesItems'
        status:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsStatus'
          description: The current status of the document review
        created_at:
          type: string
          format: date-time
          description: The date and time the document set was created
        updated_at:
          type: string
          format: date-time
          description: The date and time the document set was updated
        reviewed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time when the document was reviewed
        reviewed_by:
          type:
          - string
          - 'null'
          description: The name of the reviewer for this document. If the reviewer is not an employee, it will be the name of the client
        reviewer_type:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsReviewerType'
          description: The type of reviewer for this document
        reviewer_feedback:
          type:
          - string
          - 'null'
          description: Feedback provided by the reviewer
        notification_instructions:
          type:
          - string
          - 'null'
          description: HTML instructions for the reviewer notification
        is_employee_notification_required:
          type: boolean
          description: Indicates if the employee should be notified about this document review
      required:
      - files
      - status
      - reviewer_type
      - is_employee_notification_required
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItems
    ? EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOffEntitlementsItems
    : type: object
      properties:
        used:
          type: number
          format: double
          description: Amount of time off used in the period
        tracking_period:
          type: string
          format: date
          description: Start date of the tracking period
        tracking_period_end_date:
          type: string
          format: date
          description: End date of the tracking period
      required:
      - used
      - tracking_period
      - tracking_period_end_date
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOffEntitlementsItems
    EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestDataTerminationImpact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          description: Termination impact title
        description:
          type: string
          description: Termination impact description
      description: Custom termination impact data if there is some configured on HR module
      title: EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestDataTerminationImpact
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataReason:
      type: string
      enum:
      - STATUS_CHANGE
      - RELOCATION
      - COMPENSATION
      - RETIREMENT
      - JOB_ABANDONMENT
      - WORK_RELATED
      - PERSONAL
      - OTHER_OPPORTUNITY
      - NON_RENEWAL
      - PROBATION
      - ASSIGNMENT_ENDED
      - POSITION_ELIMINATION
      - FORCE_REDUCTION
      - DEATH
      - FOR_CAUSE
      - PERFORMANCE
      - MEDICAL
      - PERFORMANCE_ISSUES
      - ATTENDANCE_ISSUES
      - REORGANIZATION_DOWNSIZING_BUDGET_OR_REDUCTION_OF_WORKFORCE
      - ROLE_BECAME_REDUNDANT_OR_ROLE_CHANGED
      - OFFER_WAS_REVOKED
      - EXITING_THE_MARKET
      - NO_LONGER_WISH_TO_WORK_WITH_DEEL
      - COMPANY_ACQUIRED
      - STEALING
      - MISCONDUCT
      - FALSIFYING
      - HARASSMENT
      - VIOLENCE
      - REORGANIZATION_DOWNSIZING_BUDGET_OR_REDUCTION_OF_WORKFORCE_OR_ROLE_BECAME_REDUNDANT_OR_ROLE_CHANGED
      - UNAUTHORIZED_ABSENCES_OR_LACK_OF_ATTENDANCE
      - STANDARD_RESELLER_PRACTICE
      - MOVING_EMPLOYEE_TO_INTERNAL_ENTITY
      - MOVING_EMPLOYEE_TO_DEEL_PEO
      - OTHER
      description: The reason for the termination
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataReason
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffTrackingType:
      type: string
      enum:
      - ON_PLATFORM
      - OFF_PLATFORM
      description: Type of time off tracking - whether it's tracked on Deel platform or off platform
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffTrackingType
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataReason'
          description: Reason why the contract is being terminated
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAttachmentsItems'
          description: Any document that is important for the request to terminate the contract
        is_sensitive:
          type: boolean
          description: Defines whether the termination is sensitive. In this case, only the person requesting the termination will be able to view the termination, receive emails or notifications.
        reason_detail:
          type: string
          description: Field to better explain how communication with the employee will be and/or their reaction to the communication, or other necessary information
        used_time_off:
          $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOff'
        severance_type:
          $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataSeveranceType'
          description: The type of severance selected by the client. It's an optional field
        desired_end_date:
          type: string
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
        severance_amount:
          type: number
          format: double
          description: The amount of severance needed
        additional_reason:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalReason'
          - type: 'null'
          description: An additional reason can be provided in case the reason selected is NO_LONGER_WISH_TO_WORK_WITH_DEEL
        termination_notes:
          type: array
          items:
            type: string
          description: Additional notes can be provided regarding the termination for Deel, like questions and doubts
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        eor_country_data_id:
          type: number
          format: double
          description: The current country data id
        is_employee_notified:
          type: boolean
          description: Defines if employee was informed by client or not before the termination
        termination_impact_id:
          type: string
          format: uuid
          description: Termination impact data if there is some configured on HR module
        additional_country_data:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalCountryDataItems'
          description: For some countries some data is needed to help Deel to process the termination. The questions comes from another endpoint to get the additional country data
        custom_termination_reason_id:
          type: string
          format: uuid
          description: Custom termination reason ID. A custom termination reason can be added on Client HR module
        employee_notification_detail:
          type:
          - string
          - 'null'
          description: If it's an termination contract ending and employee was already informed, the employee notification details should be provided
        additional_supporting_documents:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalSupportingDocumentsItems'
          description: Any proof such as correspondence, documentation of previous warnings or attendance records for the reason select above.
      required:
      - reason
      - reason_detail
      - used_time_off
      - is_employee_notified
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaData
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Error code of the handler which produced the returned error
        field:
          type: string
          description: The field name where error occurred (null for server errors)
        message:
          type: string
          description: Description of the returned error
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaErrorsItems
    eor-terminations_createOffboardingTermination_Response_201:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaData'
      required:
      - data
      title: eor-terminations_createOffboardingTermination_Response_201
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataAttachmentsItems:
      type: object
      properties:
        key:
          type: string
        file_name:
          type: string
      required:
      - key
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataAttachmentsItems
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataSeveranceType:
      type: string
      enum:
      - DAYS
      - WEEKS
      - MONTHS
      - CASH
      description: The type of severance selected by the client. It's an optional field
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataSeveranceType
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataAdditionalReason:
      type: string
      enum:
      - MOVING_TO_INTERNAL_ENTITY_WITH_DEEL_GLOBAL_PAYROLL
      - MOVING_TO_INTERNAL_ENTITY_WITH_OTHER_PROVIDER
      description: An additional reason can be provided in case the reason selected is MOVING_EMPLOYEE_TO_INTERNAL_ENTITY
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataAdditionalReason
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestData:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataReason'
          description: The reason for the termination
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        reason_detail:
          type:
          - string
          - 'null'
          description: Optional field to describe the reason behind the resignation request
        used_time_off:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOff'
          description: Time-off usage data including policy information and tracking periods
        desired_end_date:
          type:
          - string
          - 'null'
          format: date
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        eligible_for_rehire_reason:
          type:
          - string
          - 'null'
          description: Describe if the option DONT_KNOW was selected on eligible_for_rehire
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestData
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocuments:
      type: object
      properties:
        supporting:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsSupportingItems'
        offboarding:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItems'
          description: Document set shared that requires client or employee review
      required:
      - supporting
      - offboarding
      description: Document management structure for termination workflow including review processes and supporting documents
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocuments
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataReason:
      type: string
      enum:
      - DEEL_COLLECTIONS
      - STATUS_CHANGE
      - RELOCATION
      - COMPENSATION
      - RETIREMENT
      - JOB_ABANDONMENT
      - WORK_RELATED
      - PERSONAL
      - OTHER_OPPORTUNITY
      - NON_RENEWAL
      - PROBATION
      - ASSIGNMENT_ENDED
      - POSITION_ELIMINATION
      - FORCE_REDUCTION
      - DEATH
      - FOR_CAUSE
      - PERFORMANCE
      - MEDICAL
      - PERFORMANCE_ISSUES
      - ATTENDANCE_ISSUES
      - REORGANIZATION_DOWNSIZING_BUDGET_OR_REDUCTION_OF_WORKFORCE
      - ROLE_BECAME_REDUNDANT_OR_ROLE_CHANGED
      - OFFER_WAS_REVOKED
      - EXITING_THE_MARKET
      - NO_LONGER_WISH_TO_WORK_WITH_DEEL
      - COMPANY_ACQUIRED
      - STEALING
      - MISCONDUCT
      - FALSIFYING
      - HARASSMENT
      - VIOLENCE
      - REORGANIZATION_DOWNSIZING_BUDGET_OR_REDUCTION_OF_WORKFORCE_OR_ROLE_BECAME_REDUNDANT_OR_ROLE_CHANGED
      - UNAUTHORIZED_ABSENCES_OR_LACK_OF_ATTENDANCE
      - STANDARD_RESELLER_PRACTICE
      - MOVING_EMPLOYEE_TO_INTERNAL_ENTITY
      - MOVING_EMPLOYEE_TO_DEEL_PEO
      - OTHER
      description: Reason why the contract is being terminated
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataReason
    ? EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsFilesItems
    : type: object
      properties:
        id:
          type: string
          description: The unique identifier of the file
        name:
          type: string
          description: The name of the file
        type:
          type: string
          description: The type/extension of the file
        created_at:
          type: string
          format: date-time
          description: The date and time the file was created
        updated_at:
          type: string
          format: date-time
          description: The date and time the file was updated
      required:
      - id
      - name
      - type
      - created_at
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsFilesItems
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsUnit:
      type: string
      enum:
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      - WEEK
      - MONTH
      - YEAR
      description: Time off unit
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsUnit
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataReason:
      type: string
      enum:
      - DEEL_COLLECTIONS
      - STATUS_CHANGE
      - RELOCATION
      - COMPENSATION
      - RETIREMENT
      - JOB_ABANDONMENT
      - WORK_RELATED
      - PERSONAL
      - OTHER_OPPORTUNITY
      - NON_RENEWAL
      - PROBATION
      - ASSIGNMENT_ENDED
      - POSITION_ELIMINATION
      - FORCE_REDUCTION
      - DEATH
      - FOR_CAUSE
      - PERFORMANCE
      - MEDICAL
      - PERFORMANCE_ISSUES
      - ATTENDANCE_ISSUES
      - REORGANIZATION_DOWNSIZING_BUDGET_OR_REDUCTION_OF_WORKFORCE
      - ROLE_BECAME_REDUNDANT_OR_ROLE_CHANGED
      - OFFER_WAS_REVOKED
      - EXITING_THE_MARKET
      - NO_LONGER_WISH_TO_WORK_WITH_DEEL
      - COMPANY_ACQUIRED
      - STEALING
      - MISCONDUCT
      - FALSIFYING
      - HARASSMENT
      - VIOLENCE
      - REORGANIZATION_DOWNSIZING_BUDGET_OR_REDUCTION_OF_WORKFORCE_OR_ROLE_BECAME_REDUNDANT_OR_ROLE_CHANGED
      - UNAUTHORIZED_ABSENCES_OR_LACK_OF_ATTENDANCE
      - STANDARD_RESELLER_PRACTICE
      - MOVING_EMPLOYEE_TO_INTERNAL_ENTITY
      - MOVING_EMPLOYEE_TO_DEEL_PEO
      - OTHER
      description: Reason why the contract is being terminated
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataReason
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataReason:
      type: string
      enum:
      - EMPLOYEE_IS_MOVING_TO_ANOTHER_COUNTRY
      - MOVING_EMPLOYEE_TO_INTERNAL_ENTITY
      - MOVING_EMPLOYEE_TO_DEEL_PEO
      - EMPLOYEE_FOUND_ANOTHER_JOB
      - EMPLOYEE_NOT_HAPPY_WITH_BENEFITS
      - EMPLOYEE_NOT_HAPPY_WITH_SALARY
      - EMPLOYEE_NOT_HAPPY_WITH_THE_ROLE
      - EMPLOYEE_NOT_HAPPY_WITH_COMPANY_CULTURE
      - EMPLOYEE_NOT_HAPPY_WITH_DEEL
      - EMPLOYEE_PROJECT_ENDED
      - EMPLOYEE_SWITCHING_TO_OTHER_EOR_PROVIDER
      - EMPLOYEE_LEFT_ROLE_FOR_PERSONAL_MATTERS
      - EMPLOYEE_MOVING_FROM_EOR_TO_CONTRACTOR_OR_FREELANCE
      - WORKER_TYPE_CHANGE
      - DEEL_COLLECTIONS
      - EMPLOYEE_DID_NOT_TAKE_THE_OFFER
      - EMPLOYEE_PROVIDED_NO_REASON
      - OTHER_BUSINESS_REASONS
      description: Reason why the contract is being terminated
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataReason
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOff:
      type: object
      properties:
        time_offs:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItems'
          description: All time-off used by the employee during contract period
        additional_details:
          type:
          - string
          - 'null'
          description: Any additional details regarding time off that HRX should know
        is_deel_pto_confirmed:
          type: boolean
          description: Defines whether the client agrees with the time off values that are registered in Deel. If false, it means that the client changed the values.
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOff
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataData:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataReason'
          description: Reason why the contract is being terminated
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataAttachmentsItems'
          description: Any document that is important for the request to terminate the contract
        is_sensitive:
          type: boolean
          description: Defines whether the termination is sensitive. In this case, only the person requesting the termination will be able to view the termination, receive emails or notifications.
        reason_detail:
          type: string
          description: Optional field to describe the reason behind the resignation request
        used_time_off:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOff'
        severance_type:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataSeveranceType'
          description: The type of severance selected by the client. It's an optional field
        desired_end_date:
          type: string
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
        severance_amount:
          type: number
          format: double
          description: The amount of severance needed
        additional_reason:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataAdditionalReason'
          - type: 'null'
          description: An additional reason can be provided in case the reason selected is MOVING_EMPLOYEE_TO_INTERNAL_ENTITY
        termination_notes:
          type: array
          items:
            type: string
          description: Additional notes can be provided regarding the termination for Deel, like questions and doubts
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        termination_impact_id:
          type: string
          format: uuid
          description: Termination impact data if there is some configured on HR module
        eligible_for_rehire_reason:
          type:
          - string
          - 'null'
          description: Describe if the option DONT_KNOW was selected on eligibleForRehire
        custom_termination_reason_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Custom termination reason ID. A custom termination reason can be added on Client HR module
        is_employee_staying_with_deel:
          type:
          - boolean
          - 'null'
          description: Defines if employee will keep using Deel as provider
      required:
      - reason
      - used_time_off
      - is_employee_staying_with_deel
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataData
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataAdditionalReason:
      type: string
      enum:
      - DISSATISFIED_WITH_DEEL_SERVICE
      - DISSATISFIED_WITH_DEEL_PRICING
      - DISSATISFIED_WITH_DEEL_PRODUCT
      description: An additional reason can be provided in case the reason selected is NO_LONGER_WISH_TO_WORK_WITH_DEEL
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataAdditionalReason
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataData'
      required:
      - data
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaData
    ? EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsReviewerType
    : type: string
      enum:
      - CLIENT
      - EMPLOYEE
      description: The type of reviewer for this document
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocumentsOffboardingItemsReviewerType
    InitiateEorContractTerminationRequestRequestForbiddenError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: InitiateEorContractTerminationRequestRequestForbiddenError
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalCountryDataItems:
      type: object
      properties:
        answer:
          type:
          - boolean
          - 'null'
        question:
          type: string
      required:
      - answer
      - question
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalCountryDataItems
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalReason:
      type: string
      enum:
      - DISSATISFIED_WITH_DEEL_SERVICE
      - DISSATISFIED_WITH_DEEL_PRICING
      - DISSATISFIED_WITH_DEEL_PRODUCT
      description: An additional reason can be provided in case the reason selected is NO_LONGER_WISH_TO_WORK_WITH_DEEL
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalReason
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataEligibleForRehire
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the offboarding request
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        documents:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataDocuments'
          description: Document management structure for termination workflow including review processes and supporting documents
        created_at:
          type: string
          format: date-time
          description: The date and time the offboarding request was created
        updated_at:
          type: string
          format: date-time
          description: The date and time the offboarding request was updated
        contract_id:
          type: string
          description: The unique identifier of the employee contract.
        is_sensitive:
          type: boolean
          description: Indicates if the offboarding request is sensitive. This is used to restrict access to the request only to the requester and the HRX team.
        request_data:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestData'
          - type: 'null'
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaData
    ? EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems
    : type: object
      properties:
        used:
          type: number
          format: double
          description: The amount of time off used in this tracking period
        end_date:
          type: string
          format: date-time
          description: The end date of the tracking period
        start_date:
          type: string
          format: date-time
          description: The start date of the tracking period
      required:
      - used
      - end_date
      - start_date
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems
    ? EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOffEntitlementUnit
    : type: string
      enum:
      - BUSINESS_DAY
      - CALENDAR_DAY
      - HOUR
      - WEEK
      - MONTH
      - YEAR
      description: Unit of measurement for the time off entitlements
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOffEntitlementUnit
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataSeveranceType:
      type: string
      enum:
      - DAYS
      - WEEKS
      - MONTHS
      - CASH
      description: The type of severance selected by the client. It's an optional field
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataSeveranceType
    InitiateEorContractTerminationRequestRequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: InitiateEorContractTerminationRequestRequestInternalServerError
    eor-terminations_createRegularTermination_Response_200:
      type: object
      properties:
        id:
          type: number
          format: double
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        contract_id:
          type: string
          description: Public contract oid
        request_data:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestData'
          - type: 'null'
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
      title: eor-terminations_createRegularTermination_Response_200
    ? EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems
    : type: object
      properties:
        used:
          type: number
          format: double
          description: Time off used in the period
        end_date:
          type: string
          format: date-time
          description: Time off start period
        start_date:
          type: string
          format: date-time
          description: Time off end period
      required:
      - used
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataSeveranceType:
      type: string
      enum:
      - DAYS
      - WEEKS
      - MONTHS
      - CASH
      description: The type of severance selected by the client. It's an optional field
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataSeveranceType
    InitiateEorContractTerminationRequestRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: InitiateEorContractTerminationRequestRequestBadRequestError
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOff:
      type: object
      properties:
        tracking_type:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffTrackingType'
          description: Type of time off tracking - whether it's tracked on Deel platform or off platform
        off_platform_used_time_off:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOffOffPlatformUsedTimeOff'
          - type: 'null'
          description: Required when tracking_type is OFF_PLATFORM, null otherwise
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOff
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsPolicyType:
      type: string
      enum:
      - Vacation
      - Sick leave
      - Maternity leave
      - Paternity leave
      - Parental leave
      - Bereavement leave
      - Childcare leave
      - Civic/public duty leave
      - Personal leave
      - Adoption leave
      - Blood donation leave
      - Childbirth leave
      - Disability leave
      - Doctor's appointment leave
      - Family & domestic violence leave
      - Hajj leave
      - Marriage/wedding leave
      - Military leave
      - Moving leave
      - Pregnancy leave
      - Study leave
      - Volunteer leave
      - Unpaid leave
      - Paid leave
      - Other leave
      - RTT
      - Regional holiday
      - Breastfeeding leave
      - Advanced vacation
      - Supplementary Leave
      - Floating Holiday Allowance
      description: Time off policy type
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItemsPolicyType
    EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestDataTerminationImpact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          description: Termination impact title
        description:
          type: string
          description: Termination impact description
      description: Custom termination impact data if there is some configured on HR module
      title: EorOidTerminationsResignationPostResponsesContentApplicationJsonSchemaDataRequestDataTerminationImpact
    EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaData:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataReason'
          description: Reason why the contract is being terminated
        attachments:
          type: string
          format: binary
          description: This field allows for uploading multiple files at once. Attach any document that is important for the request to terminate the contract. Includes common image formats (JPG, JPEG, PNG, HEIC) and PDF documents.
        is_sensitive:
          type: boolean
          description: Defines whether the termination is sensitive. In this case, only the person requesting the termination will be able to view the termination, receive emails or notifications.
        reason_detail:
          type: string
          description: Field to better explain how communication with the employee will be and/or their reaction to the communication, or other necessary information
        used_time_off:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataUsedTimeOff'
        severance_type:
          $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataSeveranceType'
          description: The type of severance selected by the client. It's an optional field
        desired_end_date:
          type: string
          format: date
          description: The desired end date of the contract. If the date is not provided, Deel HRX team will select the nearest possible date.
        severance_amount:
          type: integer
          description: The amount of severance needed
        additional_reason:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataAdditionalReason'
          - type: 'null'
          description: An additional reason can be provided in case the reason selected is NO_LONGER_WISH_TO_WORK_WITH_DEEL
        termination_notes:
          type: array
          items:
            type: string
          description: Additional notes can be provided regarding the termination for Deel, like questions and doubts
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        is_employee_notified:
          type: boolean
          description: Defines if employee was informed by client or not before the termination
        required_information:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaDataRequiredInformationItems'
          description: For some countries some data is needed to help to process the termination. The questions comes from another endpoint to get the required information. See GET /eor/:oid/offboarding/required-information to get the questions.
        termination_impact_id:
          type: string
          format: uuid
          description: Termination impact data if there is some configured on HR module
        employee_notification_detail:
          type:
          - string
          - 'null'
          description: If it's an termination contract ending and employee was already informed, should detail the notification to the employee
        additional_supporting_documents:
          type: string
          format: binary
          description: This field allows for uploading multiple files at once. Any proof such as correspondence, documentation of previous warnings or attendance records for the reason select above. Includes common image formats (JPG, JPEG, PNG, HEIC) and PDF documents.
      required:
      - reason
      - reason_detail
      - used_time_off
      - is_employee_notified
      title: EorContractsContractIdOffboardingTerminationPostRequestBodyContentMultipartFormDataSchemaData
    EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestData:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        reason_detail:
          type:
          - string
          - 'null'
          description: Optional field to describe the reason behind the resignation request
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
        termination_impact:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestDataTerminationImpact'
          - type: 'null'
          description: Custom termination impact data if there is some configured on HR module
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        eligible_for_rehire_reason:
          type:
          - string
          - 'null'
          description: Describe if the option DONT_KNOW was selected on eligibleForRehire
        custom_termination_reason_id:
          type:
          - number
          - 'null'
          format: double
          description: Custom termination reason ID. A custom termination reason can be added on Client HR module
      title: EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestData
    EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorOidTerminationsRegularPostResponsesContentApplicationJsonSchemaRequestDataEligibleForRehire
    EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorContractsContractIdOffboardingTerminationPostResponsesContentApplicationJsonSchemaDataRequestDataEligibleForRehire
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOff:
      type: object
      properties:
        time_offs:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOffTimeOffsItems'
          description: All time-off used by the employee during contract period
        additional_details:
          type:
          - string
          - 'null'
          description: Any additional details regarding time off that HRX should know
        is_deel_pto_confirmed:
          type: boolean
          description: Defines whether the client agrees with the time off values ​​that are registered in Deel. If false, it means that the client changed the values.
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataUsedTimeOff
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAttachmentsItems:
      type: object
      properties:
        key:
          type: string
        file_name:
          type: string
      required:
      - key
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAttachmentsItems
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalSupportingDocumentsItems:
      type: object
      properties:
        key:
          type: string
        file_name:
          type: string
      required:
      - key
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataAdditionalSupportingDocumentsItems
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestData:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The definitive contract end date
        reason_detail:
          type:
          - string
          - 'null'
          description: Optional field to describe the reason behind the resignation request
        desired_end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The desired end date. If the date is not provided, it will be selected by HRX the closest date possible
        termination_impact:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestDataTerminationImpact'
          - type: 'null'
          description: Custom termination impact data if there is some configured on HR module
        eligible_for_rehire:
          oneOf:
          - $ref: '#/components/schemas/EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestDataEligibleForRehire'
          - type: 'null'
          description: Parameter to inform whether it would be possible for the client to hire the employee again
        eligible_for_rehire_reason:
          type:
          - string
          - 'null'
          description: Describe if the option DONT_KNOW was selected on eligibleForRehire
        custom_termination_reason_id:
          type:
          - number
          - 'null'
          format: double
          description: Custom termination reason ID. A custom termination reason can be added on Client HR module
      title: EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestData
    EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataEligibleForRehire:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - DONT_KNOW
      description: Parameter to inform whether it would be possible for the client to hire the employee again
      title: EorOidTerminationsRegularPostRequestBodyContentApplicationJsonSchemaDataEligibleForRehire
    EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItems:
      type: object
      properties:
        unit:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsUnit'
          description: Time off unit
        policy_type:
          $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsPolicyType'
          description: Time off policy type
        tracking_periods:
          type: array
          items:
            $ref: '#/components/schemas/EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItemsTrackingPeriodsItems'
        scheduled_until_end_date:
          type: number
          format: double
          description: Time off escheduled until contract end date
      required:
      - unit
      title: EorOidTerminationsResignationPostRequestBodyContentApplicationJsonSchemaDataDataUsedTimeOffTimeOffsItems
    EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestDataTerminationImpact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          description: Termination impact title
        description:
          type: string
          description: Termination impact description
      description: Custom termination impact data if there is some configured on HR module
      title: EorOidTerminationsTerminationIdGetResponsesContentApplicationJsonSchemaRequestDataTerminationImpact
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
