openapi: 3.1.0
info:
  title: Deel ATS Adjustments Invoice Adjustments API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Invoice Adjustments
  description: Add, update, delete, and review invoice line items
paths:
  /invoice-adjustments:
    get:
      operationId: getInvoiceAdjustments
      summary: List Invoice Adjustments
      description: Returns invoice line items across the organization for the current pay cycle window.
      tags:
      - Invoice Adjustments
      parameters:
      - name: contract_id
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - approved
          - declined
          - paid
      responses:
        '200':
          description: Invoice adjustments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceAdjustmentList'
    post:
      operationId: createInvoiceAdjustment
      summary: Create An Invoice Adjustment
      description: Add a bonus, deduction, commission, expense, or other line item to a contractor invoice.
      tags:
      - Invoice Adjustments
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceAdjustmentCreate'
      responses:
        '201':
          description: Invoice adjustment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceAdjustment'
components:
  schemas:
    InvoiceAdjustment:
      type: object
      properties:
        id:
          type: string
        contract_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        type:
          type: string
          enum:
          - bonus
          - commission
          - deduction
          - expense
          - vat
          - other
          - overtime
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - approved
          - declined
          - paid
        cycle:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
    InvoiceAdjustmentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceAdjustment'
    InvoiceAdjustmentCreate:
      type: object
      required:
      - contract_id
      - amount
      - currency
      - type
      properties:
        contract_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        type:
          type: string
          enum:
          - bonus
          - commission
          - deduction
          - expense
          - vat
          - other
          - overtime
        description:
          type: string
        cycle:
          type: string
          format: date
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: UUID v4 idempotency key for safe retry. Responses are cached for 24 hours.
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
