openapi: 3.1.0
info:
  title: Deel ATS Adjustments Organizations API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Organizations
  description: Organization profile, child organizations, structure, departments, groups
paths:
  /organizations:
    get:
      operationId: getOrganizations
      summary: Retrieve Organization
      description: Returns the current organization profile and child organizations the API token can access.
      tags:
      - Organizations
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /organizations/structure:
    get:
      operationId: getOrganizationStructure
      summary: Retrieve Organization Structure
      description: Returns the organization tree of departments, groups, and reporting relationships.
      tags:
      - Organizations
      responses:
        '200':
          description: Organization structure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationStructure'
components:
  schemas:
    Department:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        parent_id:
          type: string
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        country:
          type: string
        currency:
          type: string
        created_at:
          type: string
          format: date-time
        external_id:
          type: string
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              field:
                type: string
    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
    OrganizationStructure:
      type: object
      properties:
        data:
          type: object
          properties:
            departments:
              type: array
              items:
                $ref: '#/components/schemas/Department'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/Group'
    OrganizationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
  responses:
    RateLimited:
      description: Rate limit exceeded (5 requests/second per organization)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
