openapi: 3.1.0
info:
  title: Deel ATS Adjustments Candidates API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Candidates
  description: Candidate records and resume attachments
paths:
  /ats/candidates:
    get:
      operationId: getAtsCandidates
      summary: List ATS Candidates
      tags:
      - Candidates
      parameters:
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Candidates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AtsCandidate'
    post:
      operationId: createAtsCandidate
      summary: Create ATS Candidate
      tags:
      - Candidates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsCandidateCreate'
      responses:
        '201':
          description: Candidate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsCandidate'
components:
  schemas:
    AtsCandidateCreate:
      type: object
      required:
      - first_name
      - last_name
      - email
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        location:
          type: string
        linkedin_url:
          type: string
          format: uri
        source_id:
          type: string
    AtsCandidate:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        location:
          type: string
        resume_url:
          type: string
          format: uri
        linkedin_url:
          type: string
          format: uri
        source_id:
          type: string
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
