openapi: 3.1.0
info:
  title: Deel ATS Adjustments IC Invoicing Taxes API
  description: 'Applicant Tracking System API for managing the full recruiting pipeline — jobs and

    job postings, candidates, applications, attachments, offers, departments, locations,

    email templates, hiring members, employment types, application sources, tags, and

    reasons — with an end-to-end candidate-to-contract flow via Deel Hire.

    '
  version: '2026-05-25'
  contact:
    name: Deel Developer Support
    url: https://developer.deel.com/api/ats-guides/introduction
servers:
- url: https://api.letsdeel.com/rest/v2
  description: Production
- url: https://api-sandbox.demo.deel.com/rest/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: IC Invoicing Taxes
  description: Contractor invoicing and tax handling
paths:
  /ic-invoicing/taxes/{contract_id}:
    get:
      operationId: getIcInvoicingTaxes
      summary: Retrieve Contractor Invoicing Taxes
      tags:
      - IC Invoicing Taxes
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tax configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      vat_applicable:
                        type: boolean
                      vat_rate:
                        type: number
                      tax_residency:
                        type: string
                      tax_id:
                        type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
