openapi: 3.2.0
info:
  title: Endpoints Subpackage Orders API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_orders
paths:
  /it/orders/{order_id}:
    get:
      operationId: get-it-order-by-id
      summary: Retrieve an IT order
      description: 'Retrieve detailed information about a single IT equipment order using its unique identifier. This allows you to track the order''s status, review shipping details, and see the associated product. For more info, visit Orders

        **Token scopes**: `it-orders:read`'
      tags:
      - subpackage_orders
      parameters:
      - name: order_id
        in: path
        description: Unique identifier of the IT order
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders_getITOrderById_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAnItOrderRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAnItOrderRequestInternalServerError'
  /it/orders:
    get:
      operationId: get-it-orders
      summary: List IT orders
      description: 'Retrieve a paginated list of all IT equipment orders for the organization. This is useful for reviewing both historical and current procurement requests to track overall equipment provisioning. For more info, visit Orders.

        **Token scopes**: `it-orders:read`'
      tags:
      - subpackage_orders
      parameters:
      - name: cursor
        in: query
        description: Indicates where the next page of results starts, as returned in a paginated list response
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Return a page of results with given number of records
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders_getITOrders_Response_200'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItOrdersRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItOrdersRequestInternalServerError'
components:
  schemas:
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsStorefrontFeeCurrency:
      type: string
      enum:
      - EUR
      - AED
      - AFN
      - XCD
      - ALL
      - AMD
      - AOA
      - ARS
      - USD
      - AUD
      - AWG
      - AZN
      - BAM
      - BDT
      - XOF
      - BGN
      - BHD
      - BIF
      - BMD
      - SGD
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - XAF
      - CHF
      - NZD
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CVE
      - ANG
      - CZK
      - DJF
      - DOP
      - DZD
      - EGP
      - MAD
      - ERN
      - ETB
      - FJD
      - FKP
      - DKK
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - WST
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - XPF
      - NGN
      - NIO
      - NOK
      - NPR
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - YER
      - ZAR
      - ZMW
      - ZWD
      description: Three-letter currency code for the price
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsStorefrontFeeCurrency
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Error code of the handler which produced the returned error
        field:
          type: string
          description: The field name where input validation failed
        message:
          type: string
          description: Description of the returned error
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaErrorsItems
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddressType:
      type: string
      enum:
      - PII
      - PARTIAL
      - DELIVERY
      - COLLECTION
      - ENTITY
      - SUPPLIER
      - BILLING
      description: Type of the address
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddressType
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUser:
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
            format: email
          description: Array of user email addresses
        address:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddress'
          description: User address details
        last_name:
          type: string
          description: Last name of the user
        first_name:
          type: string
          description: First name of the user
        hris_profile_id:
          type: string
          format: uuid
          description: The unique identifier of the HRIS profile of the assigned user
      description: Details of the order attached user
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUser
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddressCountry:
      type: string
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - IC
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - XK
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      description: Country code
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddressCountry
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddressType:
      type: string
      enum:
      - PII
      - PARTIAL
      - DELIVERY
      - COLLECTION
      - ENTITY
      - SUPPLIER
      - BILLING
      description: Type of the address
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddressType
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetails:
      type: object
      properties:
        asset_price:
          oneOf:
          - $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAssetPrice'
          - type: 'null'
          description: Price of the order item
        storefront_fee:
          oneOf:
          - $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsStorefrontFee'
          - type: 'null'
          description: Storefront fee associated with the order item
        acquisition_type:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAcquisitionType'
          description: Acquisition type of the order item
      description: Order item pricing details
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetails
    orders_getITOrders_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItems'
        has_more:
          type: boolean
          description: Whether there are more results available
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor to the next page
        total_count:
          type: integer
          description: Total number of records
      title: orders_getITOrders_Response_200
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddress:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the address
        city:
          type:
          - string
          - 'null'
          description: City name
        type:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddressType'
          description: Type of the address
        line1:
          type:
          - string
          - 'null'
          description: Address line 1
        line2:
          type:
          - string
          - 'null'
          description: Address line 2
        state:
          type:
          - string
          - 'null'
          description: State code or name
        country:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddressCountry'
          description: Country code
        is_valid:
          type: boolean
          description: Whether the address passes validation
        post_code:
          type:
          - string
          - 'null'
          description: Post code
        phone_number:
          type:
          - string
          - 'null'
          description: Phone number
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
          description: Date of birth (applicable for some address types)
        tax_id_number:
          type:
          - string
          - 'null'
          description: Tax ID number (applicable for some address types)
        passport_number:
          type:
          - string
          - 'null'
          description: Passport number (applicable for some address types)
        delivery_instructions:
          type:
          - string
          - 'null'
          description: Special instructions for deliveries
      description: User address details
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUserAddress
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUser:
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
            format: email
          description: Array of user email addresses
        address:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddress'
          description: User address details
        last_name:
          type: string
          description: Last name of the user
        first_name:
          type: string
          description: First name of the user
        hris_profile_id:
          type: string
          format: uuid
          description: The unique identifier of the HRIS profile of the assigned user
      description: Details of the user with asset possession
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUser
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsStorefrontFeeCurrency:
      type: string
      enum:
      - EUR
      - AED
      - AFN
      - XCD
      - ALL
      - AMD
      - AOA
      - ARS
      - USD
      - AUD
      - AWG
      - AZN
      - BAM
      - BDT
      - XOF
      - BGN
      - BHD
      - BIF
      - BMD
      - SGD
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - XAF
      - CHF
      - NZD
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CVE
      - ANG
      - CZK
      - DJF
      - DOP
      - DZD
      - EGP
      - MAD
      - ERN
      - ETB
      - FJD
      - FKP
      - DKK
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - WST
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - XPF
      - NGN
      - NIO
      - NOK
      - NPR
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - YER
      - ZAR
      - ZMW
      - ZWD
      description: Three-letter currency code for the price
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsStorefrontFeeCurrency
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddress:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the address
        city:
          type:
          - string
          - 'null'
          description: City name
        type:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddressType'
          description: Type of the address
        line1:
          type:
          - string
          - 'null'
          description: Address line 1
        line2:
          type:
          - string
          - 'null'
          description: Address line 2
        state:
          type:
          - string
          - 'null'
          description: State code or name
        country:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddressCountry'
          description: Country code
        is_valid:
          type: boolean
          description: Whether the address passes validation
        post_code:
          type:
          - string
          - 'null'
          description: Post code
        phone_number:
          type:
          - string
          - 'null'
          description: Phone number
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
          description: Date of birth (applicable for some address types)
        tax_id_number:
          type:
          - string
          - 'null'
          description: Tax ID number (applicable for some address types)
        passport_number:
          type:
          - string
          - 'null'
          description: Passport number (applicable for some address types)
        delivery_instructions:
          type:
          - string
          - 'null'
          description: Special instructions for deliveries
      description: User address details
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddress
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddress:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the address
        city:
          type:
          - string
          - 'null'
          description: City name
        type:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddressType'
          description: Type of the address
        line1:
          type:
          - string
          - 'null'
          description: Address line 1
        line2:
          type:
          - string
          - 'null'
          description: Address line 2
        state:
          type:
          - string
          - 'null'
          description: State code or name
        country:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddressCountry'
          description: Country code
        is_valid:
          type: boolean
          description: Whether the address passes validation
        post_code:
          type:
          - string
          - 'null'
          description: Post code
        phone_number:
          type:
          - string
          - 'null'
          description: Phone number
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
          description: Date of birth (applicable for some address types)
        tax_id_number:
          type:
          - string
          - 'null'
          description: Tax ID number (applicable for some address types)
        passport_number:
          type:
          - string
          - 'null'
          description: Passport number (applicable for some address types)
        delivery_instructions:
          type:
          - string
          - 'null'
          description: Special instructions for deliveries
      description: Order delivery address details
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddress
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetails:
      type: object
      properties:
        asset_price:
          oneOf:
          - $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAssetPrice'
          - type: 'null'
          description: Price of the order item
        storefront_fee:
          oneOf:
          - $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsStorefrontFee'
          - type: 'null'
          description: Storefront fee associated with the order item
        acquisition_type:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAcquisitionType'
          description: Acquisition type of the order item
      description: Order item pricing details
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetails
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsStatus:
      type: string
      enum:
      - REQUESTED
      - APPROVED
      - DECLINED
      - CANCELLED
      description: Order status
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsStatus
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsProduct:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the product
        name:
          type: string
          description: Product name
        brand:
          type: string
          description: Product brand
        category:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsProductCategory'
          description: Product category
      description: Product details
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsProduct
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItems:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsStatus'
          description: Status of the order item
        product:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsProduct'
          description: Product details
        is_approved:
          type: boolean
          description: Is the order item approved
        pricing_details:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetails'
          description: Order item pricing details
        is_express_delivery_requested:
          type: boolean
          description: Is express delivery requested for the order item
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItems
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsProductCategory:
      type: string
      enum:
      - ADAPTER
      - CABLE
      - CHAIR
      - CHARGER
      - DESK
      - DESK_RISER
      - DESK_TIDY
      - DESKTOP
      - DOCKING_STATION
      - DONGLE
      - FOOTREST
      - HEADSET
      - KEYBOARD
      - LAPTOP
      - LAPTOP_STAND
      - MICE_TRACKPAD
      - MOBILE_DEVICE
      - MONITOR
      - MONITOR_ARM
      - OTHER
      - PRINTER
      - SHREDDER
      - STANDING_MAT
      - TABLET
      - TASK_LIGHT
      - WEBCAM
      - WIFI_RANGE_EXTENDER
      - WELCOME_PACK
      description: Product category
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsProductCategory
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsProductCategory:
      type: string
      enum:
      - ADAPTER
      - CABLE
      - CHAIR
      - CHARGER
      - DESK
      - DESK_RISER
      - DESK_TIDY
      - DESKTOP
      - DOCKING_STATION
      - DONGLE
      - FOOTREST
      - HEADSET
      - KEYBOARD
      - LAPTOP
      - LAPTOP_STAND
      - MICE_TRACKPAD
      - MOBILE_DEVICE
      - MONITOR
      - MONITOR_ARM
      - OTHER
      - PRINTER
      - SHREDDER
      - STANDING_MAT
      - TABLET
      - TASK_LIGHT
      - WEBCAM
      - WIFI_RANGE_EXTENDER
      - WELCOME_PACK
      description: Product category
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsProductCategory
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsProduct:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the product
        name:
          type: string
          description: Product name
        brand:
          type: string
          description: Product brand
        category:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsProductCategory'
          description: Product category
      description: Product details
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsProduct
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataStatus:
      type: string
      enum:
      - REQUESTED
      - APPROVED
      - DECLINED
      - CANCELLED
      description: Order status
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataStatus
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAssetPriceCurrency:
      type: string
      enum:
      - EUR
      - AED
      - AFN
      - XCD
      - ALL
      - AMD
      - AOA
      - ARS
      - USD
      - AUD
      - AWG
      - AZN
      - BAM
      - BDT
      - XOF
      - BGN
      - BHD
      - BIF
      - BMD
      - SGD
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - XAF
      - CHF
      - NZD
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CVE
      - ANG
      - CZK
      - DJF
      - DOP
      - DZD
      - EGP
      - MAD
      - ERN
      - ETB
      - FJD
      - FKP
      - DKK
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - WST
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - XPF
      - NGN
      - NIO
      - NOK
      - NPR
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - YER
      - ZAR
      - ZMW
      - ZWD
      description: Three-letter currency code for the price
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAssetPriceCurrency
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAcquisitionType:
      type: string
      enum:
      - RENTAL
      - PURCHASE
      - REUSE
      description: Acquisition type of the order item
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAcquisitionType
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItems:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsStatus'
          description: Status of the order item
        product:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsProduct'
          description: Product details
        is_approved:
          type: boolean
          description: Is the order item approved
        pricing_details:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetails'
          description: Order item pricing details
        is_express_delivery_requested:
          type: boolean
          description: Is express delivery requested for the order item
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItems
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsStorefrontFee:
      type: object
      properties:
        amount:
          type: string
          description: Amount
        currency:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsStorefrontFeeCurrency'
          description: Three-letter currency code for the price
      description: Storefront fee associated with the order item
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsStorefrontFee
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAcquisitionType:
      type: string
      enum:
      - RENTAL
      - PURCHASE
      - REUSE
      description: Acquisition type of the order item
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAcquisitionType
    orders_getITOrderById_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaData'
      title: orders_getITOrderById_Response_200
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the order
        user:
          oneOf:
          - $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataUser'
          - type: 'null'
          description: Details of the order attached user
        status:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataStatus'
          description: Order status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp of the order
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp of the order
        order_items:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItems'
          description: Order's items details
        delivery_address:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddress'
          description: Order delivery address details
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaData
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsStatus:
      type: string
      enum:
      - PLACED
      - PROCESSING
      - AWAITING_PAYMENT
      - READY_TO_SHIP
      - SHIPPED
      - COMPLETED
      - CANCELLED
      description: Status of the order item
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsStatus
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddressCountry:
      type: string
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - IC
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - XK
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      description: Country code
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataDeliveryAddressCountry
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAssetPrice:
      type: object
      properties:
        amount:
          type: string
          description: Amount
        currency:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAssetPriceCurrency'
          description: Three-letter currency code for the price
      description: Price of the order item
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAssetPrice
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAssetPrice:
      type: object
      properties:
        amount:
          type: string
          description: Amount
        currency:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAssetPriceCurrency'
          description: Three-letter currency code for the price
      description: Price of the order item
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsAssetPrice
    RetrieveAnItOrderRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveAnItOrderRequestBadRequestError
    ListItOrdersRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: ListItOrdersRequestBadRequestError
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsStatus:
      type: string
      enum:
      - PLACED
      - PROCESSING
      - AWAITING_PAYMENT
      - READY_TO_SHIP
      - SHIPPED
      - COMPLETED
      - CANCELLED
      description: Status of the order item
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsStatus
    RetrieveAnItOrderRequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveAnItOrderRequestInternalServerError
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddressType:
      type: string
      enum:
      - PII
      - PARTIAL
      - DELIVERY
      - COLLECTION
      - ENTITY
      - SUPPLIER
      - BILLING
      description: Type of the address
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddressType
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAssetPriceCurrency:
      type: string
      enum:
      - EUR
      - AED
      - AFN
      - XCD
      - ALL
      - AMD
      - AOA
      - ARS
      - USD
      - AUD
      - AWG
      - AZN
      - BAM
      - BDT
      - XOF
      - BGN
      - BHD
      - BIF
      - BMD
      - SGD
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - XAF
      - CHF
      - NZD
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CVE
      - ANG
      - CZK
      - DJF
      - DOP
      - DZD
      - EGP
      - MAD
      - ERN
      - ETB
      - FJD
      - FKP
      - DKK
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - WST
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - XPF
      - NGN
      - NIO
      - NOK
      - NPR
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - YER
      - ZAR
      - ZMW
      - ZWD
      description: Three-letter currency code for the price
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItemsPricingDetailsAssetPriceCurrency
    ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsStorefrontFee:
      type: object
      properties:
        amount:
          type: string
          description: Amount
        currency:
          $ref: '#/components/schemas/ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsStorefrontFeeCurrency'
          description: Three-letter currency code for the price
      description: Storefront fee associated with the order item
      title: ItOrdersOrderIdGetResponsesContentApplicationJsonSchemaDataOrderItemsItemsPricingDetailsStorefrontFee
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the order
        user:
          oneOf:
          - $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUser'
          - type: 'null'
          description: Details of the user with asset possession
        status:
          $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsStatus'
          description: Order status
        created_at:
          type: string
          format: date-time
          description: Creation timestamp of the order
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp of the order
        order_items:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsOrderItemsItems'
          description: Order's items details
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItems
    ListItOrdersRequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ItOrdersGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: ListItOrdersRequestInternalServerError
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddressCountry:
      type: string
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - IC
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - XK
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      description: Country code
      title: ItOrdersGetResponsesContentApplicationJsonSchemaDataItemsUserAddressCountry
    ItOrdersGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Error code of the handler which produced the returned error
        field:
          type: string
          description: The field name where input validation failed
        message:
          type: string
          description: Description of the returned error
      title: ItOrdersGetResponsesContentApplicationJsonSchemaErrorsItems
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
