# x-archived-from: deel-subpackage-ats-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Endpoints Subpackage Ats API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_ats
paths:
  /ats/applications/{application_id}/notes:
    post:
      operationId: add-note-to-an-application-v-2026-01-01
      summary: Add note to an application
      description: "Create application note: Adds a new note to a specific candidate application. Use this to record interview feedback, recruiter observations, or internal comments during the hiring process. The 'authorId' must correspond to a valid HRIS user. Scope: ats:write\n **Token scopes**: `ats:write`"
      tags:
      - subpackage_ats
      parameters:
      - name: application_id
        in: path
        description: Id of the application which the note will be added
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Application note created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_addNoteToAnApplication-v2026-01-01_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddNoteToAnApplication-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddNoteToAnApplication-v2026-01-01RequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AtsApplicationsApplicationIdNotesPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
  /ats/applications/{application_id}/interview-plan-stages:
    post:
      operationId: associate-application-with-an-interview-plan-stage-v-2026-01-01
      summary: Associate application with an interview plan stage
      description: "Use this endpoint to associate an application with a specific interview plan stage in the hiring workflow. Use it when moving a candidate into a stage or backfilling history. Set is_current_stage to true to update the application's current stage; set it to false to record a historical entry without changing the current stage. To control triggered activities, pass applicable_job_activities; omit it to trigger all activities or pass an empty array to trigger none. If the candidate is being archived, include candidate_archivation_reason_id and optionally candidate_archivation_email_template_id to send a rejection email.\n **Token scopes**: `ats:write`"
      tags:
      - subpackage_ats
      parameters:
      - name: application_id
        in: path
        description: ID of the application to be associated with the interview plan stage
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Application interview plan stage successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_associateApplicationWithAnInterviewPlanStage-v2026-01-01_Response_201'
        '400':
          description: Email body contains placeholders that can't be resolved
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AtsApplicationsApplicationIdInterviewPlanStagesPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
  /ats/applications:
    post:
      operationId: create-ats-application-v-2026-01-01
      summary: Create ATS Application
      description: "Use this endpoint to create a new application linking an existing candidate to a job in your ATS. Call it when a candidate applies or when importing applications from another system.\n **Token scopes**: `ats:write`"
      tags:
      - subpackage_ats
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful response with application data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_createAtsApplication-v2026-01-01_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAtsApplication-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAtsApplication-v2026-01-01RequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AtsApplicationsPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
    get:
      operationId: retrieve-a-list-of-ats-applications-v-2026-01-01
      summary: Retrieve a list of ATS applications
      description: "List applications: Returns a paginated list of candidate applications for an organization. Use this to track and review the progress of candidates across all open positions. Supports cursor-based pagination and filtering via query parameters. Scope: ats:read\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: Cursor for pagination. Use the nextCursor value from the previous response to get the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of applications to return per page
        required: false
        schema:
          type: integer
          default: 20
      - name: search_text
        in: query
        description: Search text to filter applications by candidate name or email
        required: false
        schema:
          type: string
      - name: job_id
        in: query
        description: Filter applications by specific job ID
        required: false
        schema:
          type: string
          format: uuid
      - name: interview_plan_stage_ids
        in: query
        description: Filter applications by specific interview plan stage IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: candidate_tag_ids
        in: query
        description: Filter applications by candidate tag IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: source_slugs
        in: query
        description: Filter applications by source slugs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: job_criterias_matchings
        in: query
        description: Filter applications by job criteria matching state. Each object specifies a job criteria ID and whether the candidate matches it.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AtsApplicationsGetParametersJobCriteriasMatchingsSchemaItems'
      - name: current_stage_category_type_slugs
        in: query
        description: Filter applications by current stage category type slugs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: current_stage_default_type_slugs
        in: query
        description: Filter applications by current stage default type slugs. Use 'others' for custom stages.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: updated_after
        in: query
        description: Filter applications updated after this timestamp (ISO 8601 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: sort_by
        in: query
        description: Field to sort applications by
        required: false
        schema:
          $ref: '#/components/schemas/AtsApplicationsGetParametersSortBy'
      - name: sort_order
        in: query
        description: Sort order for applications
        required: false
        schema:
          $ref: '#/components/schemas/AtsApplicationsGetParametersSortOrder'
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsApplications-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfAtsApplications-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfAtsApplications-v2026-01-01RequestInternalServerError'
  /ats/candidates:
    post:
      operationId: create-ats-candidate-v-2026-01-01
      summary: Create ATS Candidate
      description: "This endpoint allows the creation of a new candidate within the ATS system. The user must provide all required fields, and the candidate will be created with the specified details.\n **Token scopes**: `ats:write`"
      tags:
      - subpackage_ats
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful response with candidate data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_createAtsCandidate-v2026-01-01_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAtsCandidate-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAtsCandidate-v2026-01-01RequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AtsCandidatesPostRequestBodyContentApplicationJsonSchemaData'
              required:
              - data
    get:
      operationId: retrieve-paginated-list-of-ats-candidates-v-2026-01-01
      summary: Retrieve paginated list of ATS Candidates
      description: "Retrieves a list of candidates in the Applicant Tracking System. You can filter candidates by jobs, departments, and tags to narrow down the results\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: search
        in: query
        description: Search text for filtering candidates
        required: false
        schema:
          type: string
      - name: job_ids
        in: query
        description: Filter candidates by job IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: department_ids
        in: query
        description: Filter candidates by department IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: tag_ids
        in: query
        description: Filter candidates by tag IDs
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: current_stage_category_type_slugs
        in: query
        description: Filter candidates by current stage category type slugs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: current_stage_default_type_slugs
        in: query
        description: Filter candidates by current stage default type slugs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: updated_after
        in: query
        description: Filter applications updated after this timestamp (ISO 8601 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrievePaginatedListOfAtsCandidates-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaginatedListOfAtsCandidates-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaginatedListOfAtsCandidates-v2026-01-01RequestInternalServerError'
  /ats/jobs:
    post:
      operationId: create-ats-job
      summary: Create ATS Job
      description: "This endpoint allows the creation of a new job within the ATS system. The user must provide all required fields, and the job will be created with the specified details.\n **Token scopes**: `ats:write`"
      tags:
      - subpackage_ats
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Job successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_createAtsJob_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAtsJobRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AtsJobsPostRequestBodyContentApplicationJsonSchemaData'
    get:
      operationId: retrieve-a-list-of-ats-jobs
      summary: Retrieve a list of ATS jobs
      description: "Retrieves a list of all jobs in the Applicant Tracking System. Results can be filtered by query parameters.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: search
        in: query
        description: Text to search for in job records (optional)
        required: false
        schema:
          type: string
      - name: interview_plan_id
        in: query
        description: Interview plan UUID (optional)
        required: false
        schema:
          type: string
          format: uuid
      - name: location_ids
        in: query
        description: Array of location UUIDs (optional)
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: team_ids
        in: query
        description: Array of team UUIDs (optional)
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: employment_type_ids
        in: query
        description: Array of employment type UUIDs (optional)
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: department_ids
        in: query
        description: Array of department UUIDs (optional)
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: updated_after
        in: query
        description: Filter jobs updated after this timestamp (ISO 8601 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Array of job status values (optional)
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AtsJobsGetParametersStatusSchemaItems'
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsJobs_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AtsJobsGetResponsesContentApplicationJsonSchemaItems'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/candidates/{candidate_id}/tags:
    post:
      operationId: create-candidate-tags-v-2026-02-27
      summary: Create candidate tags
      description: "This endpoint replaces all existing tags associated with a candidate with a new set. Use this when updating candidate tags is necessary.\n **Token scopes**: `ats:write`"
      tags:
      - subpackage_ats
      parameters:
      - name: candidate_id
        in: path
        description: The unique identifier of the candidate.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_createCandidateTags-v2026-02-27_Response_201'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCandidateTags-v2026-02-27RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCandidateTags-v2026-02-27RequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tag_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: List of tag IDs to associate with the candidate
              required:
              - tag_ids
  /ats/tags:
    get:
      operationId: list-tags-v-2026-02-27
      summary: List tags
      description: "Use this endpoint to list all tags associated with the organization. View or organize tags based on filters like label or tag group.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: search_text
        in: query
        description: Filter tags by label (case-insensitive partial match)
        required: false
        schema:
          type: string
      - name: tag_group_slug
        in: query
        description: Filter by tag group. Use CANDIDATE for candidate tags.
        required: false
        schema:
          $ref: '#/components/schemas/AtsTagsGetParametersTagGroupSlug'
      - name: include_counts
        in: query
        description: When true, each tag includes candidates_count (number of candidates with that tag)
        required: false
        schema:
          $ref: '#/components/schemas/AtsTagsGetParametersIncludeCounts'
      - name: cursor
        in: query
        description: Opaque cursor for pagination. Use the value from next_cursor of the previous response to fetch the next page.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'Maximum number of tags to return per page (default: 20, max: 100).'
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation. Returns the list of tags for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_listTags-v2026-02-27_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTags-v2026-02-27RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTags-v2026-02-27RequestInternalServerError'
  /ats/application-sources:
    get:
      operationId: retrieve-a-list-of-ats-application-sources
      summary: Retrieve a list of ATS application sources
      description: "Retrieves a list of the available application sources in the Applicant Tracking System.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved application sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsApplicationSources_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/departments:
    get:
      operationId: retrieve-a-list-of-ats-departments
      summary: Retrieve a list of ATS departments
      description: "Retrieves a list of all departments in the Applicant Tracking System\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with departments data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsDepartments_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfAtsDepartmentsRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/employment-types:
    get:
      operationId: retrieve-a-list-of-ats-employment-types
      summary: Retrieve a list of ATS employment types
      description: "Use this endpoint to fetch employment types available in ATS for syncing and validation workflows.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with employment types data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsEmploymentTypes_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfAtsEmploymentTypesRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/job-boards/{job_board_id}/job-postings:
    get:
      operationId: retrieve-a-list-of-ats-job-postings
      summary: Retrieve a list of ATS job postings
      description: "Retrieves a list of all job postings in the Applicant Tracking System. Results can be filtered by query parameters.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: job_board_id
        in: path
        description: Job Board ID must be a valid UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: cursor
        in: query
        description: The cursor for pagination (optional)
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response (optional)
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsJobPostings_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AtsJobBoardsJobBoardIdJobPostingsGetResponsesContentApplicationJsonSchemaItems'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/locations:
    get:
      operationId: retrieve-a-list-of-ats-locations-v-2026-01-01
      summary: Retrieve a list of ATS locations
      description: "List locations: Returns a paginated list of all locations associated with an organization in ATS. Use this to retrieve available work locations when creating job postings or filtering candidates by location. Scope: ats:read\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with locations data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsLocations-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfAtsLocations-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/offers:
    get:
      operationId: retrieve-a-list-of-ats-offers-v-2026-01-01
      summary: Retrieve a list of ATS offers
      description: "List offers: Returns all offers associated with an organization, including worker type and offer status. Use this to review outstanding or accepted offers before initiating onboarding or contract creation workflows. Scope: ats:read\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfAtsOffers-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfAtsOffers-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/email-templates:
    get:
      operationId: retrieve-a-list-of-published-ats-email-templates-v-2026-02-11
      summary: Retrieve a list of published ATS email templates
      description: "List email templates: Returns a paginated list of published email templates for an organization. Use this to populate template selectors when composing candidate communications or automating outreach workflows. Supports cursor-based pagination and filtering by update time via the 'updatedAfter' query parameter. Scope: ats:read\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: Cursor for pagination. Use the nextCursor value from the previous response to get the next page of results.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of email templates to return per page
        required: false
        schema:
          type: integer
          default: 20
      - name: updated_after
        in: query
        description: Return only email templates that were updated after this timestamp (ISO 8601 format)
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved email templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAListOfPublishedAtsEmailTemplates-v2026-02-11_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAListOfPublishedAtsEmailTemplates-v2026-02-11RequestInternalServerError'
  /ats/applications/{application_id}:
    get:
      operationId: retrieve-ats-application-v-2026-01-01
      summary: Retrieve ATS application
      description: "This endpoint retrieves a single application by its ID for a specific organization. It provides detailed information about the application, including its associated job details, job posting details, and other relevant metadata.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: application_id
        in: path
        description: Unique identifier of the application to retrieve
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with application data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAtsApplication-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAtsApplication-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAtsApplication-v2026-01-01RequestInternalServerError'
  /ats/hiring-members:
    get:
      operationId: retrieve-ats-hiring-members
      summary: Retrieve ATS hiring members
      description: "This endpoint retrieves a list of ATS hiring members. It provides detailed information about each hiring member, including their unique identifier, name, job title, email, profile picture URL, etc. The response also includes pagination details to help navigate through large sets of hiring members.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAtsHiringMembers_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAtsHiringMembersRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAtsHiringMembersRequestInternalServerError'
  /ats/job-postings/{job_posting_id}:
    get:
      operationId: retrieve-ats-job-posting
      summary: Retrieve ATS job posting
      description: "This endpoint retrieves a single job posting by its ID. It provides detailed information about the job posting, including its associated job details, publication status, and other relevant metadata.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: job_posting_id
        in: path
        description: Unique identifier of the job posting to retrieve
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAtsJobPosting_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaItems'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /ats/job-postings:
    get:
      operationId: retrieve-ats-job-postings-v-2026-04-10
      summary: Retrieve ATS job postings
      description: "Use this endpoint to retrieve job postings by specifying the job board ID or job ID. It provides detailed postings with job details, publication status, and relevant metadata.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: job_board_id
        in: query
        description: Job board to list postings from (UUID).
        required: false
        schema:
          type: string
          format: uuid
      - name: job_id
        in: query
        description: When set, only postings for this job are returned (UUID).
        required: false
        schema:
          type: string
          format: uuid
      - name: cursor
        in: query
        description: Opaque cursor for pagination. Use the value from next_cursor of the previous response to fetch the next page.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: 'Maximum number of job postings to return per page (min: 1, max: 100).'
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation. Returns job postings for the requested job board (and optional job filter), with nested job details and publication state per board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrieveAtsJobPostings-v2026-04-10_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAtsJobPostings-v2026-04-10RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAtsJobPostings-v2026-04-10RequestInternalServerError'
  /ats/attachments/{attachable_type_slug}/{attachable_id}/{attachment_type_slug}:
    get:
      operationId: retrieve-paginated-list-of-ats-attachment-files-v-2026-01-01
      summary: Retrieve paginated list of ATS attachment files
      description: "Use this endpoint to list attachment files for a specific ATS entity. Provide attachable_type_slug, attachable_id, and attachment_type_slug to specify which entity and attachment type to list.\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: attachable_id
        in: path
        description: Unique identifier for the attachable entity
        required: true
        schema:
          type: string
          format: uuid
      - name: attachment_type_slug
        in: path
        description: Type of the attachment
        required: true
        schema:
          $ref: '#/components/schemas/AtsAttachmentsAttachableTypeSlugAttachableIdAttachmentTypeSlugGetParametersAttachmentTypeSlug'
      - name: attachable_type_slug
        in: path
        description: Type of the attachable entity
        required: true
        schema:
          $ref: '#/components/schemas/AtsAttachmentsAttachableTypeSlugAttachableIdAttachmentTypeSlugGetParametersAttachableTypeSlug'
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrievePaginatedListOfAtsAttachmentFiles-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaginatedListOfAtsAttachmentFiles-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaginatedListOfAtsAttachmentFiles-v2026-01-01RequestInternalServerError'
  /ats/reasons:
    get:
      operationId: retrieve-paginated-list-of-ats-rejection-archivation-reasons-v-2026-01-01
      summary: Retrieve paginated list of ATS Rejection/Archivation reasons
      description: "Retrieves a list of rejection or archivation reasons in the Applicant Tracking System. You can filter reasons by group and subgroup to narrow down the results\n **Token scopes**: `ats:read`"
      tags:
      - subpackage_ats
      parameters:
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records returned in one response
        required: false
        schema:
          type: integer
          default: 20
      - name: search
        in: query
        description: Search text for filtering candidates
        required: false
        schema:
          type: string
      - name: reason_group_slug
        in: query
        description: Reason group enum
        required: false
        schema:
          $ref: '#/components/schemas/AtsReasonsGetParametersReasonGroupSlug'
      - name: include_counts
        in: query
        description: If sent true, it will fetch result with counts
        required: false
        schema:
          type: string
      - name: subgroup_slug
        in: query
        description: Reason subgroup enum
        required: false
        schema:
          $ref: '#/components/schemas/AtsReasonsGetParametersSubgroupSlug'
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATS_retrievePaginatedListOfAtsRejectionArchivationReasons-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaginatedListOfAtsRejectionArchivationReasons-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaginatedListOfAtsRejectionArchivationReasons-v2026-01-01RequestInternalServerError'
components:
  schemas:
    ATS_createAtsApplication-v2026-01-01_Response_201:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AtsApplicationsPostResponsesContentApplicationJsonSchemaData'
      required:
      - data
      title: ATS_createAtsApplication-v2026-01-01_Response_201
    RetrievePaginatedListOfAtsRejectionArchivationReasons-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsReasonsGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrievePaginatedListOfAtsRejectionArchivationReasons-v2026-01-01RequestBadRequestError
    AtsJobsPostResponsesContentApplicationJsonSchemaDataStatus:
      type: string
      enum:
      - DRAFT
      - WAITING_FOR_APPROVAL
      - APPROVED
      - NOT_APPROVED
      - OPEN
      - CLOSED
      - ARCHIVED
      description: Current status of the job
      title: AtsJobsPostResponsesContentApplicationJsonSchemaDataStatus
    AtsJobsPostResponsesContentApplicationJsonSchemaDataJobTeamsItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Job team relationship ID
        team:
          $ref: '#/components/schemas/AtsJobsPostResponsesContentApplicationJsonSchemaDataJobTeamsItemsTeam'
      required:
      - id
      - team
      title: AtsJobsPostResponsesContentApplicationJsonSchemaDataJobTeamsItems
    RetrieveAtsHiringMembersRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsHiringMembersGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveAtsHiringMembersRequestBadRequestError
    ATS_retrieveAListOfAtsLocations-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtsLocationsGetResponsesContentApplicationJsonSchemaDataItems'
        has_more:
          type: boolean
          description: Indicates if there are more locations available
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination to get the next set of results
        total_count:
          type: integer
          description: Total number of locations available
      required:
      - data
      - has_more
      - next_cursor
      - total_count
      title: ATS_retrieveAListOfAtsLocations-v2026-01-01_Response_200
    CreateAtsCandidate-v2026-01-01RequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsCandidatesPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: CreateAtsCandidate-v2026-01-01RequestInternalServerError
    AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataJobBoard:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the job board
        type:
          $ref: '#/components/schemas/AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataJobBoardType'
          description: Type of job board
      required:
      - id
      - type
      description: Job board details where the application originated
      title: AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataJobBoard
    AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataJobPostingPublication:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the job posting publication
      required:
      - id
      description: Job posting publication details
      title: AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataJobPostingPublication
    AtsDepartmentsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the department
        name:
          type: string
          description: Name of the department
        created_at:
          type: string
          format: date-time
          description: Timestamp when the department was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the department was last updated
      required:
      - id
      - name
      - created_at
      - updated_at
      title: AtsDepartmentsGetResponsesContentApplicationJsonSchemaDataItems
    AtsReasonsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the reason
        label:
          type: string
          description: Label of the reason
        created_at:
          type: string
          format: date-time
          description: Timestamp when the reason was created
        jobs_count:
          type:
          - number
          - 'null'
          format: double
          description: Number of jobs associated with this reason
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the reason was last updated
        subgroup_slug:
          oneOf:
          - $ref: '#/components/schemas/AtsReasonsGetResponsesContentApplicationJsonSchemaDataItemsSubgroupSlug'
          - type: 'null'
          description: Reason subgroup slug
        email_template:
          oneOf:
          - $ref: '#/components/schemas/AtsReasonsGetResponsesContentApplicationJsonSchemaDataItemsEmailTemplate'
          - type: 'null'
          description: Associated email template
        candidates_count:
          type:
          - number
          - 'null'
          format: double
          description: Number of candidates associated with this reason
        reason_group_slug:
          $ref: '#/components/schemas/AtsReasonsGetResponsesContentApplicationJsonSchemaDataItemsReasonGroupSlug'
          description: Reason group slug
      required:
      - id
      - label
      - created_at
      - reason_group_slug
      title: AtsReasonsGetResponsesContentApplicationJsonSchemaDataItems
    AtsJobBoardsJobBoardIdJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsApplicationForm:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the application form
        title:
          type: string
          description: Title of the application form
      required:
      - id
      - title
      description: Application form assigned to the job posting
      title: AtsJobBoardsJobBoardIdJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsApplicationForm
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems6:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf6Type'
          description: The type of the question
        question_id:
          type: string
          description: The unique identifier of the question
        selected_option_ids:
          type: array
          items:
            type: string
          description: Array of selected option IDs
      required:
      - type
      - question_id
      - selected_option_ids
      title: AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems6
    AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsApplicationForm:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Application form identifier.
        title:
          type: string
          description: Human-readable application form title.
      description: Linked application form metadata when the posting uses an application form.
      title: AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsApplicationForm
    AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsPublicationsItemsCurrentState:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Publication state row identifier.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when this state was recorded.
        created_by:
          type:
          - string
          - 'null'
          format: uuid
          description: HRIS organization user id who triggered or owns this state, when set.
        state_slug:
          $ref: '#/components/schemas/AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsPublicationsItemsCurrentStateStateSlug'
          description: Publication lifecycle state (uppercase slug).
        error_message:
          type:
          - string
          - 'null'
          description: Error details when state is failed or otherwise errored; null if none.
      required:
      - id
      - created_at
      - created_by
      - state_slug
      - error_message
      description: Latest known publication state for this board.
      title: AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsPublicationsItemsCurrentState
    AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJob:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Job identifier.
        job_teams:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobTeamsItems'
          description: Job-to-team associations; null or omitted when not loaded or not applicable.
        compensation:
          oneOf:
          - $ref: '#/components/schemas/AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobCompensation'
          - type: 'null'
          description: Current compensation when visible on the posting; null when hidden or absent. Shape mirrors internal compensation mapping.
        job_locations:
          type: array
          items:
            $ref: '#/components/schemas/AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobLocationsItems'
          description: Work locations associated with the job.
        job_departments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobDepartmentsItems'
          description: Job-to-department associations; null or omitted when not loaded.
        job_employment_types:
          type: array
          items:
            $ref: '#/components/schemas/AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobEmploymentTypesItems'
          description: Employment types associated with the job (e.g. full-time, contract).
      required:
      - id
      - compensation
      - job_locations
      - job_employment_types
      description: 'Nested job record: locations, employment types, optional teams/departments, and optional compensation when visible.'
      title: AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJob
    AtsJobsGetResponsesContentApplicationJsonSchemaDataItemsJobLocationsItemsLocation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the location
        name:
          type: string
          description: Location name
      description: Location associated with the job
      title: AtsJobsGetResponsesContentApplicationJsonSchemaDataItemsJobLocationsItemsLocation
    AtsJobBoardsJobBoardIdJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobEmploymentTypesItemsEmploymentType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the employment type
        name:
          type: string
          description: Employment type name
      required:
      - id
      - name
      description: Details for the employment type assigned to the job
      title: AtsJobBoardsJobBoardIdJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobEmploymentTypesItemsEmploymentType
    ListTags-v2026-02-27RequestBadRequestError:
      type: object
      properties:
        path:
          type: string
          description: Request URL path
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsTagsGetResponsesContentApplicationJsonSchemaErrorsItems'
          description: List of error objects
        timestamp:
          type: string
          format: date-time
          description: Time when the error occurred
        status_code:
          type: integer
          description: HTTP status code
      required:
      - path
      - errors
      - timestamp
      - status_code
      title: ListTags-v2026-02-27RequestBadRequestError
    AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataPublicationsItemsJobBoard:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the job board
      required:
      - id
      description: Job board where the posting is published
      title: AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataPublicationsItemsJobBoard
    AddNoteToAnApplication-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsApplicationsApplicationIdNotesPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: AddNoteToAnApplication-v2026-01-01RequestBadRequestError
    ATS_retrieveAListOfAtsOffers-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtsOffersGetResponsesContentApplicationJsonSchemaDataItems'
        has_more:
          type: boolean
          description: Indicates if there are more items to fetch.
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor for the next page of results
        total_count:
          type: number
          format: double
          description: Total number of offers
      title: ATS_retrieveAListOfAtsOffers-v2026-01-01_Response_200
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems2:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf2Type'
          description: The type of the question
        question_id:
          type: string
          description: The unique identifier of the question
        selected_option_id:
          type: string
          description: The ID of the selected option
      required:
      - type
      - question_id
      - selected_option_id
      title: AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems2
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf9Type:
      type: string
      enum:
      - ADDRESS
      description: The type of the question
      title: AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf9Type
    AtsLocationsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the location
        city:
          type:
          - string
          - 'null'
          description: City name
        name:
          type: string
          description: Name of the location/country
        is_remote:
          type: boolean
          description: Indicates if this is a remote location
        created_at:
          type: string
          format: date-time
          description: Timestamp when the location was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the location was last updated
        country_code:
          type:
          - string
          - 'null'
          description: ISO country code
        location_group:
          oneOf:
          - $ref: '#/components/schemas/AtsLocationsGetResponsesContentApplicationJsonSchemaDataItemsLocationGroup'
          - type: 'null'
          description: Location group information
        province_or_region_text:
          type:
          - string
          - 'null'
          description: Province or region text
      required:
      - id
      - name
      - created_at
      - updated_at
      title: AtsLocationsGetResponsesContentApplicationJsonSchemaDataItems
    AtsLocationsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        field:
          type: string
        message:
          type: string
      title: AtsLocationsGetResponsesContentApplicationJsonSchemaErrorsItems
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaData:
      type: object
      properties:
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataNotesItems'
          description: Array of notes to attach to the application
        job_id:
          type: string
          format: uuid
          description: The ID of the job for this application
        candidate_id:
          type: string
          format: uuid
          description: The ID of the candidate applying
        job_posting_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The ID of the job posting (optional)
        job_employment_type_id:
          type: string
          format: uuid
          description: The ID of the employment type for this job
        application_form_submission_data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems'
          description: Array of form submission answers
      required:
      - job_id
      - candidate_id
      - job_employment_type_id
      title: AtsApplicationsPostRequestBodyContentApplicationJsonSchemaData
    AtsTagsGetParametersIncludeCounts:
      type: string
      enum:
      - 'true'
      - 'false'
      default: 'false'
      title: AtsTagsGetParametersIncludeCounts
    AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataJobJobLocationsItemsLocation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the location
        name:
          type: string
          description: Location name
      required:
      - id
      - name
      description: Details for the location assigned to the job
      title: AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataJobJobLocationsItemsLocation
    AtsJobsGetResponsesContentApplicationJsonSchemaDataItemsInterviewPlanStagesItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the interview plan stage
        name:
          type: string
          description: Interview plan stage name
        position_number:
          type:
          - integer
          - 'null'
          description: Position number of the stage in the interview plan
        default_type_slug:
          type:
          - string
          - 'null'
          description: Default type slug of the interview plan stage
        interview_plan_id:
          type: string
          format: uuid
          description: Interview plan ID associated with this stage
        category_type_slug:
          $ref: '#/components/schemas/AtsJobsGetResponsesContentApplicationJsonSchemaDataItemsInterviewPlanStagesItemsCategoryTypeSlug'
          description: Category type of the interview plan stage
      title: AtsJobsGetResponsesContentApplicationJsonSchemaDataItemsInterviewPlanStagesItems
    AtsApplicationsGetParametersSortOrder:
      type: string
      enum:
      - ASC
      - DESC
      title: AtsApplicationsGetParametersSortOrder
    AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataJobJobDepartmentsItemsDepartment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the department
        name:
          type: string
          description: Department name
      description: Details for the department associated with the job
      title: AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataJobJobDepartmentsItemsDepartment
    AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataApplicationFormSubmissionAnswersItemsQuestionType:
      type: string
      enum:
      - FREETEXT
      - PARAGRAPH
      - SINGLESELECTION
      - MULTISELECTION
      - DOCUMENTUPLOAD
      - PRESETDROPDOWN
      - CUSTOMDROPDOWN
      - NUMBER
      - DATEPICKER
      - ADDRESS
      - PHONENUMBER
      - EMAIL
      description: Type of the question (uppercase)
      title: AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaDataApplicationFormSubmissionAnswersItemsQuestionType
    AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataJobJobEmploymentTypesItemsEmploymentType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the employment type
        name:
          type: string
          description: Employment type name
      required:
      - id
      - name
      description: Details for the employment type assigned to the job
      title: AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataJobJobEmploymentTypesItemsEmploymentType
    ATS_createCandidateTags-v2026-02-27_Response_201:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtsCandidatesCandidateIdTagsPostResponsesContentApplicationJsonSchemaDataItems'
          description: List of created candidate-tag associations.
      required:
      - data
      title: ATS_createCandidateTags-v2026-02-27_Response_201
    AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobDepartmentsItemsDepartment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Department identifier.
        name:
          type: string
          description: Display name of the department.
      description: Department for this association; null if unset.
      title: AtsJobPostingsGetResponsesContentApplicationJsonSchemaDataItemsJobJobDepartmentsItemsDepartment
    ATS_retrievePaginatedListOfAtsAttachmentFiles-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtsAttachmentsAttachableTypeSlugAttachableIdAttachmentTypeSlugGetResponsesContentApplicationJsonSchemaDataItems'
          description: Array of attachment objects
        has_more:
          type: boolean
          description: Indicates if there are more results available
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination to fetch next page
        total_count:
          type: number
          format: double
          description: Total count of attachments
      required:
      - data
      - has_more
      - next_cursor
      - total_count
      title: ATS_retrievePaginatedListOfAtsAttachmentFiles-v2026-01-01_Response_200
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems10:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf10Type'
          description: The type of the question
        question_id:
          type: string
          description: The unique identifier of the question
        phone_number:
          type: string
          description: The phone number
      required:
      - type
      - question_id
      - phone_number
      title: AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItems10
    AtsJobsGetResponsesContentApplicationJsonSchemaItems:
      type: object
      properties:
        code:
          type: string
          description: Error code of the handler which produced the returned error
        field:
          type: string
          description: The field name where input validation failed
        message:
          type: string
          description: Description of the returned error
      title: AtsJobsGetResponsesContentApplicationJsonSchemaItems
    CreateAtsApplication-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsApplicationsPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: CreateAtsApplication-v2026-01-01RequestBadRequestError
    AtsCandidatesGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the candidate
        email:
          type: string
          format: email
          description: Candidate's email address
        pic_url:
          type:
          - string
          - 'null'
          description: URL of the candidate's profile picture
        last_name:
          type: string
          description: Candidate's last name
        created_at:
          type: string
          format: date-time
          description: Timestamp when the candidate was created
        first_name:
          type: string
          description: Candidate's first name
        numeric_id:
          type: number
          format: double
          description: Numeric identifier for the candidate
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the candidate was last updated
        applications:
          type: array
          items:
            $ref: '#/components/schemas/AtsCandidatesGetResponsesContentApplicationJsonSchemaDataItemsApplicationsItems'
        phone_number:
          type:
          - string
          - 'null'
          description: Candidate's phone number
        candidate_tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AtsCandidatesGetResponsesContentApplicationJsonSchemaDataItemsCandidateTagsItems'
          description: Tags associated with the candidate
        final_archivation_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp of when the candidate was finally archived
        linkedin_profile_url:
          type:
          - string
          - 'null'
          description: URL of the candidate's LinkedIn profile
        total_applications_count:
          type: number
          format: double
          description: Total number of applications the candidate has
      title: AtsCandidatesGetResponsesContentApplicationJsonSchemaDataItems
    CreateAtsCandidate-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsCandidatesPostResponsesContentApplicationJsonSchemaErrorsItems'
      title: CreateAtsCandidate-v2026-01-01RequestBadRequestError
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf10Type:
      type: string
      enum:
      - PHONENUMBER
      description: The type of the question
      title: AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf10Type
    ATS_createAtsJob_Response_201:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AtsJobsPostResponsesContentApplicationJsonSchemaData'
      title: ATS_createAtsJob_Response_201
    AtsTagsGetResponsesContentApplicationJsonSchemaDataItemsTagGroupSlug:
      type: string
      enum:
      - CANDIDATE
      description: Tag group. Use CANDIDATE for candidate tags.
      title: AtsTagsGetResponsesContentApplicationJsonSchemaDataItemsTagGroupSlug
    RetrieveAtsApplication-v2026-01-01RequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/AtsApplicationsApplicationIdGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: RetrieveAtsApplication-v2026-01-01RequestInternalServerError
    AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataApplicationForm:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the application form
        title:
          type: string
          description: Title of the application form
      required:
      - id
      - title
      description: Application form assigned to the job posting
      title: AtsJobPostingsJobPostingIdGetResponsesContentApplicationJsonSchemaDataApplicationForm
    AtsApplicationsGetResponsesContentApplicationJsonSchemaDataItemsApplicationFormSubmission:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
          description: Identifier of the application form submission
        answers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AtsApplicationsGetResponsesContentApplicationJsonSchemaDataItemsApplicationFormSubmissionAnswersItems'
          description: Array of parsed form submission answers
      required:
      - id
      - answers
      description: Application form submission data with parsed answers
      title: AtsApplicationsGetResponsesContentApplicationJsonSchemaDataItemsApplicationFormSubmission
    AtsApplicationsPostRequestBodyContentApplicationJsonSchemaDataApplicationFormSubmissionDataItemsOneOf7Type:
      type: string
      enum:
      - NUMBER
      description: The type of the question
[...]
