# x-archived-from: deel-subpackage-eoramendments-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Endpoints Subpackage Eor Amendments API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_eorAmendments
paths:
  /eor/contracts/{contract_id}/amendments/{amendment_id}/accept:
    post:
      operationId: accept-contract-amendment
      summary: Accept amendment
      description: "Allows the client to accept a contract amendment, formally acknowledging and approving the modifications to the contract.\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_acceptContractAmendment_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptAContractAmendmentOnBehalfOfTheClientRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptAContractAmendmentOnBehalfOfTheClientRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptAContractAmendmentOnBehalfOfTheClientRequestInternalServerError'
      requestBody:
        description: This operation does not require a request body. Provide an empty JSON object if required by the client.
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /eor/contracts/{contract_id}/amendments/{amendment_id}:
    delete:
      operationId: delete-contract-amendment
      summary: Cancel amendment
      description: "Cancel a pending employee contract amendment. This action voids the amendment request and prevents it from being reviewed or applied.\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_deleteContractAmendment_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAmendmentRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAmendmentRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAmendmentRequestInternalServerError'
    get:
      operationId: get-contract-amendment-by-id
      summary: Get amendment by ID
      description: "Retrieves the full details for a specific EOR contract amendment, including requested changes to salary, scope, and key dates.\n **Token scopes**: `contracts:read`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_getContractAmendmentById_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewInformationAboutAmendmentRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewInformationAboutAmendmentRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewInformationAboutAmendmentRequestInternalServerError'
    patch:
      operationId: update-contract-amendment
      summary: Update amendment
      description: "Updates a specific contract amendment. This can only be performed on amendments in a DRAFT status. This action is irreversible and will overwrite any previous draft data.\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment. This string is either supplied by the client or generated by the system and is used to uniquely identify the amendment during upsert operations.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_updateContractAmendment_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateASpecificEorContractAmendmentRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateASpecificEorContractAmendmentRequestNotFoundError'
        '409':
          description: Conflict error. Indicates that the requested operation conflicts with the current state of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateASpecificEorContractAmendmentRequestConflictError'
        '422':
          description: Validation errors or disabled amendments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateASpecificEorContractAmendmentRequestUnprocessableEntityError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateASpecificEorContractAmendmentRequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchRequestBodyContentApplicationJsonSchemaData'
  /eor/contracts/{contract_id}/amendments/{amendment_id}/confirm:
    post:
      operationId: confirm-contract-amendment
      summary: Confirm amendment
      description: "Confirms an existing contract amendment and initiates the review process, sending it to both Deel and the employee for acknowledgment and approval.\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_confirmContractAmendment_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmAnExistingContractAmendment-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmAnExistingContractAmendment-v2026-01-01RequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmAnExistingContractAmendment-v2026-01-01RequestInternalServerError'
      requestBody:
        description: This operation does not require a request body. Provide an empty JSON object if required by the client.
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /eor/contracts/{contract_id}/amendments/{amendment_id}/pdf:
    get:
      operationId: get-contract-amendment-pdf
      summary: Contract amendment PDF
      description: "Generates a secure PDF download link for the EOR contract amendment, valid for 15 minutes.\n **Token scopes**: `contracts:read`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: URL of exported PDF(valid for 15m)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_getContractAmendmentPdf_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEorContractAmendmentPdfDownloadLinkForClientAndEmployeeRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEorContractAmendmentPdfDownloadLinkForClientAndEmployeeRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEorContractAmendmentPdfDownloadLinkForClientAndEmployeeRequestInternalServerError'
  /eor/contracts/{contract_id}/amendments:
    post:
      operationId: create-contract-amendment
      summary: Create amendment
      description: "This endpoint allows you to create a new amendment for a EOR contract. Amendments may include changes to salary, currency, effective date, or other contract terms, and all requests are validated against business and regulatory rules.\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of the EOR worker contract
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Amendment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_createContractAmendment_Response_201'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnEorContractAmendment-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnEorContractAmendment-v2026-01-01RequestNotFoundError'
        '409':
          description: Conflict error. Indicates that the requested operation conflicts with the current state of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnEorContractAmendment-v2026-01-01RequestConflictError'
        '422':
          description: Validation errors or disabled amendments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnEorContractAmendment-v2026-01-01RequestUnprocessableEntityError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnEorContractAmendment-v2026-01-01RequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaData'
    get:
      operationId: get-contract-amendments
      summary: Get amendments by contract
      description: "This endpoint retrieves all EOR contact amendments. It provides details such as the amendment type, effective date, and current status, allowing clients to understand the history and state of changes applied to the contract.\n **Token scopes**: `contracts:read`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment info. Returns the amendment flow details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_getContractAmendments_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllAmendmentsForAnEorContract-v2026-01-01RequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllAmendmentsForAnEorContract-v2026-01-01RequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllAmendmentsForAnEorContract-v2026-01-01RequestInternalServerError'
  /eor/contracts/{contract_id}/amendments/validation/settings:
    get:
      operationId: get-contract-amendments-validation-settings
      summary: Get amendment validation settings
      description: "Get all amendment validations settings of available data points for an EOR contract amendment\n **Token scopes**: `contracts:read`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: employment_state
        in: query
        description: The employment state of the EOR worker contract
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment settings response with additional_details included as optional.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_getContractAmendmentsValidationSettings_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAmendmentValidationSettingsForAnEorContractRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAmendmentValidationSettingsForAnEorContractRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAmendmentValidationSettingsForAnEorContractRequestInternalServerError'
  /eor/contracts/{contract_id}/amendments/{amendment_id}/effective-date-limitations:
    get:
      operationId: get-contract-amendment-effective-date-limitations
      summary: Retrieve Effective Date Limitations
      description: "Retrieves validation rules for the effective date in an amendment flow of an EOR contract, including date limits, defaults, and visibility settings.\n **Token scopes**: `contracts:read`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of the EOR worker contract
        required: true
        schema:
          type: string
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the effective date limits for the amendment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_getContractAmendmentEffectiveDateLimitations_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEffectiveDateLimitationsRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEffectiveDateLimitationsRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEffectiveDateLimitationsRequestInternalServerError'
  /eor/contracts/{contract_id}/amendments/{amendment_id}/sign:
    post:
      operationId: sign-eor-amendment
      summary: Sign a contract amendment (employee)
      description: "Allows the employee to provide their signature for a specific contract amendment, confirming acknowledgment and acceptance of the changes.\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of EOR worker contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: amendment_id
        in: path
        description: A unique identifier for the employee contract amendment.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Amendment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_signEORAmendment_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignAContractAmendmentEmployeeRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignAContractAmendmentEmployeeRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignAContractAmendmentEmployeeRequestInternalServerError'
      requestBody:
        description: This operation does not require a request body. Provide an empty JSON object if required by the client.
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /eor/contracts/{contract_id}/amendments/validate:
    post:
      operationId: validate-eor-amendments
      summary: Validate amendment data points
      description: "Validate amendment data points that require external validation\n **Token scopes**: `contracts:write`"
      tags:
      - subpackage_eorAmendments
      parameters:
      - name: contract_id
        in: path
        description: The unique identifier of the employee contract.
        required: true
        schema:
          type: string
          format: alphanumeric
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eor-amendments_validateEORAmendments_Response_200'
        '400':
          description: Bad Request. The request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAmendmentDataPointsRequestBadRequestError'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Resource not found (e.g., contract, profile, amendment, change request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAmendmentDataPointsRequestNotFoundError'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAmendmentDataPointsRequestInternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  additionalProperties:
                    description: Any type
                  description: Dynamic object containing amendment fields. Supports flexible keys such as scope, job_title, or others.
components:
  schemas:
    EorContractsContractIdAmendmentsAmendmentIdPatchRequestBodyContentApplicationJsonSchemaDataVariableCompensationType:
      type: string
      enum:
      - PERCENTAGE
      - FIXED
      description: Type of variable compensation.
      title: EorContractsContractIdAmendmentsAmendmentIdPatchRequestBodyContentApplicationJsonSchemaDataVariableCompensationType
    EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Id of amendment
        type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataType'
          - type: 'null'
          description: Type of amendment
        items:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataItemsItems'
          description: Items of amendment
        scope:
          type: string
          description: Scope of the amendment.
        salary:
          type: string
          description: Salary for the amendment.
        source:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataSource'
          - type: 'null'
          description: Source of amendment flow creation.
        currency:
          type: string
          description: Contract currency.
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: End date of the employment.
        holidays:
          type:
          - integer
          - 'null'
          description: Number of holidays.
        job_code:
          type:
          - string
          - 'null'
          description: Job code associated with the job title.
        job_title:
          type: string
          description: Job title associated with the amendment.
        created_at:
          type: string
          format: date-time
          description: Creation date of the amendment.
        start_date:
          type: string
          format: date-time
          description: Start date of the employment.
        updated_at:
          type: string
          format: date-time
          description: Date when amendment is updated
        hourly_rate:
          type:
          - string
          - 'null'
          description: Hourly rate of the amendment
        custom_items:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataCustomItemsItems'
          description: Custom amendment items associated with the amendment flow
        job_category:
          type:
          - string
          - 'null'
          description: Job category associated with the job title.
        requested_by:
          type:
          - string
          - 'null'
          description: Profile name of the user who requested the change
        seniority_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Seniority level identifier.
        document_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataDocumentType'
          - type: 'null'
          description: Amendment document type
        legal_context:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataLegalContext'
          - type: 'null'
          description: Additional details needed for legal input
        time_off_type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataTimeOffType'
          description: Type of time off.
        void_deadline:
          type:
          - string
          - 'null'
          format: date-time
          description: Deadline this SOW to be voided
        effective_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Effective date of the amendment.
        seniority_date:
          type:
          - string
          - 'null'
          format: date
          description: The seniority date represents the employee’s original start date with a previous employer. It is used to preserve employment tenure when the employee transfers to this company. Can be null if not applicable.
        employment_type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataEmploymentType'
          description: Type of employment.
        sick_leave_days:
          type:
          - integer
          - 'null'
          description: Number of sick leave days
        employment_state:
          type:
          - string
          - 'null'
          description: State of employment.
        probation_period:
          type:
          - integer
          - 'null'
          description: Duration of the probation period.
        work_schedule_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Work schedule id
        fixed_adjustments:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItems'
          description: List of fixed adjustments associated with the amendment request.
        rejection_context:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataRejectionContext'
          - type: 'null'
          description: Additional details containing rejection reason
        amendment_statuses:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataAmendmentStatusesItems'
          description: List of amendment statuses representing the history and progression of an amendment.
        notice_period_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataNoticePeriodType'
          - type: 'null'
          description: Type of notice period.
        void_deadline_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataVoidDeadlineType'
          - type: 'null'
          description: Type of void deadline
        work_hours_per_week:
          type: string
          description: Number of work hours per week.
        employee_nationality:
          type: string
          description: Nationality of the employee.
        is_hrx_action_needed:
          type: boolean
          description: Is HRX action needed.
        variable_compensation:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataVariableCompensation'
          description: Represents a variable compensation record (such as a bonus, commission, or incentive) within a contract. It contains details like the amount, type, frequency, and whether it is part of an incentive plan. The record also tracks when it was created, updated, and whether it has been amended.
        notice_period_time_unit:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit'
          - type: 'null'
          description: Notice period time unit.
        is_effective_date_updated:
          type: boolean
          description: Is Effective Date updated.
        work_schedule_rules_version:
          type:
          - string
          - 'null'
          description: Work schedule rule version.
        notice_period_after_probation:
          type:
          - string
          - 'null'
          description: Notice period after probation.
        notice_period_during_probation:
          type:
          - string
          - 'null'
          description: Notice period during probation.
        probation_period_type_for_definite:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite'
          - type: 'null'
          description: Type of probation period for definite contracts.
      title: EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaData
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsCustomItemsItemsStatus:
      type: string
      enum:
      - REJECTED
      - APPROVED
      - PENDING_REVIEW
      - PENDING_LEGAL
      description: Current status of the custom amendment item
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsCustomItemsItemsStatus
    EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataRejectionContext:
      type: object
      properties:
        rejected_at:
          type: string
          format: date-time
          description: Timestamp of when the rejection occurred
      description: Additional details containing rejection reason
      title: EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataRejectionContext
    EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataSource:
      type: string
      enum:
      - APP
      - PUBLIC_API
      - APP_BULK_AMENDMENT
      description: Source of amendment flow creation.
      title: EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataSource
    ValidateAmendmentDataPointsRequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsValidatePostResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: ValidateAmendmentDataPointsRequestNotFoundError
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataDocumentType:
      type: string
      enum:
      - EA
      - SOW
      - SOW_EA
      description: Amendment document type
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataDocumentType
    ? EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataAmendmentStatusesItemsAmendmentFlowStatus
    : type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: Creation date
      description: Metadata about the amendment status, including when it was created.
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataAmendmentStatusesItemsAmendmentFlowStatus
    ? EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensationIncentivePlan
    : type: object
      properties:
        details:
          type: string
          description: Extra details about the incentive plan, if any.
        employee_signature:
          type: string
          description: The employee’s signature for the incentive plan, if collected.
        employee_signed_at:
          type: string
          format: date-time
          description: The date and time when the employee signed the incentive plan. Empty if not signed.
      description: Details of the incentive plan linked to this compensation, if any.
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensationIncentivePlan
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsLegalContextStatus:
      type: string
      enum:
      - REQUEST_LEGAL_REVIEW
      - WAITING_FOR_ANOTHER_TEAM
      - WAITING_FOR_HRX_ACTION
      - DECLINED
      - SOLVED
      - SOLVE_LEGAL
      - LEGAL_JIRA_REOPENED
      description: Current status of the legal review process
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsLegalContextStatus
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataLegalContext:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataLegalContextStatus'
          description: Current status of the legal review process
        details:
          type: string
          description: Details regarding the legal request
        jira_ticket:
          type: string
          description: Jira ticket identifier linked to the legal context
        jira_web_url:
          type: string
          format: uri
          description: Link to the Jira ticket for tracking
        requested_at:
          type: string
          format: date-time
          description: Timestamp when legal review was requested
      description: Additional details needed for legal input
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataLegalContext
    EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataCustomItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: An optional identifier for the custom object.
        type:
          type: string
          description: The type of the custom object. Must be one of the valid custom types.
        description:
          type: string
          description: A required description for the custom object.
      required:
      - type
      - description
      title: EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataCustomItems
    EorContractsContractIdAmendmentsAmendmentIdEffectiveDateLimitationsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: EorContractsContractIdAmendmentsAmendmentIdEffectiveDateLimitationsGetResponsesContentApplicationJsonSchemaErrorsItems
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataItemsItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Id of amendment item
        item:
          type: string
          description: Amendment item
        type:
          type: string
          description: Type of amendment
        new_value:
          type: string
          description: The new valid value after the attempted change.
        data_point:
          type: string
          description: The field that is selected for amendment.
        previous_value:
          type: string
          description: The previous valid value before the attempted change.
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataItemsItems
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsAmendmentStatusesItemsAmendmentFlowStatus:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: Creation date
      description: Metadata about the amendment status, including when it was created.
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsAmendmentStatusesItemsAmendmentFlowStatus
    eor-amendments_validateEORAmendments_Response_200:
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsValidatePostResponsesContentApplicationJsonSchemaData'
          description: Validation results keyed by amendment field
      title: eor-amendments_validateEORAmendments_Response_200
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataLegalContext:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataLegalContextStatus'
          description: Current status of the legal review process
        details:
          type: string
          description: Details regarding the legal request
        jira_ticket:
          type: string
          description: Jira ticket identifier linked to the legal context
        jira_web_url:
          type: string
          format: uri
          description: Link to the Jira ticket for tracking
        requested_at:
          type: string
          format: date-time
          description: Timestamp when legal review was requested
      description: Additional details needed for legal input
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataLegalContext
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataItemsItemsType:
      type: string
      enum:
      - INSTANT
      - OPS
      - LEGAL
      - DISABLED
      - CUSTOM
      - AUTOMATED
      description: Type of amendment
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataItemsItemsType
    EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaErrorsItems
    EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataRejectionContext:
      type: object
      properties:
        rejected_at:
          type: string
          format: date-time
          description: Timestamp of when the rejection occurred
      description: Additional details containing rejection reason
      title: EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataRejectionContext
    EorContractsContractIdAmendmentsAmendmentIdEffectiveDateLimitationsGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        message:
          type: string
          description: Optional human-readable additional explanation on effective date limitation
        is_hidden:
          type: boolean
          description: Indicates if the effective date field should be hidden.
        is_disabled:
          type: boolean
          description: Indicates if the effective date field is disabled
        max_effective_date:
          type:
          - string
          - 'null'
          format: date
          description: The latest valid effective date
        min_effective_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The earliest valid effective date
        default_effective_date:
          type:
          - string
          - 'null'
          format: date-time
          description: A default effective date suggested by the system
      title: EorContractsContractIdAmendmentsAmendmentIdEffectiveDateLimitationsGetResponsesContentApplicationJsonSchemaData
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit:
      type: string
      enum:
      - DAY
      - WEEK
      - MONTH
      description: Notice period time unit.
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit
    EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataVariableCompensation:
      type: object
      properties:
        id:
          type: string
          description: The ID of an existing active variable compensation to update or delete. Include this in the request only if you are updating or deleting an existing compensation. Do not include it when creating a new one.
        type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataVariableCompensationType'
          description: Type of variable compensation.
        title:
          type: string
          description: The title of the compensation. Required when creating a new compensation. Optional when updating an existing compensation.
        amount:
          type: number
          format: double
          description: Positive amount for the variable compensation.
        timeline:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataVariableCompensationTimeline'
          description: How often this compensation occurs. Required when creating a new compensation. Forbidden when updating an existing compensation.
        is_deleted:
          type: boolean
          description: Flag to mark the variable compensation as deleted. Required only when the variable compensation needs to be removed; omit it otherwise
        effective_date:
          type: string
          format: date
          description: The date when this compensation starts or becomes effective. Required when creating a new compensation. Optional when updating an existing compensation.
      required:
      - type
      - amount
      description: Represents a change to an employee’s variable compensation (e.g., bonus or commission). This schema is used for creating new variable compensation items or updating existing ones. Some fields are required when creating, optional when updating, and forbidden when updating, as specified in each field description.
      title: EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataVariableCompensation
    EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite:
      type: string
      enum:
      - STANDARD
      - CUSTOM
      description: Type of probation period for definite contracts.
      title: EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataRejectionContext:
      type: object
      properties:
        rejected_at:
          type: string
          format: date-time
          description: Timestamp of when the rejection occurred
      description: Additional details containing rejection reason
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataRejectionContext
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsLegalContext:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsLegalContextStatus'
          description: Current status of the legal review process
        details:
          type: string
          description: Details regarding the legal request
        jira_ticket:
          type: string
          description: Jira ticket identifier linked to the legal context
        jira_web_url:
          type: string
          format: uri
          description: Link to the Jira ticket for tracking
        requested_at:
          type: string
          format: date-time
          description: Timestamp when legal review was requested
      description: Additional details needed for legal input
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsLegalContext
    EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataEmploymentType:
      type: string
      enum:
      - FULL_TIME
      - PART_TIME
      description: Type of employment.
      title: EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataEmploymentType
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataSource:
      type: string
      enum:
      - APP
      - PUBLIC_API
      - APP_BULK_AMENDMENT
      description: Source of amendment flow creation.
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataSource
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensation:
      type: object
      properties:
        id:
          type: string
          description: The unique ID assigned by the system to this variable compensation record.
        type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensationType'
          description: The way the compensation is calculated. `FIXED` means a fixed amount (like $1000). `PERCENTAGE` means it’s based on a percentage of the salary.
        title:
          type: string
          description: Title or name of the variable compensation.
        amount:
          type: string
          format: decimal
          description: The value of the compensation. Shown as a string to keep the exact number of decimals.
        timeline:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensationTimeline'
          description: How often the compensation is paid — for example monthly, quarterly, annually, or twice a year.
        parent_id:
          type:
          - string
          - 'null'
          description: Reference to the parent variable compensation, if applicable. Null if this compensation is not linked to any compensation.
        created_at:
          type: string
          format: date-time
          description: The date and time when this record was first created in the system.
        is_amended:
          type: boolean
          description: Shows whether this compensation has been changed as part of an amendment.
        is_deleted:
          type: boolean
          description: Shows whether this compensation has been deleted.
        updated_at:
          type: string
          format: date-time
          description: The date and time when this record was last updated.
        effective_date:
          type: string
          format: date-time
          description: The date when this compensation starts being valid.
        incentive_plan:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensationIncentivePlan'
          description: Details of the incentive plan linked to this compensation, if any.
      required:
      - id
      - type
      - title
      - amount
      - timeline
      - parent_id
      - created_at
      - updated_at
      - effective_date
      description: Represents a variable compensation record (such as a bonus, commission, or incentive) within a contract. It contains details like the amount, type, frequency, and whether it is part of an incentive plan. The record also tracks when it was created, updated, and whether it has been amended.
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensation
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataNoticePeriodType:
      type: string
      enum:
      - STANDARD
      - CUSTOM
      description: Type of notice period.
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataNoticePeriodType
    EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataNoticePeriodType:
      type: string
      enum:
      - STANDARD
      - CUSTOM
      description: Type of notice period.
      title: EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataNoticePeriodType
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataSource:
      type: string
      enum:
      - APP
      - PUBLIC_API
      - APP_BULK_AMENDMENT
      description: Source of amendment flow creation.
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataSource
    ? EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataAmendmentStatusesItemsAmendmentFlowStatus
    : type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The timestamp when this amendment status was created.
      description: Metadata about the amendment status, including when it was created.
      title: EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataAmendmentStatusesItemsAmendmentFlowStatus
    EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataLegalContextStatus:
      type: string
      enum:
      - REQUEST_LEGAL_REVIEW
      - WAITING_FOR_ANOTHER_TEAM
      - WAITING_FOR_HRX_ACTION
      - DECLINED
      - SOLVED
      description: Current status of the legal review process
      title: EorContractsContractIdAmendmentsAmendmentIdGetResponsesContentApplicationJsonSchemaDataLegalContextStatus
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit:
      type: string
      enum:
      - DAY
      - WEEK
      - MONTH
      description: Notice period time unit.
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItemsStatus:
      type: string
      enum:
      - WAITING_FOR_SIGNING
      - ACTIVE
      - OUTDATED
      - CANCELLED
      description: Current status of the fixed adjustment.
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItemsStatus
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsFixedAdjustmentsItemsStatus:
      type: string
      enum:
      - WAITING_FOR_SIGNING
      - ACTIVE
      - OUTDATED
      - CANCELLED
      description: Current status of the fixed adjustment.
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsFixedAdjustmentsItemsStatus
    EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataSource:
      type: string
      enum:
      - APP
      - PUBLIC_API
      - APP_BULK_AMENDMENT
      description: Source of amendment flow creation.
      title: EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataSource
    EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataDocumentType:
      type: string
      enum:
      - EA
      - SOW
      - SOW_EA
      description: Amendment document type
      title: EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataDocumentType
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataLegalContextStatus:
      type: string
      enum:
      - REQUEST_LEGAL_REVIEW
      - WAITING_FOR_ANOTHER_TEAM
      - WAITING_FOR_HRX_ACTION
      - DECLINED
      - SOLVED
      description: Current status of the legal review process
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataLegalContextStatus
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataItemsItemsType:
      type: string
      enum:
      - INSTANT
      - OPS
      - LEGAL
      - DISABLED
      - CUSTOM
      - AUTOMATED
      description: Type of amendment
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataItemsItemsType
    UpdateASpecificEorContractAmendmentRequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: UpdateASpecificEorContractAmendmentRequestNotFoundError
    ListAllAmendmentsForAnEorContract-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: ListAllAmendmentsForAnEorContract-v2026-01-01RequestNotFoundError
    CreateAnEorContractAmendment-v2026-01-01RequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: CreateAnEorContractAmendment-v2026-01-01RequestBadRequestError
    GetAmendmentValidationSettingsForAnEorContractRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: GetAmendmentValidationSettingsForAnEorContractRequestBadRequestError
    EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataDocumentType:
      type: string
      enum:
      - EA
      - SOW
      - SOW_EA
      description: Amendment document type
      title: EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaDataDocumentType
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Id of amendment
        type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataType'
          - type: 'null'
          description: Type of amendment
        items:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataItemsItems'
          description: Items of amendment
        scope:
          type: string
          description: Scope of the amendment.
        salary:
          type: string
          description: Salary for the amendment.
        source:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataSource'
          - type: 'null'
          description: Source of amendment flow creation.
        currency:
          type: string
          description: Contract currency.
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: End date of the employment.
        holidays:
          type:
          - integer
          - 'null'
          description: Number of holidays.
        job_code:
          type:
          - string
          - 'null'
          description: Job code associated with the job title.
        job_title:
          type: string
          description: Job title associated with the amendment.
        created_at:
          type: string
          format: date-time
          description: Creation date of the amendment.
        start_date:
          type: string
          format: date-time
          description: Start date of the employment.
        updated_at:
          type: string
          format: date-time
          description: Date when amendment is updated
        hourly_rate:
          type:
          - string
          - 'null'
          description: Hourly rate of the amendment
        custom_items:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataCustomItemsItems'
          description: Custom amendment items associated with the amendment flow
        job_category:
          type:
          - string
          - 'null'
          description: Job category associated with the job title.
        requested_by:
          type:
          - string
          - 'null'
          description: Profile name of the user who requested the change
        seniority_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Seniority level identifier.
        document_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataDocumentType'
          - type: 'null'
          description: Amendment document type
        legal_context:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataLegalContext'
          - type: 'null'
          description: Additional details needed for legal input
        time_off_type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataTimeOffType'
          description: Type of time off.
        void_deadline:
          type:
          - string
          - 'null'
          format: date-time
          description: Deadline this SOW to be voided
        effective_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Effective date of the amendment.
        seniority_date:
          type:
          - string
          - 'null'
          format: date
          description: The seniority date represents the employee’s original start date with a previous employer. It is used to preserve employment tenure when the employee transfers to this company. Can be null if not applicable.
        employment_type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataEmploymentType'
          description: Type of employment.
        sick_leave_days:
          type:
          - integer
          - 'null'
          description: Number of sick leave days
        employment_state:
          type:
          - string
          - 'null'
          description: State of employment.
        probation_period:
          type:
          - integer
          - 'null'
          description: Duration of the probation period.
        work_schedule_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Work schedule id
        fixed_adjustments:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItems'
          description: List of fixed adjustments associated with the amendment request.
        rejection_context:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataRejectionContext'
          - type: 'null'
          description: Additional details containing rejection reason
        amendment_statuses:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataAmendmentStatusesItems'
          description: List of amendment statuses representing the history and progression of an amendment.
        notice_period_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataNoticePeriodType'
          - type: 'null'
          description: Type of notice period.
        void_deadline_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVoidDeadlineType'
          - type: 'null'
          description: Type of void deadline
        work_hours_per_week:
          type: string
          description: Number of work hours per week.
        employee_nationality:
          type: string
          description: Nationality of the employee.
        is_hrx_action_needed:
          type: boolean
          description: Is HRX action needed.
        variable_compensation:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataVariableCompensation'
          description: Represents a variable compensation record (such as a bonus, commission, or incentive) within a contract. It contains details like the amount, type, frequency, and whether it is part of an incentive plan. The record also tracks when it was created, updated, and whether it has been amended.
        notice_period_time_unit:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit'
          - type: 'null'
          description: Notice period time unit.
        is_effective_date_updated:
          type: boolean
          description: Is Effective Date updated.
        work_schedule_rules_version:
          type:
          - string
          - 'null'
          description: Work schedule rule version.
        notice_period_after_probation:
          type:
          - string
          - 'null'
          description: Notice period after probation.
        notice_period_during_probation:
          type:
          - string
          - 'null'
          description: Notice period during probation.
        probation_period_type_for_definite:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite'
          - type: 'null'
          description: Type of probation period for definite contracts.
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaData
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItemsStatus:
      type: string
      enum:
      - WAITING_FOR_SIGNING
      - ACTIVE
      - OUTDATED
      - CANCELLED
      description: Current status of the fixed adjustment.
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItemsStatus
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Id of amendment
        type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataType'
          - type: 'null'
          description: Type of amendment
        items:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataItemsItems'
          description: Items of amendment
        scope:
          type: string
          description: Scope of the amendment.
        salary:
          type: string
          description: Salary for the amendment.
        source:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataSource'
          - type: 'null'
          description: Source of amendment flow creation.
        currency:
          type: string
          description: Contract currency.
        end_date:
          type:
          - string
          - 'null'
          format: date-time
          description: End date of the employment.
        holidays:
          type:
          - integer
          - 'null'
          description: Number of holidays.
        job_code:
          type:
          - string
          - 'null'
          description: Job code associated with the job title.
        job_title:
          type: string
          description: Job title associated with the amendment.
        created_at:
          type: string
          format: date-time
          description: Creation date of the amendment.
        start_date:
          type: string
          format: date-time
          description: Start date of the employment.
        updated_at:
          type: string
          format: date-time
          description: Date when amendment is updated
        hourly_rate:
          type:
          - string
          - 'null'
          description: Hourly rate of the amendment
        custom_items:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataCustomItemsItems'
          description: Custom amendment items associated with the amendment flow
        job_category:
          type:
          - string
          - 'null'
          description: Job category associated with the job title.
        requested_by:
          type:
          - string
          - 'null'
          description: Profile name of the user who requested the change
        seniority_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Seniority level identifier.
        document_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataDocumentType'
          - type: 'null'
          description: Amendment document type
        legal_context:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataLegalContext'
          - type: 'null'
          description: Additional details needed for legal input
        time_off_type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataTimeOffType'
          description: Type of time off.
        void_deadline:
          type:
          - string
          - 'null'
          format: date
          description: Deadline this SOW to be voided
        effective_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Effective date of the amendment.
        seniority_date:
          type:
          - string
          - 'null'
          format: date-time
          description: The seniority date represents the employee’s original start date with a previous employer. It is used to preserve employment tenure when the employee transfers to this company. Can be null if not applicable.
        employment_type:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataEmploymentType'
          description: Type of employment.
        sick_leave_days:
          type:
          - integer
          - 'null'
          description: Number of sick leave days
        employment_state:
          type:
          - string
          - 'null'
          description: State of employment.
        probation_period:
          type:
          - integer
          - 'null'
          description: Duration of the probation period.
        work_schedule_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Work schedule id
        fixed_adjustments:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItems'
          description: List of fixed adjustments associated with the amendment request.
        rejection_context:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataRejectionContext'
          - type: 'null'
          description: Additional details containing rejection reason
        amendment_statuses:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataAmendmentStatusesItems'
          description: List of amendment statuses representing the history and progression of an amendment.
        notice_period_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataNoticePeriodType'
          - type: 'null'
          description: Type of notice period.
        void_deadline_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataVoidDeadlineType'
          - type: 'null'
          description: Type of void deadline
        work_hours_per_week:
          type: string
          description: Number of work hours per week.
        employee_nationality:
          type: string
          description: Nationality of the employee.
        is_hrx_action_needed:
          type: boolean
          description: Is HRX action needed.
        variable_compensation:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataVariableCompensation'
          description: Represents a variable compensation record (such as a bonus, commission, or incentive) within a contract. It contains details like the amount, type, frequency, and whether it is part of an incentive plan. The record also tracks when it was created, updated, and whether it has been amended.
        notice_period_time_unit:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit'
          - type: 'null'
          description: Notice period time unit.
        is_effective_date_updated:
          type: boolean
          description: Is Effective Date updated.
        work_schedule_rules_version:
          type:
          - string
          - 'null'
          description: Work schedule rule version.
        notice_period_after_probation:
          type:
          - string
          - 'null'
          description: Notice period after probation.
        notice_period_during_probation:
          type:
          - string
          - 'null'
          description: Notice period during probation.
        probation_period_type_for_definite:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite'
          - type: 'null'
          description: Type of probation period for definite contracts.
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaData
    AcceptAContractAmendmentOnBehalfOfTheClientRequestBadRequestError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdAcceptPostResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: AcceptAContractAmendmentOnBehalfOfTheClientRequestBadRequestError
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsNoticePeriodType:
      type: string
      enum:
      - STANDARD
      - CUSTOM
      description: Type of notice period.
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsNoticePeriodType
    EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsVariableCompensationType:
      type: string
      enum:
      - FIXED
      - PERCENTAGE
      description: The way the compensation is calculated. `FIXED` means a fixed amount (like $1000). `PERCENTAGE` means it’s based on a percentage of the salary.
      title: EorContractsContractIdAmendmentsGetResponsesContentApplicationJsonSchemaDataItemsVariableCompensationType
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaDataItemsRulesItems'
          description: The rules for the data point.
        data_point:
          type: string
          description: The name of the data point being configured.
      title: EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaDataItems
    EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataCustomItemsItems:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the custom amendment item
        type:
          type: string
          description: Type/context of the custom amendment item
        status:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataCustomItemsItemsStatus'
          description: Current status of the custom amendment item
        description:
          type:
          - string
          - 'null'
          description: Detailed description of the custom amendment item
        rejection_reason:
          type:
          - string
          - 'null'
          description: Reason for rejection if the item was rejected
      required:
      - id
      - type
      - status
      title: EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataCustomItemsItems
    EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite:
      type: string
      enum:
      - STANDARD
      - CUSTOM
      description: Type of probation period for definite contracts.
      title: EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataProbationPeriodTypeForDefinite
    EorContractsContractIdAmendmentsAmendmentIdDeleteResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: EorContractsContractIdAmendmentsAmendmentIdDeleteResponsesContentApplicationJsonSchemaErrorsItems
    ? EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaDataItemsRulesItemsTenureBasedRulesItems
    : type: object
      properties:
        notice_value:
          type:
          - integer
          - 'null'
          description: The required notice period for this range of employment duration.
        max_employment_duration:
          type:
          - integer
          - 'null'
          description: The maximum duration of employment for this rule to apply.
        min_employment_duration:
          type:
          - integer
          - 'null'
          description: The minimum duration of employment for this rule to apply.
        employment_duration_type:
          oneOf:
          - $ref: '#/components/schemas/EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaDataItemsRulesItemsTenureBasedRulesItemsEmploymentDurationType'
          - type: 'null'
          description: The unit of measurement for the employment duration.
      title: EorContractsContractIdAmendmentsValidationSettingsGetResponsesContentApplicationJsonSchemaDataItemsRulesItemsTenureBasedRulesItems
    EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataLegalContextStatus:
      type: string
      enum:
      - REQUEST_LEGAL_REVIEW
      - WAITING_FOR_ANOTHER_TEAM
      - WAITING_FOR_HRX_ACTION
      - DECLINED
      - SOLVED
      description: Current status of the legal review process
      title: EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaDataLegalContextStatus
    EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataLegalContext:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataLegalContextStatus'
          description: Current status of the legal review process
        details:
          type: string
          description: Details regarding the legal request
        jira_ticket:
          type: string
          description: Jira ticket identifier linked to the legal context
        jira_web_url:
          type: string
          format: uri
          description: Link to the Jira ticket for tracking
        requested_at:
          type: string
          format: date-time
          description: Timestamp when legal review was requested
      description: Additional details needed for legal input
      title: EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataLegalContext
    EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataVariableCompensationTimeline:
      type: string
      enum:
      - MONTHLY
      - QUARTERLY
      - ANNUALLY
      - BIANNUALLY
      description: How often this compensation occurs. Required when creating a new compensation. Forbidden when updating an existing compensation.
      title: EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataVariableCompensationTimeline
    EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit:
      type: string
      enum:
      - DAY
      - WEEK
      - MONTH
      description: Notice period time unit.
      title: EorContractsContractIdAmendmentsAmendmentIdSignPostResponsesContentApplicationJsonSchemaDataNoticePeriodTimeUnit
    EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataType:
      type: string
      enum:
      - INSTANT
      - OPS
      - LEGAL
      - DISABLED
      - CUSTOM
      - AUTOMATED
      description: Type of amendment
      title: EorContractsContractIdAmendmentsAmendmentIdConfirmPostResponsesContentApplicationJsonSchemaDataType
    EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: EorContractsContractIdAmendmentsPostResponsesContentApplicationJsonSchemaErrorsItems
    EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItems:
      type: object
      properties:
        id:
          type: string
          description: System-generated unique identifier for the fixed adjustment record in an amendment request.
        value:
          type: string
          description: Value of the fixed adjustment.
        status:
          $ref: '#/components/schemas/EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItemsStatus'
          description: Current status of the fixed adjustment.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the fixed adjustment was created.
        is_amended:
          type: boolean
          description: Whether this fixed adjustment was amended from a previous one.
        is_deleted:
          type: boolean
          description: True if the fixed adjustment was deleted as part of the amendment; otherwise false.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the fixed adjustment was last updated.
        description:
          type: string
          description: Description of the fixed adjustment.
        is_recurring:
          type: boolean
          description: Whether the fixed adjustment is recurring. If set to false, it will be treated as a one-time fixed allowance.
        is_country_specific:
          type: boolean
          description: Whether this fixed adjustment applies only to a specific country.
        parent_fixed_adjustment_id:
          type:
          - string
          - 'null'
          description: Reference to the parent fixed adjustment, if applicable.
      required:
      - id
      - value
      - status
      - created_at
      - is_amended
      - updated_at
      - description
      - is_recurring
      - is_country_specific
      title: EorContractsContractIdAmendmentsAmendmentIdPatchResponsesContentApplicationJsonSchemaDataFixedAdjustmentsItems
    EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataFixedAdjustmentsItems:
      type: object
      properties:
        id:
          type: string
          description: The ID of an existing active fixed adjustment to update or delete. Include this in the request only if you are updating or deleting an existing adjustment. Do not include it when creating a new one.
        value:
          type: string
          description: Value of the fixed adjustment. Must be a positive number, not zero.
        is_deleted:
          type: boolean
          description: Flag to mark the fixed adjustment as deleted. Required only when the fixed adjustment needs to be removed; omit it otherwise.
        description:
          type: string
          description: Description of the fixed adjustment.
        is_recurring:
          type: boolean
          description: Whether the fixed adjustment is recurring. If set to false, it will be treated as a one-time fixed allowance.
      required:
      - value
      - description
      - is_recurring
      title: EorContractsContractIdAmendmentsPostRequestBodyContentApplicationJsonSchemaDataFixedAdjustmentsItems
[...]
