# x-archived-from: deel-subpackage-workerhr-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Endpoints Subpackage Worker Hr API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_workerHr
paths:
  /escalations/workers/me/hrx:
    get:
      operationId: get-hrx-manager-for-worker
      summary: Get HRX manager for worker
      description: "Use this endpoint to retrieve details of the Human Resource Experience (HRX) Manager assigned to a worker. This can be used to display contact and scheduling information for the HRX representative. Only accessible to employees with appropriate permissions.\n **Token scopes**: `worker:read`"
      tags:
      - subpackage_workerHr
      parameters:
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation. Returns HRX representative information for the worker based on their country.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker_HR_getHrxManagerForWorker_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Forbidden - user is not authorized to access this resource. Only employees can access HRX information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrxManagerForWorkerRequestForbiddenError'
        '404':
          description: Not Found - There is no assignment of HRX Manager against this worker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrxManagerForWorkerRequestNotFoundError'
        '500':
          description: Internal server error - unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrxManagerForWorkerRequestInternalServerError'
components:
  schemas:
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable explanation of the error
      title: EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaErrorsItems
    GetHrxManagerForWorkerRequestForbiddenError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: GetHrxManagerForWorkerRequestForbiddenError
    Worker_HR_getHrxManagerForWorker_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaData'
      title: Worker HR_getHrxManagerForWorker_Response_200
    EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier (UUID) for the HRX representative
        name:
          type: string
          description: Full name of the HRX representative
        avatar:
          type: string
          description: URL to the HRX representative's avatar/profile picture
        created_at:
          type: string
          format: date-time
          description: Timestamp when the HRX record was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the HRX record was last updated
        cal_com_url:
          type: string
          description: A link to schedule call with HRX Manager
      required:
      - id
      - name
      - avatar
      - created_at
      - updated_at
      title: EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaData
    GetHrxManagerForWorkerRequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: GetHrxManagerForWorkerRequestNotFoundError
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    GetHrxManagerForWorkerRequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/EscalationsWorkersMeHrxGetResponsesContentApplicationJsonSchemaErrorsItems'
      title: GetHrxManagerForWorkerRequestInternalServerError
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
