# x-archived-from: deel-subpackage-accounting-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Endpoints Subpackage Accounting API
  version: 1.0.0
servers:
- url: https://api.letsdeel.com/rest/v2
- url: https://api-staging.letsdeel.com/rest/v2
tags:
- name: subpackage_accounting
paths:
  /invoices/{id}/download:
    get:
      operationId: get-billing-invoice-download-link
      summary: Download invoice PDF
      description: "Get a link to download the invoice PDF.\n **Token scopes**: `accounting:read`"
      tags:
      - subpackage_accounting
      parameters:
      - name: id
        in: path
        description: The invoice ID used to identify the invoice to be downloaded.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounting_getBillingInvoiceDownloadLink_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /invoices/{invoice_id}:
    get:
      operationId: get-invoice-by-id-v-2026-01-01
      summary: Get invoice by id
      description: "Retrieve invoice details\n **Token scopes**: `accounting:read`"
      tags:
      - subpackage_accounting
      parameters:
      - name: invoice_id
        in: path
        description: The invoice ID used to identify the invoice to be retireved.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The invoice resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounting_getInvoiceById-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceById-v2026-01-01RequestNotFoundError'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /payments/{payment_id}/breakdown:
    get:
      operationId: retrieve-a-payment-breakdown-v-2026-01-01
      summary: Retrieve a payment breakdown
      description: "Get a full breakdown of a payment made to Deel. Breakdown will include individual invoices and Deel fee as line items.\n **Token scopes**: `accounting:read`"
      tags:
      - subpackage_accounting
      parameters:
      - name: payment_id
        in: path
        description: Unique identifier for the payment to retrieve the breakdown.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounting_retrieveAPaymentBreakdown-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /invoices/deel:
    get:
      operationId: retrieve-deel-invoices
      summary: Retrieve Deel invoices
      description: "Retrieve a list of invoices related to Deel fees.\n **Token scopes**: `accounting:read`"
      tags:
      - subpackage_accounting
      parameters:
      - name: limit
        in: query
        description: Return a page of results with given number of records; NOTE technically ALL query parameters are strings or array of strings
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Return a page of results after given index of row; NOTE technically ALL query parameters are strings or array of strings'
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounting_retrieveDeelInvoices_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /invoices:
    get:
      operationId: retrieve-invoices
      summary: Retrieve invoices
      description: "Retrieve a list of paid invoices for your workforce.\n **Token scopes**: `accounting:read`"
      tags:
      - subpackage_accounting
      parameters:
      - name: issued_from_date
        in: query
        description: Filter invoices issued on or after the specified date.
        required: false
        schema:
          type: string
      - name: issued_to_date
        in: query
        description: Filter invoices issued before the specified date.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: If status query has value of all, all invoices will be returned. Otherwise only paid invoices will be fetched.
        required: false
        schema:
          $ref: '#/components/schemas/InvoicesGetParametersStatus'
      - name: limit
        in: query
        description: Number of records to retrieve per page.
        required: false
        schema:
          type: number
          format: double
          default: 25
      - name: offset
        in: query
        description: Index of the first record to return.
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: cursor
        in: query
        description: Return next page of results after the given cursor.
        required: false
        schema:
          type: string
      - name: include
        in: query
        description: Will include invoices from COR workers in the response.
        required: false
        schema:
          $ref: '#/components/schemas/InvoicesGetParametersInclude'
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounting_retrieveInvoices_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoicesGetResponsesContentApplicationJsonSchemaItems'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
  /payments:
    get:
      operationId: retrieve-payment-receipts-v-2026-01-01
      summary: Retrieve payment receipts
      description: "Returns a cursor-paginated list of payments made to Deel, including worker details, payment status, and payment methods. Use the `next_cursor` value from the response to retrieve subsequent pages.\n **Token scopes**: `accounting:read`"
      tags:
      - subpackage_accounting
      parameters:
      - name: date_from
        in: query
        description: Filters results to include payments created on or after this date (in ISO 8601 format).
        required: false
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        description: Filters results to include payments created before this date (in ISO 8601 format).
        required: false
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        description: A cursor for pagination. Use the value returned in the 'next_cursor' field to get the next page of results.
        required: false
        schema:
          type: string
      - name: currencies
        in: query
        description: Filters payments by their currency codes. Can be a single currency code or an array of codes.
        required: false
        schema:
          $ref: '#/components/schemas/PaymentsGetParametersCurrencies'
      - name: entities
        in: query
        description: Filters payments by legal entity type (e.g., 'individual' or 'company'). Can be a single entity type or an array.
        required: false
        schema:
          $ref: '#/components/schemas/PaymentsGetParametersEntities'
      - name: statuses
        in: query
        description: Filters payments by their status (e.g., 'paid' or 'processing'). Can be a single status type or an array.
        required: false
        schema:
          $ref: '#/components/schemas/PaymentsGetParametersStatuses'
      - name: Authorization
        in: header
        description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounting_retrievePaymentReceipts-v2026-01-01_Response_200'
        '400':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '401':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '403':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaymentReceipts-v2026-01-01RequestInternalServerError'
components:
  schemas:
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractorUniqueIdentifier:
      oneOf:
      - type: string
        format: uuid
      - $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractorUniqueIdentifier1'
      description: Unique identifier for the worker. May be empty for certain contract types such as service agreements and fees.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractorUniqueIdentifier
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractStartDate:
      oneOf:
      - type: string
        format: date-time
      - $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractStartDate1'
      description: Start date of the contract. Empty for service agreements and fee-related contracts (such as equipment payments, insurance payments, and management fees) that don't have traditional contract start dates.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractStartDate
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractType:
      type: string
      enum:
      - milestones
      - time_based
      - ongoing_time_based
      - pay_as_you_go_time_based
      - commission
      - payg_milestones
      - payg_tasks
      - eor
      - peo
      - peo_csa
      - unknown
      - employee
      - global_payroll
      - shield_msa
      - gp_client_agreement
      - ep_client_agreement
      - power_of_attorney
      - debt_authorization
      - hris_direct_employee
      - hris_service_agreement
      - hofy_standalone_payment
      - wework_standalone_payment
      - travel_insurance_standalone_payment
      - health_insurance_standalone_payment
      - prepaid_billing
      - missing_saas_fees
      - one_off_service_fee
      - eor_management_fee
      - eor_one_off_management_fee
      - engage_monthly_subscription_fee
      - ats_subscription_fee
      - benefits_admin_monthly_platform_fee
      - contractor_outside_deel
      - late_payment_fee
      - background_check_standalone_payment
      - peo_service_fee
      - payment_processing_fee
      - deel_percentage_fee
      - netx_fee
      - prepaid_funding_statement
      - one_off_mobility_service_fee
      - prepaid_billing_expired_credits
      - implementation_delay
      - managed_hr_monthly_subscription_fee
      - expense_card
      - anon_report_fee
      - ic_maintenance_platform_fee
      description: Type of contract this payment relates to. Determines the nature of the work relationship and payment structure.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractType
    GetInvoiceById-v2026-01-01RequestNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaErrorsItems'
          description: Error messages
        request:
          $ref: '#/components/schemas/InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaRequest'
          description: Error request details
      required:
      - errors
      title: GetInvoiceById-v2026-01-01RequestNotFoundError
    InvoicesGetResponsesContentApplicationJsonSchemaDataItemsPaidAt:
      oneOf:
      - type: string
        format: date-time
      - type: string
      description: Date/time when the invoice was paid (ISO-8601). May be null or empty string.
      title: InvoicesGetResponsesContentApplicationJsonSchemaDataItemsPaidAt
    InvoicesGetResponsesContentApplicationJsonSchemaPage:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
          description: Cursor for paginated results.
        offset:
          type: number
          format: double
          description: The starting position of the current page of results.
        total_rows:
          type: number
          format: double
          description: Total number of rows available for the query.
        items_per_page:
          type: number
          format: double
          description: Number of items displayed per page.
      required:
      - offset
      - total_rows
      - items_per_page
      title: InvoicesGetResponsesContentApplicationJsonSchemaPage
    InvoicesIdDownloadGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice.
        url:
          type:
          - string
          - 'null'
          description: URL to the requested invoice for download. This URL may expire after a certain duration.
        expires_at:
          type: string
          format: date-time
          description: The expiration date and time of the download URL, after which the URL will no longer be accessible.
      required:
      - url
      title: InvoicesIdDownloadGetResponsesContentApplicationJsonSchemaData
    PaymentsGetParametersEntities1:
      type: string
      enum:
      - individual
      - company
      title: PaymentsGetParametersEntities1
    Accounting_retrievePaymentReceipts-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaData'
      title: Accounting_retrievePaymentReceipts-v2026-01-01_Response_200
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsDeelGrantedCreditsUsed:
      type: object
      properties:
        amount:
          type: string
          description: Amount deducted from Deel-granted credits, in the payment currency. '0.00' if not used.
        original_amount:
          type:
          - string
          - 'null'
          description: Amount deducted from Deel-granted credits, in the original currency they were held in. Null if not used.
        original_currency:
          type:
          - string
          - 'null'
          description: Currency in which the Deel-granted credits were held, following ISO 4217. Null if not used.
      description: Amount paid using Deel-granted credits.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsDeelGrantedCreditsUsed
    Accounting_getBillingInvoiceDownloadLink_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/InvoicesIdDownloadGetResponsesContentApplicationJsonSchemaData'
      required:
      - data
      title: Accounting_getBillingInvoiceDownloadLink_Response_200
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPrepaidBillingCreditsUsed:
      type: object
      properties:
        amount:
          type: string
          description: Amount deducted from prepaid billing credits, in the payment currency. '0.00' if not used.
        original_amount:
          type:
          - string
          - 'null'
          description: Amount deducted from prepaid billing credits, in the original currency they were held in. Null if not used.
        original_currency:
          type:
          - string
          - 'null'
          description: Currency in which the prepaid billing credits were held, following ISO 4217. Null if not used.
      description: Amount paid using prepaid billing credits.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPrepaidBillingCreditsUsed
    InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataLineItemsItemsType:
      type: string
      enum:
      - AI_WORKFORCE_MONTHLY_FEE
      - ANON_REPORT_FEE
      - ANYTIME_PAY_GP_RESERVE
      - ASO_FEE
      - ASO_PAYROLL_FUNDING
      - ATS_LINKEDIN_PREMIUM_FEE
      - BACKGROUND_CHECK_FEE
      - BANK_ACCOUNT_OPENING_FEE
      - BANK_FILE_FEE
      - BENEFITS_ADMIN_MONTHLY_PLATFORM_FEE
      - CLIENT_PREFUNDING_AMOUNT
      - COR_LOCAL_COLLECTION_FEE
      - COR_START_DELAY
      - CUSTOM_DOMAIN_FEE
      - CUSTOM_ONE_OFF_COST
      - CUSTOM_ONE_OFF_FEE
      - DEEL_ATS_SUBSCRIPTIONS
      - DEEL_COMPENSATION_FEE
      - DEEL_ENGAGE_ATS_FEE
      - DEEL_ENGAGE_MONTHLY_SUBSCRIPTION_FEE
      - DEEL_FIELD_SERVICES_EOR_FEES
      - DEEL_FIELD_SERVICES_PASSTHROUGH_FEES
      - DEEL_FIELD_SERVICES_SWM_FEES
      - DEEL_HR_FEE
      - DEEL_HRIS_FEE
      - DEEL_IT_ACCESSORY_REPLACEMENT
      - DEEL_IT_APP_RESALE
      - DEEL_IT_ASSEMBLED_DELIVERY
      - DEEL_IT_BYOD_ACTIVATION_FEE
      - DEEL_IT_BYOD_STORAGE_FEE
      - DEEL_IT_CANCELLATION
      - DEEL_IT_CERTIFIED_DATA_ERASURE
      - DEEL_IT_CLEARANCE
      - DEEL_IT_CUSTOM_SHIPPING
      - DEEL_IT_CUSTOM_SOURCING
      - DEEL_IT_DEVICE_UNLOCK_FEE
      - DEEL_IT_ENDPOINT_PROTECTION_FEES
      - DEEL_IT_ENDPOINT_PROTECTION_FEES_OVERAGES
      - DEEL_IT_END_OF_CONTRACT_PURCHASE
      - DEEL_IT_EXPRESS_SHIPPING
      - DEEL_IT_EXTENDED_WARRANTY
      - DEEL_IT_IDENTITY_FEES
      - DEEL_IT_IDENTITY_FEES_OVERAGES
      - DEEL_IT_IT_SEAT
      - DEEL_IT_IT_SERVICE_DESK
      - DEEL_IT_JC_PLATFORM_FEES
      - DEEL_IT_JC_PLATFORM_FEES_OVERAGES
      - DEEL_IT_JC_PLATFORMPRIME_FEES
      - DEEL_IT_JC_PLATFORMPRIME_FEES_OVERAGES
      - DEEL_IT_LAPTOP_CONFIG
      - DEEL_IT_LOANER
      - DEEL_IT_MDM
      - DEEL_IT_MDM_OVERAGES
      - DEEL_IT_NON_DEEL_IT_DEVICE_CHARGE
      - DEEL_IT_PACKAGING
      - DEEL_IT_PURCHASE
      - DEEL_IT_REDISTRIBUTION_FEE
      - DEEL_IT_RENTAL
      - DEEL_IT_REPAIR
      - DEEL_IT_REPAIR_WITH_PARTS
      - DEEL_IT_REPLACEMENT
      - DEEL_IT_SAAS
      - DEEL_IT_SERVICE
      - DEEL_IT_SERVICE_BUNDLE
      - DEEL_IT_SHIPPING
      - DEEL_IT_SINGLE_ITEM_FEE
      - DEEL_IT_STOREFRONT_FEE
      - DEEL_IT_STORE_AND_REUSE_CUSTOMER_OWNED_FEE
      - DEEL_IT_STORE_AND_REUSE_CUSTOMER_OWNED_STORAGE_FEE
      - DEEL_IT_STORE_AND_REUSE_FEE
      - DEEL_IT_VAT
      - DEEL_IT_WELCOME_PACK
      - DEEL_MAINTENANCE_FEE
      - DEEL_TALENT_CLIENT_SAAS_FEE_ONE_OFF
      - DEEL_TALENT_CLIENT_SAAS_FEE_RECURRING
      - DEEL_TALENT_TP_SAAS_FEE_ONE_OFF
      - DEEL_TALENT_TP_SAAS_FEE_RECURRING
      - DEEL_WORKFORCE_PLANNING_SUBSCRIPTIONS
      - DEPOSIT_REFUND
      - DISCOUNT
      - DPA_AGREEMENT_FEE
      - EMPLOYEE_NAVIGATOR_IMPLEMENTATION_FEE
      - EMPLOYEE_NAVIGATOR_PEPM_FEE
      - ENGAGE_HR_SUITE_SUBSCRIPTION_FEE
      - ENGAGE_PLUGINS_SUBSCRIPTION_FEE
      - ENGAGE_ZAVVY_LEGACY_SUBSCRIPTION_FEE
      - ENTITY_MANAGEMENT_PLATFORM_FEE
      - ENTITY_SETUP_FEE
      - EOR_13_TH_14_TH_MONTH_SALARY
      - EOR_13_TH_MONTH_SALARY
      - EOR_ACCIDENT_AND_DISABILITY
      - EOR_ACCIDENT_AND_DISABILITY_FEE
      - EOR_ACCRUED_HOLIDAY
      - EOR_ADDITIONAL_FEE
      - EOR_ALLOWANCE
      - EOR_ANYTIME_PAYROLL_FEE
      - EOR_BENEFIT_IN_KIND_WITHHELD_AMOUNT
      - EOR_BONUS
      - EOR_COMPANY_DOCTOR_COST
      - EOR_DEDUCTION
      - EOR_DEPOSIT
      - EOR_EARLY_INVOICING_FUNDING_AMOUNT
      - EOR_EMPLOYER_COST
      - EOR_EQUITY_TAX_WITHHELD
      - EOR_EXPENSE
      - EOR_EXTERNAL_LEGAL_ADVISORY_COST
      - EOR_FERTILITY
      - EOR_FERTILITY_FEE
      - EOR_FERTILITY_PLAN_COST
      - EOR_FOREIGN_CURRENCY_CONTRACT_FEE
      - EOR_FOREIGN_CURRENCY_FEE
      - EOR_HEALTH_ALLOWANCE
      - EOR_HEALTH_ALLOWANCE_PLAN_COST
      - EOR_HEALTH_AND_SAFETY_TRAINING_COST
      - EOR_HEALTH_BENEFIT
      - EOR_HEALTH_BENEFIT_PLAN_COST
      - EOR_HEALTH_INSURANCE_FEE
      - EOR_LEGAL_FEE
      - EOR_LEGAL_SETTLEMENT_PAYOUT
      - EOR_LIFE_INSURANCE
      - EOR_LIFE_INSURANCE_FEE
      - EOR_LIFE_INSURANCE_PLAN_COST
      - EOR_LOCAL_COLLECTION_FEE
      - EOR_MANAGEMENT_FEE
      - EOR_MEAL_VOUCHER
      - EOR_MEAL_VOUCHER_FEE
      - EOR_MEAL_VOUCHER_PLAN_COST
      - EOR_MEDICAL_ONBOARDING_COST
      - EOR_MENTAL_HEALTH
      - EOR_MENTAL_HEALTH_FEE
      - EOR_MENTAL_HEALTH_PLAN_COST
      - EOR_NON_STATUTORY_EMPLOYER_COST
      - EOR_OFFCYCLE
      - EOR_OFF_BOARDING_FEE
      - EOR_OTHER
      - EOR_PENSION
      - EOR_PENSION_FEE
      - EOR_PENSION_PLAN_COST
      - EOR_QES_FEE
      - EOR_SALARY_ADVANCE
      - EOR_SETUP_FEE
      - EOR_SEVERANCE
      - EOR_SIGNING_BONUS
      - EOR_SIGNING_BONUS_DEDUCTION
      - EOR_SIGNING_BONUS_EMPLOYER_COST
      - EOR_SIGNING_BONUS_EMPLOYER_COST_DEDUCTION
      - EOR_SINGLE_TERMINATION_FEE
      - EOR_START_DELAY
      - EOR_STUDY_FUND
      - EOR_STUDY_FUND_FEE
      - EOR_STUDY_FUND_PLAN_COST
      - EOR_TAX_RULING
      - EOR_TAX_VAT
      - EOR_TIME_OFF
      - EOR_TRAVEL_INSURANCE_ANNUAL_SUBSCRIPTION_FEE
      - EOR_TRAVEL_INSURANCE_MONTHLY_SUBSCRIPTION_FEE
      - EOR_VISA_MANAGEMENT_FEE
      - EOR_WET_INK_FEE
      - EOR_WORK
      - EQUITY_ANNUAL_SUBSCRIPTION_FEE
      - EQUITY_EOR_PER_HEAD_FEE
      - EQUITY_IMPLEMENTATION_FEE
      - EQUITY_MAINTENANCE_FEE
      - EXPENSE_CARD
      - EXPENSE_CARD_FEE
      - G2N_BENEFITS
      - G2N_BENEFIT_IN_KIND
      - G2N_EMPLOYER_CONTRIBUTIONS
      - G2N_EOR_NET_PAY_WITHOUT_EXPENSES
      - G2N_GROSS_DEDUCTIONS
      - G2N_GROSS_TAXABLE
      - G2N_NET_ADDITIONS
      - G2N_NET_DEDUCTIONS
      - G2N_NET_PAY
      - G2N_ODP_OFFSET
      - G2N_ON_CALL_OVERTIME
      - G2N_OTHER_ADJUSTMENTS
      - G2N_PAY_RATE
      - G2N_SEVERANCE
      - G2N_TOTAL_EXPENSES
      - G2N_VACATION_PAYOUT
      - G2N_WAGE_ADDITIONS
      - G2N_WORKER_TAX_AND_CONTRIBUTIONS
      - GLOBAL_HR_CONSULTING_ANNUAL_SUBSCRIPTION_FEE
      - GLOBAL_HR_CONSULTING_EOR_MASS_TERMINATION_FEE
      - GLOBAL_HR_CONSULTING_MANAGED_HR_MONTHLY_SUBSCRIPTION_FEE
      - GLOBAL_HR_CONSULTING_MONTHLY_SUBSCRIPTION_FEE
      - GLOBAL_HR_CONSULTING_PROJECT_FEE
      - GLOBAL_HR_DPO_AS_A_SERVICE_ANNUAL_SUBSCRIPTION_FEE
      - GLOBAL_HR_EU_UK_REPRESENTATIVE_SERVICE_ANNUAL_SUBSCRIPTION_FEE
      - GLOBAL_HR_PRIVACY_CONSULTING_SERVICES_ANNUAL_SUBSCRIPTION_FEE
      - GLOBAL_HR_PRIVACY_SERVICES_ANNUAL_SUBSCRIPTION_FEE
      - GL_CUSTOM_CONFIGURATION
      - GP_ADD_ON_FEE
      - GP_ADVANCE_PAYMENTS_FEE
      - GP_BANK_ACCOUNTS_OPENED
      - GP_CHINA_DECLARATIONS
      - GP_DEEL_LIABILITY
      - GP_DEPOSIT
      - GP_EARLY_TERMINATION_FEE
      - GP_ELECTRONIC_SAFE_PAYSLIPS
      - GP_EMPLOYEE_AGREEMENTS_EFE
      - GP_EMPLOYEE_FUNDING
      - GP_EXCEPTIONAL_MATTERS_HOURS_FEE
      - GP_EXPENSES_FEE
      - GP_GB_PENSION_FUND_MANAGEMENT
      - GP_GLOBAL_RERUN_OF_PAYROLL_REPORTS_FEE
      - GP_LEGAL_CONTROL_ASSISTANCE_HOURS_FEE
      - GP_MEAL_VOUCHERS
      - GP_MEDICAL_VISITS
      - GP_NEW_BRANCH_CREATION_ASSISTANCES
      - GP_NEW_REPORTS_AND_MODIFICATIONS_FEE
      - GP_NON_AUTOMATED_LODGEMENTS_FEE
      - GP_OFFCYCLE_MODIFICATIONS_OR_RERUN_FEE
      - GP_PARALLEL_RUN_FEE
      - GP_PAYROLL_CONNECT_FEE
      - GP_PAYROLL_CONNECT_SETUP_ENTITY_FEE_FLAT
      - GP_PAYROLL_EMPLOYEE_FEE
      - GP_PAYROLL_EMPLOYEE_SERVICE_FEE
      - GP_PAYROLL_ENTITY_SETUP_FEE
      - GP_PAYROLL_FEE
      - GP_PAYROLL_FEE_PER_COUNTRY
      - GP_PAYROLL_FUNDING_FEE
      - GP_PAYROLL_OFFBOARDING_FEE
      - GP_PAYROLL_ONBOARDING_FEE
      - GP_PAYROLL_SOFTWARE_FEE
      - GP_START_DELAY
      - GP_VAT_TAX
      - GP_WORK_VISAS
      - GP_YEARLY_CLOSING_FEE
      - HEALTH_INSURANCE_ANNUAL_SUBSCRIPTION_FEE
      - HEALTH_INSURANCE_FEE
      - HEALTH_INSURANCE_MONTHLY_SUBSCRIPTION_FEE
      - HOFY_EQUIPMENT_MONTHLY_SUBSCRIPTION_FEE
      - HOFY_EQUIPMENT_SEMIANNUAL_SUBSCRIPTION_FEE
      - HOFY_EQUIPMENT_SERVICE
      - HOFY_EQUIPMENT_TERMINATION_FEE
      - IC_BONUS
      - IC_COMMISSION
      - IC_DEDUCTION
      - IC_DEEL_PERCENTAGE_FEE
      - IC_DEEL_PREMIUM
      - IC_EXPENSE
      - IC_MILESTONE
      - IC_OFFCYCLE
      - IC_OTHER
      - IC_OVERTIME
      - IC_PRO_RATA
      - IC_SAAS_FLAT
      - IC_SAAS_MISSING_FEES
      - IC_SAAS_PER_CONTRACT
      - IC_START_DELAY
      - IC_TASK
      - IC_TAX_VAT
      - IC_TIME_OFF
      - IC_WITHHOLDING_TAX
      - IC_WORK
      - INTEGRATION_HRIS_FEE
      - INTERCOMPANY_MARKUP_SALARY_EXPENSES
      - INTERCOMPANY_OTHER_FINANCIAL_EXPENSES
      - INTERCOMPANY_OTHER_FINANCIAL_INCOME
      - INTERCOMPANY_PAYMENTS_LEASE_SERVICES
      - INTERCOMPANY_PAYMENTS_MARKET_PENETRATION
      - INTERCOMPANY_PAYMENT_EOR_GP_SERVICES
      - INTERCOMPANY_PAYMENT_EOR_SERVICES
      - INTERCOMPANY_PAYMENT_GP_SERVICES
      - INTERCOMPANY_PAYMENT_TECHNOLOGY_BASED_SERVICES
      - INTERCOMPANY_PROVISION_COGS_SERVICES
      - INTERCOMPANY_PROVISION_G_AND_A_SERVICES
      - INTERCOMPANY_PROVISION_PRE_POST_SALES_SERVICES
      - INTERCOMPANY_PROVISION_R_AND_D_SERVICES
      - INTERCOMPANY_SALARY_EXPENSES_PARTICIPATION
      - LATE_PAYMENT_FEE
      - LOCAL_TAX_REIMBURSEMENT_FEE
      - MANAGED_HR_MONTHLY_SUBSCRIPTION_FEE
      - MOBILITY_BUSINESS_VISA_APPLICATION
      - MOBILITY_BUSINESS_VISA_DOCUMENT_PREPARATION
      - MOBILITY_BUSINESS_VISA_ISSUANCE
      - MOBILITY_BUSINESS_VISA_TRAVEL_LETTER
      - MOBILITY_DOCUMENTATION_FEE
      - MOBILITY_DOCUMENT_A_ONE_CERTIFICATE
      - MOBILITY_DOCUMENT_COLLECTION
      - MOBILITY_DOCUMENT_ISSUANCE
      - MOBILITY_DOCUMENT_MANAGEMENT
      - MOBILITY_DOCUMENT_PREPARATION
      - MOBILITY_DOCUMENT_REVIEW
      - MOBILITY_EXPENSE_GOVERNMENT_FEES
      - MOBILITY_EXPENSE_MAIL_TRANSPORTATION
      - MOBILITY_EXPENSE_OTHER
      - MOBILITY_EXPENSE_PRINTING
      - MOBILITY_EXPENSE_TRANSLATION
      - MOBILITY_GOVERNMENT_STATUTORY_LEGAL_FEE
      - MOBILITY_H1_B_LOTTERY
      - MOBILITY_IMMIGRATION_CONSULTATION
      - MOBILITY_IMMIGRATION_DEPENDANT
      - MOBILITY_IMMIGRATION_DEPENDANT_RENEWAL
      - MOBILITY_IMMIGRATION_EMPLOYER_TRANSFER
      - MOBILITY_IMMIGRATION_FAST_TRACK
      - MOBILITY_IMMIGRATION_PROCESSING_FEE
      - MOBILITY_IMMIGRATION_RENEWAL_EXTENSION
      - MOBILITY_IMMIGRATION_VISA_CANCELLATION
      - MOBILITY_IMMIGRATION_WORK_PERMIT
      - MOBILITY_NOTIFICATION_CHANGE_OF_EMPLOYER
      - MOBILITY_NOTIFICATION_GENERAL
      - MOBILITY_NOTIFICATION_PREFECTURE
      - MOBILITY_USCIS_PREMIUM_PROCESSING
      - NETX_FEE
      - OFFICE_SOLUTION_COST
      - OFFICE_SOLUTION_FEE
      - PAYGROUP_ASTUTE_CUSTOM_DEVELOPMENT_FEE
      - PAYGROUP_ASTUTE_FEE
      - PAYGROUP_ASTUTE_IMPLEMENTATION_FEE
      - PAYGROUP_ASTUTE_INTEGRATION_FEE
      - PAYGROUP_COR_CONTRACTOR_COST
      - PAYGROUP_COR_MANAGEMENT_FEE
      - PAYGROUP_EOR_DEPOSIT
      - PAYGROUP_EOR_EMPLOYEE_COST
      - PAYGROUP_EOR_MANAGEMENT_FEE
      - PAYGROUP_FLARE_REFERRAL_FEE
      - PAYGROUP_GP_ADDITIONAL_PROCESSING_FEE_OFFCYCLES
      - PAYGROUP_GP_ADDITIONAL_PROCESSING_FEE_ONBOARDING
      - PAYGROUP_GP_ADDITIONAL_PROCESSING_FEE_TERMINATIONS
      - PAYGROUP_GP_ANNUAL_LODGEMENT_PROCESSING_FEE
      - PAYGROUP_GP_ANNUAL_PAYMENT_SUMMARY_FEE
      - PAYGROUP_GP_EMPLOYEE_REPORT_FEE
      - PAYGROUP_GP_IMPLEMENTATION_FEE
      - PAYGROUP_GP_LODGEMENT_FEE
      - PAYGROUP_GP_TREASURY_FEE
      - PAYGROUP_HR_MANAGEMENT_FEE
      - PAYGROUP_HR_MANAGER_FEE
      - PAYGROUP_IWS_BAS_LODGEMENT_FEE
      - PAYGROUP_IWS_BOOKKEEPING_FEE
      - PAYGROUP_IWS_IMPLEMENTATION_FEE
      - PAYGROUP_IWS_ROSTERING_FEE
      - PAYGROUP_PAYROLL_PROCESSING_FEE
      - PAYGROUP_RECRUITMENT_FEE
      - PAYGROUP_SMS_FEE
      - PAYGROUP_TALENTOZ_ANNUAL_SUBSCRIPTION_FEE
      - PAYGROUP_TALENTOZ_IMPLEMENTATION_FEE
      - PAYGROUP_TAX_CGST
      - PAYGROUP_TAX_CONSUMPTION
      - PAYGROUP_TAX_GST
      - PAYGROUP_TAX_IGST
      - PAYGROUP_TAX_SGST
      - PAYGROUP_TAX_SST
      - PAYGROUP_TAX_VAT
      - PAYMENT_PROCESSING_FEE
      - PEO_CARROT_FERTILITY_JOURNEY_FEE
      - PEO_COBRA_CONTINUATION_FEE
      - PEO_EARLY_TERMINATION_FEE
      - PEO_EMPLOYEE_FUNDING
      - PEO_EXPENSES_FEE
      - PEO_FEE
      - PEO_LATE_PAYMENT_FEE
      - PEO_OFFCYCLE_FEE
      - PEO_NON_PEO_EE_MINERAL_ACCESS_FEE
      - PEO_PAYROLL_COST
      - PEO_POSTERS
      - PEO_RETIREMENT_PLAN_ADMIN_FEE
      - PEO_RETIREMENT_PLAN_ESTABLISHMENT_FEE
      - PEO_RETROACTIVE_FEE
      - PEO_TIMECO_FEE
      - PEO_WC_BILLING_ND
      - PEO_WC_BILLING_OH
      - PEO_WC_BILLING_WA
      - PEO_WC_BILLING_WY
      - PEO_DELIVERY_FEE
      - PEO_IMPLEMENTATION_FEE
      - POST_REGISTRATION_FEE
      - PREPAID_BILLING_CONTRACTOR
      - PREPAID_BILLING_EOR
      - PREPAID_BILLING_EXPIRED_CREDITS
      - PREPAID_BILLING_FUNDING_AMOUNT
      - PRE_REGISTRATION_FEE
      - REFUND
      - SAAS_PER_EQUIPMENT_FEE
      - SERVICE_REFUND
      - SHIELD_DEPOSIT
      - SHIELD_MANAGEMENT_FEE
      - SHIELD_PAYROLL_COSTS
      - SYSTEM_INTEGRATOR_FEE
      - TALENT_FEE
      - TAX_CUSTOM
      - TRAVEL_INSURANCE_ANNUAL_SUBSCRIPTION_FEE
      - TRAVEL_INSURANCE_FEE
      - TRAVEL_INSURANCE_MONTHLY_SUBSCRIPTION_FEE
      - UNSPECIFIED
      - US_OFFCYCLE_MODIFICATIONS_OR_RERUN_FEE
      - US_PAYROLL_CERTIFICATE_OF_GOOD_STANDING_FEE
      - US_PAYROLL_DUPLICATE_FILING_FEE
      - US_PAYROLL_EMPLOYEE_FEE
      - US_PAYROLL_EMPLOYEE_FUNDING
      - US_PAYROLL_EXPENSES_FEE
      - US_PAYROLL_FRANCHISE_REGISTRATION_SETUP_FEE
      - US_PAYROLL_FRANCHISE_REGISTRATION_STATE_FILING_FEE
      - US_PAYROLL_FUNDING_FEE
      - US_PAYROLL_MAILING_FEE
      - US_PAYROLL_OFFBOARDING_FEE
      - US_PAYROLL_ONBOARDING_FEE
      - US_PAYROLL_PAYROLL_REGISTRATION_SETUP_FEE
      - US_PAYROLL_PLATFORM_FEE
      - US_PAYROLL_REGISTERED_AGENT_ANNUAL_SUBSCRIPTION_FEE
      - VMS_TALENT_PARTNER_FEE
      - WEWORK_ACCESS_FEE
      - WITHHOLDING_TAX
      - EOR_HEALTH_AND_SAFETY_TRAINING_FEE
      description: The type of this line item
      title: InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataLineItemsItemsType
    Accounting_retrieveDeelInvoices_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InvoicesDeelGetResponsesContentApplicationJsonSchemaDataItems'
        page:
          $ref: '#/components/schemas/InvoicesDeelGetResponsesContentApplicationJsonSchemaPage'
      required:
      - data
      - page
      title: Accounting_retrieveDeelInvoices_Response_200
    Accounting_retrieveInvoices_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InvoicesGetResponsesContentApplicationJsonSchemaDataItems'
        page:
          $ref: '#/components/schemas/InvoicesGetResponsesContentApplicationJsonSchemaPage'
      required:
      - data
      - page
      title: Accounting_retrieveInvoices_Response_200
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsGroupId:
      oneOf:
      - type: string
        format: uuid
      - $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsGroupId1'
      description: Unique identifier for the group associated with this payment. Empty for organization-level payments, individual payments, and standalone service fees that are not associated with a specific group.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsGroupId
    PaymentsGetParametersCurrencies:
      oneOf:
      - type: array
        items:
          type: string
      - type: string
      title: PaymentsGetParametersCurrencies
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItems:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the payment.
        label:
          type: string
          description: A descriptive label for the payment.
        total:
          type: string
          description: Original invoice total before any credits or balance were applied.
        status:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsStatus'
          description: Status of the payment. Either 'paid' or 'processing'.
        paid_at:
          type: string
          format: date-time
          description: Date and time when the payment was completed, in ISO-8601 format.
        workers:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsWorkersItems'
          description: Array of workers associated with this payment.
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsInvoicesItems'
          description: Array of invoices associated with this payment.
        timezone:
          type: string
          description: Timezone offset in ISO 8601 format (e.g., +02:00, -05:00).
        total_due:
          type: string
          description: Amount due for the payment after applying any credits or balance. Equals 'total' when no credits were used.
        created_at:
          type: string
          format: date-time
          description: Date and time when the payment was created, in ISO-8601 format.
        deel_reference:
          type:
          - string
          - 'null'
          description: Deel reference identifier for the payment.
        payment_method:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPaymentMethod'
          description: Payment method details for the transaction.
        payment_currency:
          type: string
          description: Three-letter currency code for the payment, following ISO 4217.
        general_funds_used:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsGeneralFundsUsed'
          description: Amount paid using the client's general balance funds.
        deel_granted_credits_used:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsDeelGrantedCreditsUsed'
          description: Amount paid using Deel-granted credits.
        prepaid_billing_credits_used:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPrepaidBillingCreditsUsed'
          description: Amount paid using prepaid billing credits.
        eor_early_invoicing_funds_used:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsEorEarlyInvoicingFundsUsed'
          description: Amount paid using EOR early invoicing funds.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItems
    InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the invoice
        label:
          type: string
          description: Human-readable label or reference number for the invoice
        total:
          type: string
          description: Total amount of the invoice
        status:
          $ref: '#/components/schemas/InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataStatus'
          description: Current payment status of the invoice.
        paid_at:
          type: string
          format: date-time
          description: Date and time when the invoice was paid
        currency:
          type: string
          description: Currency code for the invoice total
        due_date:
          type: string
          format: date-time
          description: The due date for the invoice payment
        issued_at:
          type: string
          format: date-time
          description: Date and time when the invoice was issued
        worker_id:
          type: string
          format: uuid
          description: Unique identifier for the worker profile
        created_at:
          type: string
          format: date-time
          description: Timestamp of when the invoice was created in the system
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataLineItemsItems'
          description: The individual line items associated with the invoice
        recipient_legal_entity_id:
          type: string
          format: uuid
          description: Unique identifier for the recipient legal entity
      description: The invoice resource returned
      title: InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaData
    InvoicesDeelGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice.
        label:
          type: string
          description: Label of the invoice.
        total:
          type: string
          description: Total invoice amount including Fee and VAT.
        status:
          $ref: '#/components/schemas/InvoicesDeelGetResponsesContentApplicationJsonSchemaDataItemsStatus'
          description: Current status of the invoice.
        currency:
          type: string
          description: Currency code.
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Long date-time format following ISO-8601
      required:
      - id
      - label
      - total
      - status
      - currency
      - created_at
      title: InvoicesDeelGetResponsesContentApplicationJsonSchemaDataItems
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsInvoicesItems:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice.
      required:
      - id
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsInvoicesItems
    PaymentsGetParametersEntitiesSchemaOneOf0Items:
      type: string
      enum:
      - individual
      - company
      title: PaymentsGetParametersEntitiesSchemaOneOf0Items
    Accounting_retrieveAPaymentBreakdown-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItems'
      title: Accounting_retrieveAPaymentBreakdown-v2026-01-01_Response_200
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPaymentMethod:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPaymentMethodType'
          description: Type of payment method used for the transaction.
      description: Payment method details for the transaction.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPaymentMethod
    InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        message:
          type: string
          description: Error response
      required:
      - message
      title: InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaErrorsItems
    InvoicesGetParametersInclude:
      type: string
      enum:
      - cor
      title: InvoicesGetParametersInclude
    InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaRequest:
      type: object
      properties:
        method:
          type: string
          description: Method of the API
        status:
          type: number
          format: double
          description: Status of API response
      description: Error request details
      title: InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaRequest
    InvoicesGetResponsesContentApplicationJsonSchemaDataItemsStatus:
      type: string
      enum:
      - pending
      - paid
      - processing
      - credited
      - refunded
      description: Current status of the invoice.
      title: InvoicesGetResponsesContentApplicationJsonSchemaDataItemsStatus
    InvoicesDeelGetResponsesContentApplicationJsonSchemaDataItemsStatus:
      type: string
      enum:
      - pending
      - paid
      - processing
      - canceled
      - skipped
      - failed
      - refunded
      description: Current status of the invoice.
      title: InvoicesDeelGetResponsesContentApplicationJsonSchemaDataItemsStatus
    InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataStatus:
      type: string
      enum:
      - open
      - pending
      - skipped
      - preprocessing
      - processing
      - credited
      - processed
      - paid
      - failed
      - cancelled
      - refunded
      - unpayable
      - awaiting_payment
      description: Current payment status of the invoice.
      title: InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataStatus
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractStartDate1:
      type: string
      enum:
      - ''
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractStartDate1
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsStatus:
      type: string
      enum:
      - paid
      - processing
      description: Status of the payment. Either 'paid' or 'processing'.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsStatus
    PaymentsGetParametersStatuses1:
      type: string
      enum:
      - paid
      - processing
      title: PaymentsGetParametersStatuses1
    InvoicesGetResponsesContentApplicationJsonSchemaItems:
      type: object
      properties:
        code:
          type: string
          description: Machine readable error
        message:
          type: string
          description: Description of the returned error
      title: InvoicesGetResponsesContentApplicationJsonSchemaItems
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsEorEarlyInvoicingFundsUsed:
      type: object
      properties:
        amount:
          type: string
          description: Amount deducted from EOR early invoicing funds, in the payment currency. '0.00' if not used.
        original_amount:
          type:
          - string
          - 'null'
          description: Amount deducted from EOR early invoicing funds, in the original currency they were held in. Null if not used.
        original_currency:
          type:
          - string
          - 'null'
          description: Currency in which the EOR early invoicing funds were held, following ISO 4217. Null if not used.
      description: Amount paid using EOR early invoicing funds.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsEorEarlyInvoicingFundsUsed
    PaymentsGetParametersEntities0:
      type: array
      items:
        $ref: '#/components/schemas/PaymentsGetParametersEntitiesSchemaOneOf0Items'
      title: PaymentsGetParametersEntities0
    InvoicesGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of this resource.
        label:
          type: string
          description: Label or reference number of the invoice.
        total:
          type: string
          description: Total invoice amount, including fees and VAT.
        amount:
          type:
          - string
          - 'null'
          description: Billed amount of the invoice.
        status:
          $ref: '#/components/schemas/InvoicesGetResponsesContentApplicationJsonSchemaDataItemsStatus'
          description: Current status of the invoice.
        vat_id:
          type:
          - string
          - 'null'
          description: VAT identification number related to the invoice.
        paid_at:
          $ref: '#/components/schemas/InvoicesGetResponsesContentApplicationJsonSchemaDataItemsPaidAt'
          description: Date/time when the invoice was paid (ISO-8601). May be null or empty string.
        currency:
          type: string
          description: Three-letter currency code for the invoice.
        deel_fee:
          type:
          - string
          - 'null'
          description: Fee charged by Deel.
        due_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time when the invoice is due (ISO-8601 format).
        issued_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time when the invoice was issued (ISO-8601 format).
        vat_total:
          type:
          - string
          - 'null'
          description: Total amount of VAT charged on the invoice.
        created_at:
          type: string
          format: date-time
          description: Date and time when the invoice was created (ISO-8601 format).
        is_overdue:
          type:
          - boolean
          - 'null'
          description: Indicates whether the invoice is overdue.
        contract_id:
          type:
          - string
          - 'null'
          description: Unique identifier of the related contract.
        vat_percentage:
          type:
          - string
          - 'null'
          description: Percentage of VAT charged on the invoice.
        recipient_legal_entity_id:
          type: string
          format: uuid
          description: Unique identifier for the recipient legal entity
      required:
      - id
      - label
      - total
      - status
      - vat_id
      - paid_at
      - currency
      - due_date
      - issued_at
      - vat_total
      - created_at
      - is_overdue
      - contract_id
      - vat_percentage
      title: InvoicesGetResponsesContentApplicationJsonSchemaDataItems
    PaymentsGetParametersStatusesSchemaOneOf0Items:
      type: string
      enum:
      - paid
      - processing
      title: PaymentsGetParametersStatusesSchemaOneOf0Items
    PaymentsGetParametersStatuses0:
      type: array
      items:
        $ref: '#/components/schemas/PaymentsGetParametersStatusesSchemaOneOf0Items'
      title: PaymentsGetParametersStatuses0
    PaymentsGetParametersEntities:
      oneOf:
      - $ref: '#/components/schemas/PaymentsGetParametersEntities0'
      - $ref: '#/components/schemas/PaymentsGetParametersEntities1'
      title: PaymentsGetParametersEntities
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsApproveDate1:
      type: string
      enum:
      - ''
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsApproveDate1
    ApiErrorContainer:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/ApiErrorRequest'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
      title: ApiErrorContainer
    InvoicesDeelGetResponsesContentApplicationJsonSchemaPage:
      type: object
      properties:
        offset:
          type: number
          format: double
          description: Offset
        total_rows:
          type: number
          format: double
          description: Total number of rows
        items_per_page:
          type: number
          format: double
          description: Number of items per page
      required:
      - offset
      - total_rows
      - items_per_page
      title: InvoicesDeelGetResponsesContentApplicationJsonSchemaPage
    PaymentsGetResponsesContentApplicationJsonSchemaData:
      type: object
      properties:
        rows:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItems'
          description: Array of payment receipts matching the query criteria.
        total:
          type: number
          format: double
          description: The total number of payments matching the query.
        has_more:
          type: boolean
          description: Inform if there are more entries to be fetched using next cursor,.
        next_cursor:
          type:
          - string
          - 'null'
          description: A cursor for pagination. Use the value returned in the 'next_cursor' field to get the next page of results. If there are no more results, this will be null.
        total_count:
          type: number
          format: double
          description: The total number of payments matching the query.
      title: PaymentsGetResponsesContentApplicationJsonSchemaData
    ApiError:
      type: object
      properties:
        message:
          type: string
          description: A description of the returned error
        path:
          type: string
          description: The JSON path where input validation failed
      title: ApiError
    InvoicesGetParametersStatus:
      type: string
      enum:
      - all
      title: InvoicesGetParametersStatus
    PaymentsGetResponsesContentApplicationJsonSchemaErrorsItems:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      title: PaymentsGetResponsesContentApplicationJsonSchemaErrorsItems
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsFrequency:
      type: string
      enum:
      - hourly
      - daily
      - weekly
      - biweekly
      - semimonthly
      - monthly
      - custom
      - ''
      description: Work unit scale from the contractor's work statement. Indicates how work is measured and reported (hourly, daily, weekly, monthly, or custom units). Empty for contracts with fixed payments that don't require work quantity tracking, such as milestone-based contracts and consulting agreements.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsFrequency
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsWorkersItems:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
          description: Unique identifier for the worker.
        name:
          type: string
          default: ''
          description: Full name of the worker.
        picUrl:
          type:
          - string
          - 'null'
          description: URL to the worker's Deel avatar.
        contract_id:
          type:
          - string
          - 'null'
          description: The unique identifier of the employee contract.
      required:
      - picUrl
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsWorkersItems
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsApproveDate:
      oneOf:
      - type: string
        format: date-time
      - $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsApproveDate1'
      description: Date when the work report was approved by designated approvers. Empty for payments that don't require work report approval, such as service fees, management fees, and automated payments.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsApproveDate
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractorUniqueIdentifier1:
      type: string
      enum:
      - ''
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractorUniqueIdentifier1
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsGeneralFundsUsed:
      type: object
      properties:
        amount:
          type: string
          description: Amount deducted from general funds, in the payment currency. '0.00' if not used.
        original_amount:
          type:
          - string
          - 'null'
          description: Amount deducted from general funds, in the original currency it was held in. Null if not used.
        original_currency:
          type:
          - string
          - 'null'
          description: Currency in which the general funds were held, following ISO 4217. Null if not used.
      description: Amount paid using the client's general balance funds.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsGeneralFundsUsed
    Accounting_getInvoiceById-v2026-01-01_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaData'
          description: The invoice resource returned
      title: Accounting_getInvoiceById-v2026-01-01_Response_200
    PaymentsGetParametersStatuses:
      oneOf:
      - $ref: '#/components/schemas/PaymentsGetParametersStatuses0'
      - $ref: '#/components/schemas/PaymentsGetParametersStatuses1'
      title: PaymentsGetParametersStatuses
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItems:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Date associated with the payment breakdown.
        work:
          type: string
          description: Base payment amount for work performed, including regular salary/wages and off-cycle payments.
        bonus:
          type: string
          description: Additional bonus payment amount awarded to the worker.
        total:
          type: string
          description: Total payment due for this breakdown item.
        others:
          type: string
          description: Other payment amounts.
        currency:
          type: string
          description: Currency code for this payment.
        expenses:
          type: string
          description: Expenses related to the payment.
        group_id:
          $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsGroupId'
          description: Unique identifier for the group associated with this payment. Empty for organization-level payments, individual payments, and standalone service fees that are not associated with a specific group.
        overtime:
          type: string
          description: Overtime payment amount.
        pro_rata:
          type: string
          description: Pro-rated payment amount.
        approvers:
          type: string
          description: Comma-separated list of names of people who approved this payment. May be empty if no approvals were required or recorded.
        frequency:
          $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsFrequency'
          description: Work unit scale from the contractor's work statement. Indicates how work is measured and reported (hourly, daily, weekly, monthly, or custom units). Empty for contracts with fixed payments that don't require work quantity tracking, such as milestone-based contracts and consulting agreements.
        adjustment:
          type: string
          description: Adjustment amount for the payment.
        deductions:
          type: string
          description: Deductions from the payment.
        invoice_id:
          type: string
          description: Unique identifier of this resource.
        commissions:
          type: string
          description: Commissions included in the payment.
        approve_date:
          $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsApproveDate'
          description: Date when the work report was approved by designated approvers. Empty for payments that don't require work report approval, such as service fees, management fees, and automated payments.
        payment_date:
          type: string
          format: date-time
          description: Date when the payment was made.
        contract_type:
          $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractType'
          description: Type of contract this payment relates to. Determines the nature of the work relationship and payment structure.
        processing_fee:
          type: string
          description: Processing fee amount applied to the payment.
        contract_country:
          type: string
          description: Country where the contract is established.
        contractor_email:
          type: string
          description: Email address of the worker.
        payment_currency:
          type: string
          description: Currency in which the payment was processed.
        contract_start_date:
          $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractStartDate'
          description: Start date of the contract. Empty for service agreements and fee-related contracts (such as equipment payments, insurance payments, and management fees) that don't have traditional contract start dates.
        general_ledger_account:
          type: string
          description: General ledger account code or name for accounting purposes. May be configured at the group, company, or organization level. Empty if not configured.
        total_payment_currency:
          type: string
          description: Total payment in the payment currency.
        contractor_employee_name:
          type: string
          description: Name of the worker.
        contractor_unique_identifier:
          $ref: '#/components/schemas/PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsContractorUniqueIdentifier'
          description: Unique identifier for the worker. May be empty for certain contract types such as service agreements and fees.
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItems
    PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPaymentMethodType:
      type: string
      enum:
      - stripe_bacs_debit
      - pay_pal
      - stripe_card
      - bt_card
      - stripe_ach
      - coinbase
      - go_cardless
      - brex
      - stripe_sepa_debit
      - transferwise
      - go_cardless_becs
      - bank_transfer
      - mercury_wire
      - bt_pay_pal
      - ach
      - client_balance
      - fee_credits
      - eor_funding_balance
      - alviere_ach
      - adyen_card
      description: Type of payment method used for the transaction.
      title: PaymentsGetResponsesContentApplicationJsonSchemaDataRowsItemsPaymentMethodType
    InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataLineItemsItems:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the line item
        type:
          $ref: '#/components/schemas/InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataLineItemsItemsType'
          description: The type of this line item
        total:
          type: string
          description: Total amount for this line item
        fx_rate:
          type: string
          description: Exchange rate used for this line item
        quantity:
          type: integer
          description: Quantity of units billed in this line item
        tax_rate:
          type: string
          description: Tax rate applied to this line item
        tax_type:
          type:
          - string
          - 'null'
          description: Type of tax applied (if any); can be null
        description:
          type: string
          description: Main description of the line item
        price_per_unit:
          type: number
          format: double
          description: Price charged per unit
        sub_description:
          type: string
          description: Optional additional description or detail
      title: InvoicesInvoiceIdGetResponsesContentApplicationJsonSchemaDataLineItemsItems
    ApiErrorRequest:
      type: object
      properties:
        method:
          type: string
          description: The HTTP method of the failed request
        url:
          type: string
          description: The relative URL of the failed request
        status:
          type: number
          format: double
          description: The status code of the response
        api_req_id:
          type: string
          description: The request ID of the failed request
        docs:
          type: string
          description: A link to the official documentation for the requested endpoint resource
        source:
          type: string
          description: The source handler which produced the returned error
        code:
          type: number
          format: double
          description: The code of the source handler which produced the returned error
      title: ApiErrorRequest
    PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsGroupId1:
      type: string
      enum:
      - ''
      title: PaymentsPaymentIdBreakdownGetResponsesContentApplicationJsonSchemaDataItemsGroupId1
    RetrievePaymentReceipts-v2026-01-01RequestInternalServerError:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsGetResponsesContentApplicationJsonSchemaErrorsItems'
      required:
      - errors
      title: RetrievePaymentReceipts-v2026-01-01RequestInternalServerError
  securitySchemes:
    deelToken:
      type: http
      scheme: bearer
      description: "## Authentication\nThe Deel API uses bearer tokens to authenticate requests. All API calls must be made over HTTPS — calls over plain HTTP or without authentication will fail.\n\n```curl\ncurl -X GET 'https://api.letsdeel.com/rest/v2/contracts' \\\n  -H 'Authorization: Bearer YOUR-TOKEN-HERE'\n```\n\n[Learn more about authentication](/api/authentication)\n"
    oauth2:
      type: http
      scheme: bearer
      description: Standard OAuth2 security scheme based on https://swagger.io/docs/specification/authentication/
